[2019-02-04 11:45] shreyasbapat opened #8 "Make Plotting Module more intuitive"
Right now, one can only plot a single plot per code. Improve it :rocket:

[2019-02-04 11:47] shreyasbapat opened #9 "Add a 3D Plotting Module"
Options: plotly, mayavi, mpl_3D

[2019-02-04 11:51] shreyasbapat opened #10 "Add proper Documentation"
- [x] API Docs

- [x] Readme

- [ ] User Guide

- [x] Getting Started

[2019-02-04 11:52] shreyasbapat opened #11 "Proper Testing Framework"
Add tests for every written module.

[2019-02-05 06:28] spino17 opened #14 "Simulation for arbitrarily complicated matter fields"
The implementation of numerical methods that would be used to simulate and solve Einstein's field equation for arbitrary stress-energy-momentum tensor field and obtain numerical values of metric tensor on a finite grid field.

[2019-02-05 06:54] spino17 opened #15 "Robertson-Walker flat metric"
Implement detailed features for expanding universe metric and simulate geodesics for the same. Along with geodesics calculation, show signature plots for energy shifts.

[2019-02-05 06:59] spino17 opened #16 "pp-wave metric"
Implement pp-wave metric and solve geodesics equation. Further improve upon this implementation to simulate for gravitational waves metric and their characteristic signatures for simple matter distribution.

[2019-02-05 08:17] shreyasbapat opened #17 "Resolve Units in Schwartzschild Metric"
🐞 **Problem**
There is a lot of confusion about units and input values in this.

🎯 **Goal**
Getting the whole module consistent with astropy units

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a

[2019-02-05 09:07] vinaybommana opened #18 "website URL not working"
🐞 **Problem**
website url for github.io not working

![einsteinpy](https://user-images.githubusercontent.com/16438494/52262741-5402ba00-2953-11e9-9cb6-414788f46c46.PNG)

while follow the link, I am getting 404 error
![image](https://user-images.githubusercontent.com/16438494/52262773-6ed52e80-2953-11e9-8465-8b06527e88c1.png)

[2019-02-05 09:16] shreyasbapat commented on #18
Hello @vinaybommana , thanks for checking. We are currently developing the website and would really appreciate contributions. The library is under serious development and we would take some time to develop the website. If you are interested to contribute to the project, checkout these issues: https://github.com/einsteinpy/einsteinpy/issues

You can also contribute to the website project: https://g

[2019-02-05 09:17] shreyasbapat commented on #18
I will further mark this for 0.1 milestone.

[2019-02-05 14:34] shreyasbapat commented on #18
I think we can close it!
@vinaybommana We have deployed a website/blog! You can check it out!
Thanks for the motivation!

[2019-02-05 14:34] #18 closed

[2019-02-06 04:44] ritzvik opened #26 "Add cartesian coordinate system in schwarzschild.py"
Currently the module is only accepting spherical coordinates.
It would be better if there is an option of using cartesian coordinates.
New Classmethod : Schwarzschild.from_cartesian()

[2019-02-06 07:19] shreyasbapat commented on #17
Closed in #19

[2019-02-06 07:19] #17 closed

[2019-02-06 07:56] shreyasbapat commented on #10
Added Readme in https://github.com/einsteinpy/einsteinpy/commit/241311db2291b5b5fc35d5bd496ed1d16fee5344

[2019-02-07 07:18] shreyasbapat commented on #10
Added documentation in #34  at https://einsteinpy-project.readthedocs.io/en/latest/

[2019-02-07 09:15] spino17 opened #36 "Simulation of orbits - Animations"
Simulating orbits with coordinate time running and correspondingly plot radial and angular coordinates and showing plots in animation format

[2019-02-07 10:46] shreyasbapat commented on #8
Closed as of now due to #24 #23 #22

[2019-02-07 10:46] #8 closed

[2019-02-07 11:03] shreyasbapat commented on #36
Baiscally we want animations right?

[2019-02-07 12:27] shreyasbapat opened #38 "Implement "kerr" Metric"
Calculating the geodesics of rotating charged black holes (kerr geometry). It can be thought as a generalisation of Schwarzschild geometry.

Idea :bulb: : We can create a parent class for `Schwarzschild` if that's possible.

[2019-02-07 12:30] shreyasbapat opened #39 "Leverage numba jit"
🐞 **Problem**

As of now, very simple computations take a lot of time to run. We can use `@jit` decorator provided by numba.

🎯 **Goal**

Make einsteinpy faster.

💡 **Possible solutions**

http://numba.pydata.org/numba-doc/latest/user/jit.html

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and ad

[2019-02-07 12:33] shreyasbapat opened #40 "Add a 7th or 8th order ODE Solver"
Resources are available on internet. Also, they can be shared later on this thread.

[2019-02-07 12:38] shreyasbapat opened #41 "Visualise orbits from JPLHorizons and JPLEphem"
This will be a nice feature to add as most users won't be bothering about finding the actual velocity and distance metrics. Hope we can get that from here?

[2019-02-07 19:31] shreyasbapat commented on #15
#42 Addressed this!

[2019-02-07 19:31] shreyasbapat commented on #15
Still some more efforts are needed, so keeping it open!

[2019-02-08 15:56] ritzvik commented on #15
More theoretical clarity needed. Temporarily moved files to bin. Would come back after sufficient knowledge.
See #43

[2019-02-09 06:05] ritzvik commented on #26
Adding necessary functions in utils to support the functionality.
See #44

[2019-02-10 08:58] shreyasbapat opened #46 "Import Mismatch Errors in CircleCI Build"
https://circleci.com/gh/einsteinpy/einsteinpy/75?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

See this!

[2019-02-10 09:18] shreyasbapat commented on #46
`--doctest-modules` is the issue.

`pytest --doctest-modules -vv` is converted to `pytest  -vv` to fix it. A hack, but it's fine until we find a solution.

[2019-02-10 10:05] ritzvik commented on #26
#47. Added support to input cartesian coordinates in any units and return in SI units

[2019-02-10 10:05] #26 closed

[2019-02-10 10:29] shreyasbapat commented on #11
#44 #26 #45 Fixes this!

[2019-02-10 10:29] #11 closed

[2019-02-10 11:22] shreyasbapat commented on #46
Related to this: https://github.com/pytest-dev/pytest/issues/2042

[2019-02-10 14:13] ritzvik opened #52 "Using numpy.vectorize instead of for loops for a better code"
https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/utils/coord_transforms.py#L199-L204
For loop can be replaced by np.vectorize by vectorizing the functions used in the for loop

[2019-02-10 16:30] ritzvik opened #53 "Implement a basic ray tracer using schwarzschild geometry"
A simple ray-tracer for visualizing how objects behind a massive object is made visible due to gravitational lensing. A bare-bones model could work initially.

[2019-02-18 18:38] shreyasbapat opened #59 "Migrate to bqplot for animations"
https://github.com/bloomberg/bqplot

Worth exploring! Or not?

[2019-02-19 04:16] ritzvik opened #61 "Add jupyter notebook examples"
As the theory is quite rigorous, and a lack of documentation as of now, creating examples would help people use the library.

[2019-02-19 04:18] ritzvik opened #62 "Add functions for symbolic manipulations required in GR"
We can use sympy to write functions which can act as utilities, and can return relevant expressions in symbolic form only. It can be nice cool addition to the library.

[2019-02-25 10:27] shreyasbapat opened #68 "No API Docs for EinsteinPy"
🐞 **Problem**

There is no API Docs for the project which is bad :/

🎯 **Goal**

Subset of #10

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebr

[2019-02-28 17:28] ritzvik opened #70 "Evolve symbolic calculations related to GR as a seperate module within the library"
🐞 **What bugs you?**
Along with being a library for numerical relativity, the library should support calculation of core GR related quantities in their symbolic form using [Sympy](https://www.sympy.org/). Currently, some symbolic functions reside in `christoffel.py` in `utils`.

🎯 **Goal**
  - Move functions to a separate module and make this a full fledged feature of the library.
  - Add many mor

[2019-02-28 17:29] ritzvik commented on #70
@shreyasbapat add respective labels

[2019-02-28 21:49] shreyasbapat commented on #10
Added API docs in #72

[2019-02-28 22:27] shreyasbapat opened #73 "Create an Example Gallery Notebook"
🐞 **Problem**
We must have something like this:
https://github.com/poliastro/poliastro/blob/master/index.ipynb

🎯 **Goal**

Ease in navigating through the notebook gallery.

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue n

[2019-02-28 22:28] shreyasbapat commented on #68
Closed in #72

[2019-02-28 22:28] #68 closed

[2019-02-28 22:29] shreyasbapat commented on #61
I guess this has been tackled in #72

[2019-02-28 22:29] #61 closed

[2019-02-28 22:30] shreyasbapat commented on #41
I am moving this to the next milestone as the decision has to made properly.

[2019-02-28 22:31] shreyasbapat commented on #10
This issue is just one User Guide push close.

[2019-02-28 22:32] shreyasbapat commented on #15
I believe this issue will also be tackled in the next release. More clarity is needed.

[2019-03-01 01:45] ritzvik commented on #10
Great efforts @shreyasbapat
Some subtle issues to be fixed:

Metric module contains Schwarzschild module not Geodesics module.
![1](https://user-images.githubusercontent.com/24695764/53610338-59ee6280-3bc2-11e9-98e4-7ebacde65a6f.PNG)

Schwarzschild Module is about calculation, not plotting. One-liner after the heading needs to be changed.
![2](https://user-images.githubusercontent.com/24695764/536

[2019-03-01 02:25] ritzvik commented on #10
Module name fix tried
#74

[2019-03-01 07:32] shreyasbapat commented on #10
@spino17 @ritzvik  Kindly push a user guide

[2019-03-01 07:51] shreyasbapat opened #75 "Link to Jupyter Notebooks in Getting Started is old"
🐞 **Problem**
In https://einsteinpy-project.readthedocs.io/en/latest/getting_started.html#contribute

Various examples can be found in the **examples** folder.

As we know, the sphinx beautifully generates the jupyter notebooks in documentation.
We should link it to that.
A very easy fix

🎯 **Goal**
We should focus on consistency in docs.

💡 **Possible solutions**
Just change the link of examples

[2019-03-01 15:25] ritzvik opened #76 "Add badge for "chat on riot""
A "chat on riot" badge can be added to readme.rst just like "chat on gitter" badge.
See https://shields.io/category/chat

riot chat link : https://riot.im/app/#/room/#einsteinpy:matrix.org

[2019-03-01 19:33] ritzvik commented on #76
Done!

[2019-03-01 19:34] shreyasbapat commented on #76
Not closed until #77 is merged :)

[2019-03-01 19:55] #76 closed

[2019-03-01 19:56] ritzvik commented on #76
Finally done! #77 meeged

[2019-03-01 19:57] shreyasbapat opened #78 "Badges in Documentation and README don't match"
🐞 **Problem**
![screenshot from 2019-03-02 01-25-30](https://user-images.githubusercontent.com/24257914/53662905-34c52700-3c8a-11e9-96f1-5a576f573a75.png)
![screenshot from 2019-03-02 01-25-35](https://user-images.githubusercontent.com/24257914/53662906-355dbd80-3c8a-11e9-93c3-8443b450e507.png)

🎯 **Goal**
These two set of badges should match!

💡 **Possible solutions**

📋  **Steps to solve the pro

[2019-03-01 19:57] shreyasbapat commented on #78
@hrishi32 You didn't do it properly! Would you ike to give it a try?

[2019-03-02 05:35] hrishi32 commented on #78
Done :)

[2019-03-02 09:46] #78 closed

[2019-03-02 16:51] ritzvik opened #80 "Markdown in Jupyter Notebook not rendering properly in Sphinx Documentation"
🐞 Markdown in Jupyter Notebook not rendering properly in Sphinx Documentation

![6](https://user-images.githubusercontent.com/24695764/53684896-50bcdd00-3d0b-11e9-854a-125acd324580.PNG)

See https://einsteinpy-project.readthedocs.io/en/latest/examples/Analysing%20Earth%20using%20EinsteinPy!.html

[2019-03-02 20:47] ritzvik commented on #53
#81 attempt

[2019-03-02 22:03] shreyasbapat commented on #80
I am not sure about the complexity of the problem. It might be an upstream problem too!

[2019-03-03 09:48] shreyasbapat opened #82 "Add save methods in plotting classes"
🐞 **Problem**

The plots, as of now can't be saved in png/jpg format
🎯 **Goal**

💡 **Possible solutions**

Add a `save` method to all the `*GeodesicPlotters`

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comme

[2019-03-03 11:04] shreyasbapat opened #83 "Release 0.1 checklist"
### Before release

- [x]  Rerun notebooks

- [x]  Complete Changelog

- [x]   Add future branch to CI scripts

- [x]   New branch

- [x]   Bump version in:
  - `README.rst`
  - `__init__.py`
  - Sphinx `conf.py`
  - AppVeyor CI script

- [x]   Check that the release branch will be tested on CI

- [x]   Check all the badges in `README` point to the appropriate git **branch** (replace `master` by n

[2019-03-03 12:44] #39 closed

[2019-03-03 12:45] shreyasbapat commented on #39
Added in #84

[2019-03-03 12:46] shreyasbapat commented on #38
@ritzvik Might complete kerr null geodesics soon!

[2019-03-03 13:42] shreyasbapat commented on #83
### Before Alpha 1 release

- [ ]  Rerun notebooks

- [ ]  Complete Changelog

- [ ]   Add future branch to CI scripts

- [ ]   New branch

- [ ]   Bump version in:
  - `README.rst`
  - `__init__.py`
  - Sphinx `conf.py`
  - AppVeyor CI script

- [ ]   Check that the release branch will be tested on CI

- [ ]   Check all the badges in `README` point to the appropriate git **branch** (replace `mast

[2019-03-03 14:07] shreyasbapat commented on #80
Fixed in https://github.com/einsteinpy/einsteinpy/commit/d3ae5b7ad5fc4b37fe0eefd6cecaec5b72e51002

[2019-03-03 14:07] #80 closed

[2019-03-04 08:42] ritzvik commented on #10
PR #88 also fixes :
 Sub-bulleted list not rendering in "What's New"

![7](https://user-images.githubusercontent.com/24695764/53720759-6b9d6780-3e59-11e9-8467-76c511dd2ae9.PNG)

[2019-03-04 11:06] ritzvik opened #89 "More tests for Boyer-Lindquist coordinates where a!=0"
🐞 **Problem**
As of now, Boyer-Lindquist coordinates utils are tested against values where a=0, which essentially makes it normal Spherical Coordinates.

🎯 **Goal**
- Writing tests for a!=0. The util is in ```utils/bl_coord_transforms.py``` and tests are in ```tests/test_utils/test_bl_coord_transforms.py``` .
- It would validate the module for a!=0 cases which would be frequently used in Kerr Metr

[2019-03-04 12:52] ritzvik opened #90 "EinsteinPy Logo in ReadTheDocs too large (2 MB)."
🐞 **Problem**
As the logo is too large, it takes a long time to load as well as significant data usage :( . A smaller logo, probably 50-200 KB is feasible.

💡 **Possible solutions**
Supply with a smaller logo, ```docs/source/_static``` and change the logo in ```docs/source/conf.py``` .

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push y

[2019-03-04 12:58] ritzvik commented on #90
Issue might me related to #10

[2019-03-05 10:40] ritzvik opened #91 "Add proper docstrings in Integrators module"
🐞 **Problem**
proper docstrings are absent in ```integrator/runge_kutta.py```.

🎯 **Goal**
 - Adding proper docstrings
 - It's important so that API is reflected correctly in ReadTheDocs.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>

[2019-03-06 08:17] sashank27 commented on #82
Hi! @shreyasbapat I would like to work on this!

[2019-03-06 12:24] shreyasbapat commented on #82
Sure @sashank27 ! All yours!

[2019-03-07 13:36] #82 closed

[2019-03-07 13:37] #89 closed

[2019-03-07 13:38] shreyasbapat commented on #91
Closed in #93

[2019-03-07 13:38] #91 closed

[2019-03-07 13:39] shreyasbapat commented on #90
Closed in #93

[2019-03-07 13:39] #90 closed

[2019-03-07 19:16] #10 closed

[2019-03-07 20:26] shreyasbapat commented on #73
Fixed in https://github.com/einsteinpy/einsteinpy/commit/2f20ac0c69f15c9a5b195df141ead3dfe994264c

[2019-03-07 20:26] #73 closed

[2019-03-07 20:58] shreyasbapat commented on #83
Test Pypi Release: https://test.pypi.org/project/einsteinpy/

[2019-03-07 21:20] shreyasbapat commented on #83
Pypi release: https://pypi.org/project/einsteinpy/

[2019-03-07 23:10] shreyasbapat opened #98 "jit all the functions which are slow"
🐞 **Problem**

Some methods are tooo slow! For which we brought `einsteinpy.ijit.jit`
🎯 **Goal**
Make einsteinpy fast!

💡 **Possible solutions**
Identify the slow methods, and

[code]
Very easy.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue numbe

[2019-03-08 13:37] shreyasbapat commented on #83
@Masquerade0097 I think we should not loose this day!

[2019-03-08 14:17] Masquerade0097 commented on #83
@shreyasbapat I have made the PR https://github.com/conda-forge/staged-recipes/pull/7943. Working on fix the build.

[2019-03-08 18:56] shreyasbapat commented on #83
https://github.com/conda-forge/einsteinpy-feedstock

[2019-03-08 18:56] #83 closed

[2019-03-08 20:50] m0hdas commented on #52
I doubt the vectorize method is going to produce a better performance. It's merely put there for convenience - check out at the [docs](https://docs.scipy.org/doc/numpy/reference/generated/numpy.vectorize.html) .

[2019-03-08 21:54] shreyasbapat commented on #52
Hi @m0hdas ! Thanks for pointing that out! But I think I will still prefer `np.vectorize` for a simple benefit: Better Code at EinsteinPy end! As, at last we are anyways going to `@jit` most of the functions. It will be better if we really get into numpy ecosystem.

[2019-03-08 21:54] shreyasbapat commented on #52
And as you pointed it out, I am removing the label!

[2019-03-10 14:03] Gaurav047 opened #102 "Simulation for Relativistic Kinematics of an electron."
For a theoritical understanding, please refer :
https://www.phys.hawaii.edu/~teb/phys481l/relkin.pdf

To get a rough idea, have a look at the relativistic particle-in-cell simulation of laser particle acceleration in an underdense hydrogen plasma :
https://youtu.be/5XCYbWH4Ys0

[2019-03-10 15:02] ritzvik commented on #102
@Gaurav047 Thanks for the issue. We'll look into this after we have a significant progress with the relativistic gravitational physics part. Meanwhile @shreyasbapat can add the appropriate labels.

Thanks again

[2019-03-11 13:56] Masquerade0097 opened #103 "Implement Adaptive Mesh Refinement"
🎯 **Goal**

implement basic Adaptive Mesh Refinement (AMR) in EinsteinPy which would lay the foundation for planned future black hole simulations. Lot of open source work exists for AMR which can be used as a reference. The student should port some of the AMR techniques from these existing solutions into EinsteinPy.

[2019-03-11 14:00] ritzvik commented on #38
time-like geodesics for Kerr Done!. Next stop : Kerr null geodesics

[2019-03-11 14:01] ritzvik commented on #38
@shreyasbapat close this!

[2019-03-11 14:30] ritzvik opened #105 "Null Geodesics for Kerr & Schwarzschild Geometry"
🐞 **What bugs you?**
Null-geodesics is the path traced by light rays in 4-D space-time. We aim to calculate null geodesics around non-rotating (Schwarzschild) and rotating (Kerr) massive bodies given the initial conditions.
This feature would support the one of the celebrated phenomenons in GR, gravitational lensing.

🎯 **Goal**
  - Null geodesic in Kerr/Schwarzschild space-time
  - Plotting class

[2019-03-11 14:34] ritzvik commented on #53
#105 issue is similar. Closing this.

[2019-03-11 14:34] #53 closed

[2019-03-11 14:38] shreyasbapat commented on #38
Closed in #101

[2019-03-11 14:38] #38 closed

[2019-03-11 15:28] spino17 opened #106 "Implementation of functionalities for gravitational lensing simulation"
Improve upon an existing code for hypersurface embedding in schwarzschild geometry and implement methods to add features like:
- Plots to include asymptotically large radial distance to  #visualise gravitational lensing effects from distant source.
- Solve numerically geodesics equation on the 3d embedding surface obtain null trajectory for light rays in spacial dimensions.
- Plot trajectories on

[2019-03-11 15:35] shreyasbapat opened #107 "Add code for hypersurface embedding in schwarzschild geometry"
🐞 **Problem**
The code is ready but not pushed yet!

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this p

[2019-03-11 18:11] ritzvik opened #108 "Leverage the symmetry of christoffel symbols to ease it's calculation for Kerr Metric"
🐞 **Problem**
Kerr Metric is symmetric over its lower indices. That is Y<sup>i</sup><sub>kl</sub> = Y<sup>i</sup><sub>lk</sub>. However this is not being leveraged for faster computation as of now.

🎯 **Goal**
Re-implement function `christoffels()` in `utils/kerr_utils.py` to make it faster

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, p

[2019-03-11 18:12] ritzvik commented on #108
@shreyasbapat assign it appropriate labels including good-first-issue

[2019-03-12 04:00] ritzvik commented on #105
Some freely available repos related to the issue :
  - https://github.com/grtrace/grtrace
  - https://github.com/Varcho/GeneralRelativity

[2019-03-12 06:08] ritzvik opened #109 "Coding the right event horizon for Kerr & Kerr-Newman space-time"
🐞 **Problem**
As of now, in calculation of time-like trajectory in Kerr metric stops and raises a warning on reaching schwarzschild radius. But event horizon in kerr spacetime is smaller than schwarzschild radius. But the exact values need to be researched.

🎯 **Goal**
  - Research about the problem and specify the correct radius after which computation should stop in `metric/kerr.py`.

- [x] Kerr

[2019-03-12 14:18] pmk21 commented on #52
Is anyone working on this? If not, could I give it a shot?

[2019-03-12 14:29] ritzvik commented on #52
Thanks for your interest. Kindly go ahead with the problem.
Similar snippet is also implemented in another utility file : https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/utils/bl_coord_transforms.py#L224-L228 .

[2019-03-12 14:55] ritzvik commented on #62
Similar Issue #70
Closing this

[2019-03-12 14:55] #62 closed

[2019-03-12 17:21] pmk21 commented on #52
Yes, working on it. Will create PR soon.

[2019-03-13 00:37] raphaelreyna commented on #108
I can try to do this.

[2019-03-14 05:07] ritzvik opened #113 "Refactor some functions in Schwarzschild and Kerr class"
🐞 **Problem**
`calculate_trajectory()` and `calculate_trajectory_iterator()` in both `metric/schwarzschild.py` and `metric/kerr.py` have become a mess. Refactoring is required.

🎯 **Goal**
  - Refactor them such that both `cyclometic` and `cognitive` complexity remains low.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes

[2019-03-14 14:17] #52 closed

[2019-03-14 14:18] #108 closed

[2019-03-14 17:57] ritzvik opened #114 "Implement the event horizon and ergosphere of Kerr black holes"
🐞 **What bugs you?**
Event horizon is the point of no return in a black hole from which object can escape only with a speed greater than that of light. Ergosphere is an region around black hole where objects are forced to co-rotate with the black hole due to frame dragging. In kerr black holes:
  - Formula for event horizon : R<sub>H</sub> = 0.5(Rs + sqrt(Rs<sup>2</sup> - 4*a<sup>2</sup>))
    - S

[2019-03-14 18:05] ritzvik commented on #114
Solving this issue is a step towards fixing #109

[2019-03-14 22:15] shreyasbapat opened #115 "BL and Normal Coordinate Transformation : Confusion in Names!"
🐞 **Problem**

There is lot of confusion in coordinates transformation!
`bl_coord_transforms` and `coord_transforms` are not good names as in the `coord_transforms` does not specify the type of coordinates it works on while `bl_coord_transforms` clearly tells user what the module does! There is a need to make the coord transforms more intuitive.

🎯 **Goal**

Make coordinate transformations more in

[2019-03-15 02:55] ritzvik opened #116 "Change indexing style in numpy arrays"
🐞 **Problem**
To access an element of a 3-d array a, we have been doing `a[i][j][k]` which is slow as a copy of `a[i]` and `a[i][j]` is being created and discarded. Same for 2-d arrays where things are accessed by `a[i][j]`. I believe things are becoming slow for the reason

🎯 **Goal**
  - convert 3-d array indexing from `a[i][j][k]` to `a[i, j, k]` wherever applicable.
  - convert 2-d array index

[2019-03-15 06:49] ritzvik commented on #115
How about we create a separate module called `coords` in Einsteinpy.
We can have `sph_crt.py` for Spherical<->Cartesian conversions, `bl_crt.py` for Boyer-Lindquist<->Cartesian conversions & maybe `sph_bl.py` for spherical<->Boyer-Lindquist conversions.

Still the names feel weird. Any suggestions?

[2019-03-15 17:10] ritzvik commented on #114
Fixes #109

[2019-03-15 17:29] ritzvik opened #118 "Make a utility file for BL/Spherical coordinate conversion"
🐞 **Problem**
The title is self-explanatory.

💡 **Possible solutions**

  - Direct conversion formulas can be written
  - or, In order to make coder's life easy, conversions can be done using Cartesian in between. That is `Spherical->Cartesian->Boyer Lindqiuist` and vice versa.
  - Code it in the lines of `utils/coord_transforms.py` and
`utils/bl_coord_transforms.py`

📋  **Steps to solve the probl

[2019-03-15 21:34] raphaelreyna commented on #115
It may possibly be too heavy handed, but what about subclassing numpy.array to make a vector class that knows what its current coordinate system is and how to convert itself to any other given coordinate system?

[2019-03-15 22:22] raphaelreyna opened #119 "Further Leverage the symmetry of christoffel symbols to ease it's calculation for Kerr Metric"
🐞 **Problem**

Kerr Metric is symmetric over its lower indices. That is Yikl = Yilk. However this is not being leveraged enough for faster computation as of now.

🎯 **Goal**

Re-implement function `christoffels()` in `utils/kerr_utils.py` to make it faster

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your

[2019-03-16 01:42] ritzvik commented on #115
Maybe, it's a long shot. But we'll keep it in tabs. Open an issue wherever necessary.

[2019-03-16 01:45] ritzvik commented on #119
After #120 gets merged, I doubt further improvements can be done on `christoffels()`. Maybe we should divert ourselves to optimize `metric()`, 'metric_inv()`, and `dmetric_dx()` after that.

[2019-03-16 20:14] shreyasbapat commented on #116
Can you point out where the changes are required?

[2019-03-17 02:10] ritzvik commented on #116
I think it's everywhere
https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/metric/kerr.py#L118-L151
https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/utils/kerr_utils.py#L116-L125

I mean wherever indexing is like `[1][2]` in numpy arrays, it's required to convert them to `[1, 2]`

[2019-03-17 06:02] #119 closed

[2019-03-17 10:05] ritzvik commented on #70
This looks promising :
  - https://github.com/spacetimeengineer/spacetimeengine

[2019-03-17 14:29] shreyasbapat opened #121 "Clean the Messed up utils!"
🐞 **Problem**

The `utils` module is currently too messed up.

🎯 **Goal**

💡 **Possible solutions**

Make necessary changes to clean it. Refactor modules, code.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in co

[2019-03-17 14:34] shreyasbapat opened #122 "Benchmark and Validate the core Schwarzschild and Kerr Algorithms"
🐞 **Problem**

Perform benchmark testing for both the algorithms. Because how do anyone know that the algorithms are correct?

🎯 **Goal**

To get clear understanding on performance of algorithm and its validation.

💡 **Possible solutions**

Validate against the industry standard or the books etc. Publish clear cut benchmarking results.

📋  **Steps to solve the problem**

 * Comment below about wha

[2019-03-17 16:38] #114 closed

[2019-03-17 16:40] shreyasbapat commented on #119
Thanks @raphaelreyna for your support!

[2019-03-17 16:42] shreyasbapat opened #123 "Add a plotting utility for Kerr Black holes"
🐞 **Problem**

As in https://github.com/einsteinpy/einsteinpy/blob/master/docs/source/examples/Visualizing%20event%20horizon%20and%20ergosphere%20of%20Kerr%20black%20hole.ipynb

It clearly lacks plotting support from einsteinpy side.

🎯 **Goal**

Make a better plotting module for it

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.

[2019-03-17 16:44] shreyasbapat opened #124 "Work on the EinsteinPy Plotting Ecosystem"
🐞 **Problem**

The plotting ecosystem is messed up with plotting support for only schwarzschild geometry.

🎯 **Goal**

A better plotting experience for users

💡 **Possible solutions**

Unknown

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number

[2019-03-17 18:14] ritzvik opened #125 "Inconsistencies in badges"
🐞 **Problem**
Not all badges in `README.rst`  are fetched from `shields.io`. Therefore, `flat-square` style can't be applied on all the badges which is creating inconsistencies across README and ReadTheDocs.

🎯 **Goal**
  - Fetch all the badges from `shields.io` with `flat-square` style
  - Changes to be made in `README.rst` and `Docs/source/index.rst`

💡 **Possible solutions**
  - Some badges are

[2019-03-18 02:13] ritzvik opened #126 "Make the tests on CI parallel"
🐞 **Problem**
As of now, the tests on various CI are running sequentially. It's not a problem right now, but we might want to run them in parallel as the number of tests grows.

🎯 **Goal**
  - Parallelize the tests on `TravisCI`, `CircleCI` and `appveyor`.

💡 **Possible solutions**
  - On personal computer, tests are be parallelized by `pip install pytest-xdist` and then `pytest -n 8 -vv`
  - Mayb

[2019-03-19 19:39] ritzvik opened #127 "Code up geodesics in Kerr-Newman space-time"
🐞 **Problem**
The library currently calculates the geodesics of Schwarzschild(non-charged, non-rotating) and Kerr(non-charged, rotating) black holes. However, the most general vacuum solution of Einstein's field equations is Kerr-Newman(charged, rotating) metric which is still not incorporated into the library.

🎯 **Goal**
  - Code up geodesics for Kerr-Newman metric along the lines of `metric/ker

[2019-03-19 19:43] ritzvik commented on #127
@shreyasbapat This seems like a realistic goal and we can add this to `0.1.1` release.

[2019-03-20 12:23] ritzvik commented on #121
It is a serious issue and it can addressed after an extensive discussion here about the new structure of utils.

[2019-03-21 08:36] ritzvik commented on #118
This issue is on hold until #121 is fixed.

[2019-03-21 12:12] pmk21 commented on #121
How about making coordinates into an object with methods, instead of using many functions to transform between coordinates? And probably split the other files in utils into meaningful modules.

[2019-03-21 12:38] olebole opened #130 "Create a Debian package"
Sorry for ignoring the template :-)
As [suggested on Twitter](https://twitter.com/astroshreyas/status/1108639943956418560), it may be a good idea to have einsteinpy packaged for Debian. Aside from having it in Debian directly, it would also automatically migrate to Ubuntu, Mint etc. And you would get build tests on many platforms, and continuous integration tests for free.
I wrote a tutorial for t

[2019-03-21 15:09] shreyasbapat commented on #121
That's correct. I will suggest making a base class for coordinates and writing other coordinates class on top of it!

[2019-03-21 15:32] shreyasbapat commented on #130
No issues at all! We all are obliged!

That's really nice.

I have requested for access to `debian-astro` team!

I will keep working on this issue! Thanks a lot @olebole for this. I will ask for help whenever I feel it's necessary.

[2019-03-21 15:38] shreyasbapat commented on #130
Hi @olebole ,
First Doubt: While issuing an ITP, the mail is first sent to submit@bugs.debian.org and then that mail is forwarded to the other two mailing lists? Or I can put both the mailing lists in `cc` ?

[2019-03-21 15:39] olebole commented on #130
The idea of `X-debbugs-Cc` is that it is re-sent after the bug number is attached. So, people can easily find the bug and reply to it if needed.

[2019-03-21 15:42] shreyasbapat commented on #130
Oh! Thanks!

[2019-03-21 16:20] olebole commented on #130
You have sent the bug a bit early; can you add the other information by just sending it to 925239@bugs.debian.org ?
I also created the repository for you: https://salsa.debian.org/debian-astro-team/einsteinpy

[2019-03-21 16:28] shreyasbapat commented on #130
@olebole , I mistakenly sent the email. I filed a proper bug here: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=925241
Sorry for the inconvenience!

[2019-03-21 16:30] shreyasbapat commented on #130
I didn't know that was possible when I already sent another mail. I am really sorry

[2019-03-21 16:32] olebole commented on #130
That is not a problem; the other one will be closed. You can also do that yourself by sending a mail to 925239-close@bugs.debian.org

[2019-03-21 19:17] olebole commented on #130
I would also like to add the upcoming package to our software list: https://blends.debian.org/astro/tasks/ I assume the package fits best into the [Simulation section](https://blends.debian.org/astro/tasks/simulation), right?

[2019-03-21 20:24] shreyasbapat commented on #130
I think Yes!
I can not see any other relevant category other than Simulation and Python 3

[2019-03-21 21:10] shreyasbapat commented on #130
Should I be downloading these tarballs in Upstream branch or Master?
I did to master, while your example says upstream. But then the debian directory must be there in master no?

[code]

[2019-03-21 21:15] shreyasbapat opened #131 "Raise proper warning when sympy is not installed!"
🐞 **Problem**
Sympy is an optional dependency! We should let users know about this!

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celeb

[2019-03-22 06:59] shreyasbapat opened #132 "Reg: Astropy Affiliated Package"
Being tracked here: https://github.com/astropy/astropy.github.com/pull/306

[2019-03-22 07:29] olebole commented on #130
Section: I'll put them to both. Thanks for reminding me on Python3 ;-)
For the ingestion of the tarball: run the `gbp` command in the `master` branch; however it probably does not matter. It will unpack it into the `upstream` branch, create the `pristine-tar` branch from it and merge it into the `master` branch.

[2019-03-23 12:19] shreyasbapat commented on #121
Creating a whole new infrastructure for Coordinates

[2019-03-23 12:47] ritzvik commented on #121
Some proposed changes from my side.

We need some changes in the parameters of functions in `utils` namely, `kerr_utils.py`,`kerrnewman_utils.py`, `schwarzschild_utils.py` when #128 is merged.
  - Firstly, wherever the functions take `Rs`, i.e schwarzschild radius as an input, replace them with `M`,`G`, and `c` and calculate `Rs = 2*G*M/(c**2)` inside the function itself. We can't expect the user

[2019-03-23 18:28] #127 closed

[2019-03-23 18:30] shreyasbapat opened #134 "Update package description everywhere"
🐞 **Problem**

The package description has got quite old and needs a revival!
🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate yo

[2019-03-23 19:10] shreyasbapat opened #135 "Move to setup.cfg"
🐞 **Problem**

Migrate from setup.py to setup.cfg!
🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this pro

[2019-03-23 19:25] ritzvik commented on #134
### E-mail in `CODE_OF_CONDUCT.rst` needs to be changed.

[2019-03-24 12:41] ritzvik commented on #109
Do the same for Kerr-Newman space time also.

[2019-03-25 09:55] shreyasbapat opened #138 "Mobile compatibility of Documentation"
🐞 **Problem**

The documentation does not adapt to some mobile width's. Particularly: https://github.com/bitprophet/alabaster/issues/139

We are still waiting to get the PR https://github.com/bitprophet/alabaster/pull/140 . Its milestoned for 0.8, but I am not sure if it will arrive soon.

🎯 **Goal**

Meanwhile we can fix it in our own documentation by overriding some settings.

💡 **Possible solut

[2019-03-25 09:57] shreyasbapat commented on #134
@ritzvik I have assigned this to you :)

[2019-03-25 10:14] #134 closed

[2019-03-26 03:31] ritzvik commented on #116
This issue has been partially fixed in #128 . Now, just a few more instances of the problem remain in `utils/kerr_utils.py`

[2019-03-27 13:31] ritzvik opened #141 "Organize and reorder utils for Kerr, Kerr-Newman and Schwarzschild metrics"
🐞 **Problem**
As of now, various useful functions used by `metric/schwarzschild.py` are in `utils/schwarzschild_utils.py`. Same goes for `metric/kerr.py` and `metric/kerrnewman.py`. We need to move these functions out of `utils` and make them a core part of library as they are quite-useful even when used stand-alone.

🎯 **Goal**

  - Migrate them somewhere, so as to make them look like a core part

[2019-03-27 13:34] ritzvik commented on #141
This issue is very closely related to #121 . I mentioned this issue as a comment there but it may be more apt to make this a separate one.

[2019-03-27 18:14] shreyasbapat opened #142 "Remove all the unnecessary pytest.mark.parametrize"
🐞 **Problem**

Tests are currently parametrized on single set of values. `pytest.mark.parametrize` has a different essence. Remove the redundant test data from everywhere. Add pytest fixtures wherever required.
https://docs.pytest.org/en/latest/parametrize.html

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, c

[2019-03-30 09:16] Manvi07 commented on #75
Hi @shreyasbapat :smiley:
I would like to fix this issue.

[2019-03-30 13:05] divya144 commented on #125
Hi
I would like to fix this issue.

[2019-03-30 13:33] ritzvik commented on #125
Thanks for your interest. It's all yours!

[2019-03-30 13:41] ritzvik opened #144 "Fix scaling in Kerr-Newman electrodynamics part"
🐞 **Problem**
Currently, for correct calculation of trajectory in Kerr-Newman space-time, q(charge on test particle) or Q(charge on massive body) needs to be multiplied by `11604461683.91822052001953125`  for correct calculation. It is not known from where this factor arises.

🎯 **Goal**
  - Find out the reason for this problem
  - Fix it.

💡 **Possible solutions**
  - The code is written with ref

[2019-03-30 13:45] ritzvik opened #145 "Theoretically consistent tests for Kerr-Newman"
🐞 **Problem**
There are not adequate tests for Kerr-Newman.

🎯 **Goal**
  - Devise a testing strategy.
  - Implement it.
  - The tests should factor in the presence of charge on both the particle & massive body.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses

[2019-03-30 13:46] ritzvik commented on #141
@shreyasbapat This can also be a `good-first-issue` I guess.

[2019-03-30 14:22] pmk21 commented on #123
I'd like to solve this. Any suggestions on solving this issue?

[2019-03-30 22:36] shreyasbapat commented on #75
Closed #75 in #143

[2019-03-30 22:36] #75 closed

[2019-03-30 22:53] shreyasbapat commented on #141
I think it's harder

[2019-04-01 06:58] shreyasbapat commented on #125
Closed #125 in #146

[2019-04-01 06:58] #125 closed

[2019-04-01 09:26] shreyasbapat commented on #123
We can create a plotting module for plotting the Event horizon! Might be 3D too!

[2019-04-01 11:51] divya144 commented on #138
@shreyasbapat I would like to work on this issue.

[2019-04-01 13:31] shreyasbapat commented on #138
Sure thing! Go ahead :)

[2019-04-02 17:29] ritzvik opened #147 "Implement the event horizon and ergosphere of Kerr-Newman black holes"
🐞 **Problem**
We need functions to calculate the event horizon and ergosphere of Kerr-Newman black holes.
It can help towards fixing #109

🎯 **Goal**
Implementing them on the lines of Event Horizon and Ergosphere functions in `utils` for `Kerr`.

💡 **Possible solutions**
Link to the relevant equations.
https://en.wikipedia.org/wiki/Kerr%E2%80%93Newman_metric#Important_surfaces

📋  **Steps to solve

[2019-04-03 16:09] shreyasbapat commented on #147
Isn't this similar to #109 ? Why do we need a separate issue?

[2019-04-04 05:17] ritzvik commented on #147
This issue is about coding the functions related to event horizon and ergosphere in `utils`.
#109 is about implementing them in `Kerr` & `KerrNewman` class so that it can raise a warning when a test particle crosses the event horizon.

[2019-04-05 20:47] shilpi1958 commented on #116
Hi,
I have changed the instances in utils/kerr_utils.py
[https://github.com/einsteinpy/einsteinpy/pull/148]

[2019-04-05 23:56] #116 closed

[2019-04-06 05:24] ritzvik opened #149 "Simulate binary Black Hole mergers"
🎯 **Goal**
Approximate simulations for Binary Black hole mergers is possible as exact solutions can take even days in a HPC.

💡 **Possible solutions**
Related Github Repo : https://github.com/vijayvarma392/binaryBHexp
Related paper : https://arxiv.org/abs/1811.06552

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submi

[2019-04-06 05:47] spino17 commented on #149
There is already an issue #103 related to the adaptive mesh refinement algorithm which is yet to be implemented and would cover a large class of compact objects other than just black hole merger and thus would be more suitable to implement the binary merger system under that module as a part rather than an independent issue as this can break the generality of the module. So it is better to close t

[2019-04-06 05:59] ritzvik commented on #149
@spino17 thanks for pointing this out. As recommended, I'm closing this issue. My sincerest apologies.

[2019-04-06 05:59] #149 closed

[2019-04-06 08:40] shreyasbapat opened #150 "Attractor Radius in StaticGeodesicPlotter is too less"
🐞 **Problem**

Due to the radius issues, the plots are not shown properly. Most of the times, they miss an Attractor.

🎯 **Goal**

Think of a strategy to get good plots!

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue numb

[2019-04-06 09:41] ritzvik commented on #147
@shreyasbapat Should I close this? Suggestions?

[2019-04-06 11:27] rtanmay commented on #150
I would like to work on this issue, can you assign this to me?
Thanks

[2019-04-06 11:29] shreyasbapat commented on #150
Sure go ahead!

[2019-04-06 20:44] shilpi1958 commented on #109
Hi, I would like to work on this issue.
So I found that horizon for Kerr spacetime has equation r = M + sqrt(M^2  - a^2).
I shall define a variable kerr_horizon equal for the same and change the limit (from Schwarzschild radius) and also change the warning.

Is this correct?

[2019-04-06 21:05] ritzvik commented on #109
@shilpi1958 As the core function of event horizon is already implemented `utils/kerr_utils.py` you can use that to provide new limits in `metric/kerr.py`.

Kindly go ahead with the issue.

Thanks for your interest 🙂

[2019-04-06 21:58] shilpi1958 commented on #109
hey,
I made a pull request for this issue
[https://github.com/einsteinpy/einsteinpy/pull/151](url)

[2019-04-07 05:27] shreyasbapat commented on #138
@divya144 Are you still working on it?

[2019-04-07 06:40] rishi-s8 opened #152 "Assertion Error while testing"
🐞 **Problem**
I got an AssertionError and a warning when running tests as given in the README.

I ran the following command.
[code]

🖥 **Please paste the output of following commands**

* `conda info -a`
[code]

* `conda list` (only if you have conda)
[code]

* `pip freeze`

<details>

[code]
</details>

* `python -c "import einsteinpy.testing; einsteinpy.testing.test()"`

<details>

[code]
</deta

[2019-04-07 06:48] rishi-s8 commented on #131
I'd like to work on this. Can you help me with in what way is the warning needed, and how should I go about doing it?

[2019-04-07 06:52] shreyasbapat commented on #152
Thanks for this issue! @rishi-s8 .
Seems like there is a problem for real. I don't understand how this test got passed in almost every CI ?
Git Blame gives me this : https://github.com/einsteinpy/einsteinpy/blame/56bef0dafa05605d3bc31986384add443e3a37c6/src/einsteinpy/tests/test_utils/test_kerrnewman_utils.py#L109

[2019-04-07 06:55] shreyasbapat commented on #152
I still don't understand : https://circleci.com/gh/einsteinpy/einsteinpy/1600?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
This is the recent build on CircleCI, the test passed there.
On Appveyor too : https://ci.appveyor.com/project/shreyasbapat/einsteinpy/builds/23637265
And even on Travis: https://travis-ci.org/einsteinpy/einsteinpy/builds/516381945?utm_sou

[2019-04-07 06:58] shreyasbapat commented on #152
@rishi-s8 Meanwhile, your installation is correct. I will try to figure out what this is!

[2019-04-07 07:11] rishi-s8 opened #153 "Ill formatted links in Jupyter Notebook"
🐞 **Problem**
Links in example jupyter notebook ```index.ipynb``` are not working

Looks like the use of markdown is out of syntax.

🎯 **Goal**

Fix syntax of markdown to correct the links.

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addres

[2019-04-07 07:11] rishi-s8 commented on #153
I am working on this issue.

[2019-04-07 07:12] shreyasbapat opened #154 "Create einsteinpy.bodies module"
🐞 **Problem**

We have to define explicitly about the bodies. It would be nice to have a class for that as well.
🎯 **Goal**

💡 **Possible solutions**

Add mass for attractor bodies and r,v for other.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue

[2019-04-07 07:13] rishi-s8 commented on #153
![Screenshot 2019-04-07 at 12 38 44 PM](https://user-images.githubusercontent.com/33762894/55680078-a9971b00-5932-11e9-90be-f2f282e0f0e9.png)

Here's the current markdown
[code]

[2019-04-07 07:14] shreyasbapat commented on #153
Do you mean this notebook? https://mybinder.org/v2/gh/einsteinpy/einsteinpy/master?filepath=index.ipynb

[2019-04-07 07:16] shreyasbapat commented on #153
This actually works fine. But yes, in local machines, it may look ugly. Can you try using iPyhon magic `%%markdown` for every cell?

[2019-04-07 07:21] shreyasbapat commented on #153
Well, might be related : https://github.com/jupyter/notebook/issues/3874

[2019-04-07 07:30] rishi-s8 commented on #153
Well I am testing links with local Jupyter notebook..
Links of the type ```www.google.com``` are working, but the local link to another *.ipynb is not working this way.

[2019-04-07 07:31] rishi-s8 commented on #153
```%%markdown``` is rendering the same thing.

[2019-04-07 07:40] rishi-s8 commented on #153
@shreyasbapat  I tested with different links locally, I found that markdown is not supporting links with ```spaces```.
So there are two solutions I can propose:
1. Insert ```&#32;``` in every place where there is ```space``` in the links.
2. Change the spaces in filenames to some other character like ```_```.

Which one would you prefer I do?

[2019-04-07 07:52] shreyasbapat commented on #153
I believe solution 1 will be an extra effort needed everytime. I will go with solution 2. :)

[2019-04-07 07:54] Manvi07 commented on #142
Hi @shreyasbapat
I went through the documentation of the Parametrizing function. But the issue is not clear yet. Could you please give a little more explanation on what is to be done? Also, what does adding Pytest fixtures imply?

[2019-04-07 09:34] shilpi1958 commented on #154
hey, I would like to work on this.
I don't clearly understand the issue
Can you elaborate a bit?

[2019-04-07 11:56] rtanmay opened #156 "Color options in ScatterGeodesicPlotter and StaticGeodesicPlotter is missing."
🐞 **What bugs you?**
Color options for attractor and scatter plots are not present in the classes ScatterGeodesicPlotter and StaticGeodesicPlotter.

🎯 **Goal**
This change can benefit people in the way that if they want to create many plots, It can help them in distinguishing a certain plot in a group of plots. Also it gives user to option to use his/her favorite color.

💡 **Possible solutions**
T

[2019-04-07 11:59] rtanmay commented on #156
Creating a PR with the results in around 10 minutes.

[2019-04-07 13:39] rishi-s8 commented on #131
@shreyasbapat

[2019-04-07 13:45] shreyasbapat commented on #156
Great addition. Thanks :)

[2019-04-07 13:51] shreyasbapat commented on #131
If you look carefully at the `setup.py` , sympy is an optional dependency, and we only let users install it when they run einsteinpy[dev], which is unintuitive. We would like to raise a warning if sympy is not installed and user tries importing this: https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/utils/christoffel.py
Easy to fix :)

[2019-04-07 13:55] shreyasbapat commented on #142
Hi @Manvi07 :)
So, have a look at tests like this:
https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/tests/test_metric/test_kerrnewman.py#L55
parametrizing is not made for this, it is when you want to pass multiple inputs while testing. This increases the complexity of testing. We would like to have them hardcoded inside the testing function. Or if you think the same data is bein

[2019-04-07 13:59] rtanmay commented on #154
I have understood the problem. Can you assign the task to me @shreyasbapat ?
Thanks

[2019-04-07 14:02] #153 closed

[2019-04-07 14:06] ritzvik commented on #109
@ritzvik Reopened the issue because Kerr-Newman still needs to be taken care of.

[2019-04-07 14:11] shreyasbapat commented on #154
I can't assign this task to @rtanmay ! Sorry for that! Both of you try. The first pull request to get green ticks on every check will be merged. :)

[2019-04-08 01:45] shilpi1958 commented on #9
Hey,
I would like to try this!

[2019-04-08 04:38] Varunvaruns9 commented on #123
Hi @pmk21 ,
are you still working on it? If not I would like to work on this.

[2019-04-08 07:25] Tushar-Tyagi commented on #98
@shreyasbapat I would like to work on this issue.

[2019-04-08 09:43] yashrsharma44 commented on #135
Hey @shreyasbapat , I wanted to work on this issue!
Presently, I see a `setup.cfg` file exists, so is the issue solved, or are we looking to add more metadata to `setup.cfg`?

[2019-04-08 09:50] yashrsharma44 opened #162 "Adding the packages in requirements.txt"
## Adding list of packages in `requirements.txt`
🐞 **What bugs you?**

Currently, no list of packages exists for `einsteinpy` in `requirements.txt`. It would be better to add all the dependencies in the `requirements.txt`.

🎯 **Goal**

Adding entries to `requirements.txt`

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, co

[2019-04-08 09:50] yashrsharma44 commented on #162
I am taking this issue.

[2019-04-08 09:52] pmk21 commented on #152
Getting the exact same error on Linux too.

[2019-04-08 10:05] shreyasbapat commented on #162
No dependencies are there in `requirements.txt` for a reason. All of them are there in the `setup.py` and are installed automatically. I am closing this issue!

[2019-04-08 10:05] #162 closed

[2019-04-08 10:10] shreyasbapat commented on #135
Hi! @yashrsharma44 . We plan to move to `setup.cfg` completely.
https://setuptools.readthedocs.io/en/latest/setuptools.html#configuring-setup-using-setup-cfg-files

Thanks to https://gitlab.com/librespacefoundation/satnogs/satnogs-client/

[2019-04-08 15:29] shreyasbapat commented on #9
Hi @shilpi1958 :) Go ahead! But I would like to ask you about your proposal. Can you PM me on matrix?

[2019-04-08 15:30] shreyasbapat commented on #98
Sure! Go ahead. Its a little tricky one though :)

[2019-04-08 16:08] shreyasbapat commented on #152
@ritzvik How did this come?

I have to change rtol to make the test pass. And the rtol is HUGE!

[code]

[2019-04-08 16:12] ritzvik commented on #152
Could you specify the file?

[2019-04-08 16:23] ritzvik commented on #152
working perfectly fine on my system
![20](https://user-images.githubusercontent.com/24695764/55740462-a9724a80-5a1a-11e9-8f03-0c93a03e3176.PNG)

[2019-04-08 16:31] shreyasbapat commented on #152
Well, that's pretty weird!

[2019-04-08 17:45] shilpi1958 commented on #9
sure! check your inbox :)

[2019-04-08 18:23] Tushar-Tyagi commented on #98
Any suggestions on how to identify the slow methords?

[2019-04-08 19:16] Manvi07 commented on #142
Alright. I would like to work on this issue :)

[2019-04-08 19:21] ritzvik commented on #152
Tested on linux too on my friend's sytem
![22](https://user-images.githubusercontent.com/24695764/55750744-81dbac00-5a33-11e9-925f-379175e63d5d.PNG)

[2019-04-08 19:47] Tushar-Tyagi opened #164 "Add proper profiling methods."
🐞 **What bugs you?**
We currently do not have a proper methord for profiling of src code. It makes it difficult for newcomers to find the bottleneck methords.

🎯 **Goal**

1. This feature will help in finding slow methords. This can be used for solving #98 .
2. Can be used to find slow functions for refinement of codebase.

💡 **Possible solutions**
Use of cProfile in a creative way.

 * Comment be

[2019-04-08 20:18] yashrsharma44 commented on #126
Can I work on this issue?

[2019-04-08 20:34] yashrsharma44 commented on #113
Can I take this issue?

[2019-04-08 20:53] ritzvik commented on #126
Great. Go ahead!
Thanks for trying to solve this one @yashrsharma44

[2019-04-08 20:58] ritzvik commented on #113
Could you discuss it here how you aim to tackle the problem?

[2019-04-09 07:12] Varunvaruns9 commented on #36
I would like to work on this.

[2019-04-09 07:57] ritzvik opened #165 "Suppress the output for pip installs in various CIs"
🐞 **Problem**
`pip install something` in continuous integration services TravisCI and Appveyor produces a whole bunch of output which is not really necessary.

🎯 **Goal**
  - use `--quiet` option with pip installs to suppress the outputs.
  - Also update pip each time before pip installs by using `pip install --upgrade pip --quiet`

💡 **Possible solutions**
  - Edits need to be done in `appveyor.y

[2019-04-09 08:11] agarwalr98 commented on #165
@ritzvik I will try to solve this prob.Thanks

[2019-04-09 09:47] ritzvik commented on #165
@agarwalr98 I believe someone else has already started working on it.

[2019-04-09 11:06] agarwalr98 commented on #165
okk, but let me know if someone has not started because I did spend some amount of time on it.

[2019-04-09 12:46] ritzvik opened #168 "Consistent tests for calculate trajectory function in Scwarzschild"
🐞 **Problem**
Even though, schwarzschild and kerr geometries are pretty similar, their tests seem different.

🎯 **Goal**
  - Edit `test_calculate_trajectory()` in `tests/test_metric/test_schwarzschild.py` on the lines of same function present in `test_kerr.py` for consistency.
  - Get the schwarzschild metric by `from einsteinpy.utils import schwarzschild_utils` and `g = schwarzschild_utils.metric

[2019-04-09 12:46] ritzvik commented on #168
@shreyasbapat Seems like a good first issue

[2019-04-09 13:01] alpeshjamgade commented on #168
i would like to work on this.

[2019-04-09 13:03] ritzvik commented on #168
@alpeshjamgade Thanks for your interest.
Issue is all yours!

[2019-04-09 15:05] shilpi1958 opened #172 "No event horizon function for Kerr- Newman Blackhole present"
🐞 **What bugs you?**
There isn't a function for for Kerr- Newman Black hole present in kerrnewman_utils.py

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section o

[2019-04-09 15:53] ritzvik commented on #172
#109 Already addresses this, I guess. Close this if you see fit.
Nice observation BTW. Thanks @shilpi1958

[2019-04-09 16:11] shilpi1958 commented on #172
oh okay!

[2019-04-09 16:11] #172 closed

[2019-04-09 19:26] #165 closed

[2019-04-09 19:33] shreyasbapat commented on #168
My question is why do you want consistency in tests?

[2019-04-09 19:44] ritzvik commented on #168
When the test was written, `metric()` was not there in `schwarzschild_utils.py`. Now that it is there, it seems like a good idea that `test_calcultate_trajectory()` in `test_schwarzschild.py`, `test_kerr.py` and `test_kerrnewman.py` follows the same pattern. Plus, it was also a good first issue.

[2019-04-10 05:53] shreyasbapat commented on #168
Great!

[2019-04-10 05:53] shreyasbapat commented on #168
Great!

[2019-04-10 06:07] #135 closed

[2019-04-10 10:49] olebole commented on #130
If you already have something: can you push it to [salsa](https://salsa.debian.org/debian-astro-team/einsteinpy)? That I already could have a look... (just as an offer). And if you have any problems, please ping me. This all is not urgent, however.

[2019-04-10 14:08] Masquerade0097 opened #175 "SOCIS Ideas link not working"
🐞 **Problem**

The link to [SOCIS](https://socis.esa.int/projects/) Ideas of EinsteinPy  does not work. It is similar to the following for different projects.
https://github.com/einsteinpy/einsteinpy/wiki/SOCIS-Ideas#adaptive-mesh-refinement-for-einsteinpy

🎯 **Goal**

The link needs to be fixed. It should point to the existing SOCIS 2019 Ideas wiki in the repo.

[2019-04-10 16:30] Varunvaruns9 commented on #9
I am working on this. @shreyasbapat

[2019-04-10 16:44] #168 closed

[2019-04-10 16:54] #131 closed

[2019-04-10 16:56] shreyasbapat commented on #138
Closed in #171

[2019-04-10 16:56] #138 closed

[2019-04-10 16:59] Tushar-Tyagi commented on #175
Can I solve the issue?

[2019-04-10 17:02] Tushar-Tyagi commented on #41
Can I work on this issue?

[2019-04-10 17:09] Tushar-Tyagi commented on #175
The link in the SOCIS website is : https://github.com/einsteinpy/einsteinpy/wiki/SOCIS-Ideas#adaptive-mesh-refinement-for-einsteinpy
But actually, it should be : https://github.com/einsteinpy/einsteinpy/wiki/SOCIS-2019-Ideas#adaptive-mesh-refinement-for-einsteinpy

[2019-04-10 17:18] Tushar-Tyagi commented on #175
I think, you can't the change the link in SOCIS website ( xD ). It's better to change our wiki.
- [ ] Just change the title of that wiki page from *SOCIS-2019-Ideas* to **SOCIS-Ideas** .
I guess we don't have access to create/edit a wiki. ( Do we? )

[2019-04-10 17:21] #142 closed

[2019-04-10 17:22] Varunvaruns9 opened #178 "geodesics_static: Refactor the ScatterGeodesicsPlotter into its own file."
🐞 **Problem**

`GeodesicsScatterPlotter` class is currently written in the file `geodesics_static.py`, which should be meant for `GeodesicsStaticPlotter`.

🎯 **Goal**
Refactor the code for `GeodesicsScatterPlotter` into its own file.

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pul

[2019-04-10 17:23] Varunvaruns9 commented on #178
I'll be adding a PR for this issue before tomorrow.

[2019-04-10 17:43] Tushar-Tyagi commented on #175
Solved.

[2019-04-10 17:45] shreyasbapat commented on #175
Oh! It was me! Hehe

[2019-04-10 17:45] shreyasbapat commented on #175
Thanks @Tushar-Tyagi :)

[2019-04-10 17:45] #175 closed

[2019-04-10 17:46] shreyasbapat commented on #175
Closed in https://github.com/einsteinpy/einsteinpy/wiki/SOCIS-Ideas/434388396f0b4f2dc914304625a24f27975d2cf5

[2019-04-10 17:50] shreyasbapat opened #179 "Bring in interactive plotting"
🐞 **Problem**

Static plotting is not much useful. We should get both 3D and 2D interactive plots.
🎯 **Goal**

💡 **Possible solutions**
Use plotly

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section

[2019-04-10 17:50] shreyasbapat commented on #124
Related : #179

[2019-04-10 17:52] shreyasbapat commented on #147
Yes maybe. We should not have redundant issues :)

[2019-04-10 18:16] rtanmay commented on #179
@shreyasbapat  Can you assign this to me? I am making the dynamic plots so I will add dynamic nature for 3D plots as well

[2019-04-10 18:51] Varunvaruns9 commented on #179
@rtanmay I will be integrating a 3D plotting system and a module for interactive plotting as a followup for #123 . Thanks for asking :)

[2019-04-10 19:03] Manvi07 commented on #41
Hi @shreyasbapat. I would like to work on this issue. Let me know if I can.

[2019-04-10 19:07] rtanmay commented on #179
Alright @Varunvaruns9

[2019-04-11 04:19] #178 closed

[2019-04-11 04:22] shreyasbapat commented on #41
First PR to pass all checks will be merged :)

[2019-04-11 04:42] shreyasbapat opened #182 "Enable EPOCHS!"
🐞 **Problem**

Right now we don't care what is the time when we started. But this should not be the case
🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of p

[2019-04-11 04:44] shreyasbapat commented on #130
Hi @olebole . I am facing some problems. I will update you in some time. Meanwhile, we have been selected for SOCIS fo a lot of students are contributing. Sorry for delaying this.

[2019-04-11 05:02] ritzvik commented on #182
Could you elaborate it more? Didn't get it 😄

[2019-04-11 05:07] ritzvik opened #183 "Add pytest cache to gitigore"
🐞 **Problem**
`.pytest_cache` is generated automatically sometimes. It may show up in a PR.

🎯 **Goal**
  - Add it to `.gitignore`

💡 **Possible solutions**
  - Add `*/.pytest_cache` to `.gitignore` under proper heading. Create a new section if an appropriate one is not found.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your chang

[2019-04-11 05:13] ritzvik commented on #147
Closing 👍

[2019-04-11 05:13] #147 closed

[2019-04-11 06:43] alpeshjamgade commented on #141
i  would like too work on this. :)

[2019-04-11 07:01] rishi-s8 opened #185 "Isort conflicts with Black"
🐞 **Problem**
Isort and black are formatting import differently in ```coordinates/__init__.py```

Referencing https://github.com/ambv/black/issues/127
Referencing reopened https://github.com/timothycrosley/isort/issues/694

Temporary Solution:
Add # isort: skip in front of the import.
Implemented in https://github.com/einsteinpy/einsteinpy/pull/176

🖥
Issue with the following versions:
```isort v4

[2019-04-11 07:22] ritzvik commented on #141
Great ! go ahead.
Focus on task 1 initially.
Thanks @alpeshjamgade

[2019-04-11 07:38] #183 closed

[2019-04-11 09:36] Manvi07 commented on #41
@shreyasbapat ```ephemerides()``` requires an Id to be specified. What is the name/Id of target indicator of our plots?

[2019-04-11 10:06] #115 closed

[2019-04-11 10:07] shreyasbapat commented on #118
Closed in #176

[2019-04-11 10:07] #118 closed

[2019-04-11 10:30] shreyasbapat commented on #41
User will pass that name.

[2019-04-11 13:02] ritzvik opened #187 "Change the internal coordinate handling functions in metric modules"
🐞 **Problem**
`.py` files in `metric` still rely on `utils` for coordinate handling.

🎯 **Goal**
  - Change them to newly created `coordinates` module functions

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in co

[2019-04-11 13:07] ritzvik commented on #187
I would be taking up the issue!

[2019-04-11 17:39] rishi-s8 commented on #113
@ritzvik I'd like to work on this issue. :) I'll think about how to implement this and get back to you. Meanwhile, can you please assign this to me?

[2019-04-11 19:50] shreyasbapat commented on #179
No. I guess both of you misunderstood this issue :)

I am talking of interactive plots. Where you can freely interact with the plots, move things around etc. :) However I won't assign this to anyone :)

[2019-04-11 20:19] shreyasbapat opened #190 "Document all the metrics in best possible way"
🐞 **Problem**

**Priority Level : Urgent**

There is too much confusion when it comes to various metrics. There must be very strong documentation on the usage of the same.

🎯 **Goal**

💡 **Solutions (Implement all of them)**
- Write a metrics.rst in docs/source explaining each and every geometry in best possible way. May also look like a theory class.
- Write very efficient docstring in all the me

[2019-04-11 20:22] shreyasbapat opened #191 "Add geodesics module for better integration with plotting"
🐞 **Problem**

The plotting works on passing individual r, v vectors for plots and is geometry dependent. While it should not be.
🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review

[2019-04-11 21:08] Varunvaruns9 commented on #179
Yes, I thought the issue was for controlled animations at first but I made some progress for interactive plots as well. I looked up mpld3, bcoz I was looking for something which required a minimum code change. I'll try to get it to work or else try something else like plotly.

[2019-04-11 21:19] shreyasbapat commented on #179
I would highly discourage you for mpl3d. They just couldn't make it work. For plotly <3

[2019-04-11 22:55] shreyasbapat commented on #182
Epoch is self sufficient. Every event in history is time dependent, and we should take care of when that is happening. Epoch is counted from some standards, like J2000 or so!

[2019-04-11 22:59] shreyasbapat commented on #121
We have a function to calculate exactly that!

[2019-04-12 02:51] ritzvik commented on #121
I believe the function takes input along with astropy.units, maybe we ca make a separate private function to take in normal float & integers.

[2019-04-12 09:34] shreyasbapat commented on #36
First Animation Done :)
Scatter Plotter animated in #177

[2019-04-12 20:27] alpeshjamgade commented on #141
#194 Organize and reorder utils for Kerr, Kerr-Newman and Schwarzschild metrics

[2019-04-13 05:33] alpeshjamgade commented on #141
@ritzvik can you give names of function which we should take out of utils.py.

[2019-04-13 08:17] ritzvik commented on #141
We would finalize #194 first. Then we would look into it.

[2019-04-13 10:54] rishi-s8 commented on #70
There’s already an example about some of these aspects in examples of SymPy.
I think [this](https://github.com/sympy/sympy/blob/master/examples/advanced/relativity.py) would help.

[2019-04-13 18:08] alpeshjamgade commented on #141
#196  Reorder parameters within functions

[2019-04-15 13:01] rishi-s8 opened #198 "Spelling errors in comments and documentation"
🐞 **Problem**
There are a lot of spelling errors in the comments and docstrings. One may also find some in the documentation, if you dig a bit deeper.

🎯 **Goal**
Well obviously, they pinch my eyes. So they need to be corrected.
For a start, there are a few spelling errors in ```/tests/test_utils/test_kerrnewman_utils.py```

💡 **Possible solutions**
This is mostly to get people around the codebase

[2019-04-16 07:40] ritzvik commented on #105
Units `c=1,G=1` handling table https://en.wikipedia.org/wiki/Geometrized_unit_system

[2019-04-16 14:00] ritzvik commented on #198
Specifically, an instance of this can be seen in `docs/source/metric.rst`. Some subtle but understandable errors are there.

[2019-04-17 04:26] shreyasbapat commented on #130
Hi @olebole , I am getting this error:
`gbp:error: Non-native package 'einsteinpy' has invalid version '0.1.0'`
While running `gbp buildpackage`
Any idea on how to fix this?

[2019-04-17 04:30] shreyasbapat commented on #130
Also, I can't push anything on salsa :/

[code]

[2019-04-17 06:43] ritzvik opened #200 "Change Warning Type in coordinate utils"
🐞 **Problem**
When executing `from einsteinpy.utils import something` `UserWarning` is raised.

🎯 **Goal**
Change warning type to `PendingDeprecationWarning`

💡 **Possible solutions**

See :
  - https://docs.python.org/3/library/exceptions.html#PendingDeprecationWarning
  - https://docs.python.org/3/library/warnings.html#warnings.warn

📋  **Steps to solve the problem**

 * Comment below about what

[2019-04-17 06:56] olebole commented on #130
The correct version number in Debian is `0.1.0-1`. Reason is that one may have more than one Debian revision for the same einsteinpy version -- for example to fix a bug in the Debian packaging.

I added you as maintainer to the reository; it should work now. Ping me if you still have problems.

[2019-04-17 11:16] abhijeetmanhas commented on #200
I am taking up the issue. I will change warning category in `coord_transform.py` and `bl_coord_transform.py` files to `PendingDeprecationWarning`.
Should I change warn category from `UserWarning` to `PendingDeprecationWarning` in `christoffel.py` too where warning is raised on importing sympy?

[2019-04-17 11:20] ritzvik commented on #200
Great, the issue is yours!
No need to change warning in `christoffel.py`, it is not being deprecated as of now.
Thanks @abhijeetmanhas

[2019-04-17 16:12] shreyasbapat commented on #130
I have populated the repository. Meanwhile I am facing some issues regarding package desciption, I will figure that out

[2019-04-17 19:06] abhijeetmanhas commented on #198
I will be working on this issue. Please review the changes I have done in PR #202.

[2019-04-17 19:32] shreyasbapat commented on #198
@abhijeetmanhas  A friendly suggestion from my side is, you always ask if you can work on the issue and not directly tell. :)

[2019-04-18 07:09] olebole commented on #130
That looks already quite promising! About the lintian warnings and errors:

* `bad-distribution-in-changes-file unstable`: That comes from a Lintian that (probably) runs under Ubuntu and therefore wants to see Ubuntu distribution names here instead. `unstable` is fine, this error can be ignored.

* `source-is-missing`: Debian is quite picky especially about Javascript files without accompanied sou

[2019-04-18 18:24] #200 closed

[2019-04-18 18:28] shreyasbapat commented on #185
As pointed out by @Juanlu001 in chats:
https://black.readthedocs.io/en/stable/the_black_code_style.html?highlight=isort#how-black-wraps-lines

[2019-04-18 19:00] #185 closed

[2019-04-18 20:33] shreyasbapat commented on #130
What do you exactly mean by this? Do you mean I should manually remove it from the compressed files?

[2019-04-19 06:58] ritzvik opened #206 "DeprecationWarning raised by Matplotlib"
🐞 **Problem**
Matplotlib is raising `DeprecationWarning` in CircleCI Python 3.7 workflow.
![27](https://user-images.githubusercontent.com/24695764/56411488-8d826a80-629e-11e9-8ad6-4c1064d06092.PNG)

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue nu

[2019-04-19 07:54] shreyasbapat commented on #130
When I manually unpacked the tarball and repacked it. Now there is some issues with the patches :/

[2019-04-19 09:02] Varunvaruns9 commented on #206
I think this might be due to plotting modules using class `Schwarzschild`, which uses some methods that are going to be deprecated. It can be fixed by changing the given class to use new methods in `einsteinpy.coordinates`.

[2019-04-19 22:27] alpeshjamgade commented on #206
![Screenshot from 2019-04-19 15-20-59](https://user-images.githubusercontent.com/44905974/56446416-5cfafa80-62b7-11e9-82be-addcebd6a1b5.png)

 @ritzvik not showing the warning on my machine

[2019-04-20 08:54] saurabh18213 opened #207 "Typo in Python Notebook for Analysing Earth using EinsteinPy!"
🐞 **Problem**
It should be aphelion  [here](http://docs.einsteinpy.org/en/latest/examples/Analysing_Earth_using_EinsteinPy!.html#Speed-at-perihelion-should-be-29.29-km/s-and-should-be-along-y-axis)   instead of perihilion.

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</deta

[2019-04-20 18:02] #207 closed

[2019-04-20 19:08] alpeshjamgade commented on #141
@ritzvik i want to work on the second task.
can you tell me which functions we should move out of utils? i have some in my mind but im not sure about that?

[2019-04-20 19:12] alpeshjamgade commented on #141
i thought of making a module core.py and putting the functions in there.
is it fine? or can you suggest something better?

[2019-04-20 19:34] ritzvik commented on #141
@alpeshjamgade Reorganizations is also being undertaken in the core metric modules in PR #203 . We have to wait for a while to work on this. I'll notify when the time is right :) . BTW thanks for taking this up.

[2019-04-20 21:13] shakeabi commented on #206
@ritzvik Did some digging. Seems like this error is prevailing across various packages. I believe this error has to be fixed in the matplotlib package itslef.

[2019-04-20 21:23] shreyasbapat commented on #206
Correct! I didn't notice that! I will close this issue :)
Thanks for chiming in @shakeabi

[2019-04-20 21:23] #206 closed

[2019-04-20 21:33] #150 closed

[2019-04-20 21:33] #156 closed

[2019-04-20 21:39] rtanmay commented on #182
@shreyasbapat Can you assign this issue to me?

[2019-04-21 06:39] shreyasbapat commented on #182
Add J2000 :)

[2019-04-21 06:45] shreyasbapat commented on #179
Also, I would like to draw the attention to `Figurewidget` by plotly

[2019-04-25 06:54] #187 closed

[2019-04-25 07:01] shreyasbapat opened #210 "Two entries of same notebook in jupyter.rst!"
🐞 **Problem**

The doc shows two links for a same notebook! And I doubt if we should even have that notebook in the example gallery! Ideas?

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import einsteinpy.testing; einsteinpy.testing.test()"`

<detail

[2019-04-25 07:04] shreyasbapat opened #211 "Use tox for automating development process"
🐞 **Problem**

Tox provides amazing automation and is being used almost everywhere.
🎯 **Goal**
https://tox.readthedocs.io/en/latest/

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comm

[2019-04-25 08:38] shreyanshdwivedi commented on #210
@shreyasbapat I will like to take this up. May I?

[2019-04-25 09:51] alpeshjamgade commented on #211
i would like to work on this.

[2019-04-25 10:23] ritzvik opened #212 "Update Jupyter Notebooks to account for the API breaking changes"
🐞 **Problem**
#203 PR introduced few API breaking changes in the `metric` module. The jupyter notebooks have, therefore, become outdated.

🎯 **Goal**
Update the notebooks in `docs/source/examples`. In short, do the required changes and rerun them.

💡 **Possible solutions**
See
  - http://docs.einsteinpy.org/en/latest/api/metric/metric_index.html
  - http://docs.einsteinpy.org/en/latest/api/coordin

[2019-04-25 10:27] shreyasbapat commented on #211
Sure @alpeshjamgade ! Go ahead!

[2019-04-25 10:28] shreyasbapat commented on #210
Sure @shreyanshdwivedi :)

[2019-04-25 10:33] ritzvik opened #213 "Optimize functions in Metric module"
🐞 **Problem**
`return_cartesian` option in functions `calculate_trajectory()` and `calculate_trajectory_iterator()` in all three classes in `metric` module seem slow!! This becomes quite evident on running the tests.

This is because, on each iteration, values are being converted to ~astropy.unit Quantities and then passed to the coordinate module.

🎯 **Goal**
  - Speed 'em up.

💡 **Possible solut

[2019-04-25 10:44] ritzvik opened #214 "Variable in metric module not named aptly!"
🐞 **Problem**
In all three classes in `metric` module, within the functions `calculate_trajectory()` and `calculate_trajectory_iterator()`, a boolean variable named `singularity_reached` keeps track whether the particle has crossed the event horizon or not. Singularity means the center of black hole where the space-time curvature becomes infinite. So the variable name does not reflect its usage.

[2019-04-25 10:57] shreyasbapat commented on #213
Do you have any suggestion in mind?

[2019-04-25 11:00] ritzvik commented on #213
removing the decorator `astropy.units.quantity_input` from functions in `coordinates` module would work I guess.
Then there would be no need to convert them to astropy Quantities.
What do you think?

[2019-04-25 15:09] Ankk98 commented on #214
I would like to work on this beginner-friendly issue.

[2019-04-25 15:18] ritzvik commented on #214
Sure. Go ahead.

[2019-04-25 18:42] #214 closed

[2019-04-25 19:45] shreyasbapat commented on #213
But won't that make us suffer from units issues?

[2019-04-25 19:45] shreyasbapat commented on #213
When we talk about coordinates, units are necessary!

[2019-04-25 23:45] fiterace commented on #212
@ritzvik i want to work on this issue.

[2019-04-26 01:17] ritzvik commented on #213
What do you suggest we do then???

[2019-04-26 01:19] ritzvik commented on #212
Sure @fiterace . Have your way with the issue ;)

[2019-04-27 08:54] ritzvik commented on #212
@fiterace Sorry for not giving you adequate time to take up the issue. Hope you would understand the urgency.
@shreyasbapat PR has been put up addressing this. #217

[2019-04-27 09:15] #212 closed

[2019-04-28 11:32] ritzvik commented on #105
Don't know if this would help https://github.com/martinberoiz/BHBattle, but it says it uses Kerr Null-geodesic generator.

[2019-04-28 19:12] ritzvik opened #218 "Change Navigation Bar style in docs"
🐞 **Problem**
The highlighted link is split in two lines, and there is no way to differentiate.
![30](https://user-images.githubusercontent.com/24695764/56868941-e7113480-6a16-11e9-923d-dd099e3f14bc.PNG)
See for yourself at http://docs.einsteinpy.org/en/latest/

🎯 **Goal**
  - Make the index bulleted.

💡 **Possible solutions**
  - Tinker in `docs/source/_static/custom.css`
  - Hint :
[code]

📋  **

[2019-04-28 23:13] fiterace commented on #218
hi @ritzvik I would like to work on this issue

[2019-04-29 00:44] fiterace commented on #210
@shreyanshdwivedi are you still working on this? If not, I will be glad to take this.

[2019-04-29 05:24] ritzvik opened #221 "handle DeprecationWarning in tests"
🐞 **Problem**
In all CI tests, `astropy.units` is raising `DeprecationWarning`.
[code]

🎯 **Goal**
  - Fix it.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #221`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this

[2019-04-29 07:01] shreyanshdwivedi commented on #210
@fiterace I'm busy with my exams. Please go ahead

[2019-04-29 08:25] #218 closed

[2019-04-29 08:30] shreyasbapat commented on #221
It's okay! I guess it is the problem upstream. We *must* not suppress warnings in tests!

[2019-04-29 08:31] shreyasbapat commented on #213
Instead of having accuracy and precision with user friendliness at stake, we close this issue!

Also, we contribute to astropy units and boost their performance upstream!

[2019-04-29 08:34] ritzvik commented on #221
The problem may be upstream. I was not indicating to suppress the warnings. Just wanna know and fix the cause. Again, the problem may be upstream.

[2019-04-29 13:05] ritzvik commented on #221
The problem is not upstream. Problem is `astropy.units.quantity.Quatitity` object is compared with `int`.

In the function `test_plot_calls_draw_attractor_Manualscale()` replacing `!=` by `is not` would do the trick.
@shreyasbapat It's a good first issue ;)

[2019-04-29 13:08] shakeabi commented on #221
@ritzvik I would like to work on this.

[2019-04-30 01:50] Marlin-Na commented on #70
For reference:
1. [GraviPy](https://pypi.org/project/GraviPy/) has implemented several metrics, including Christoffel symbols, Ricci tensor, Riemann tensor, Einstein tensor and Geodesics.
2. [SageManifolds](https://sagemanifolds.obspm.fr/examples.html) in Sage.

[2019-04-30 04:10] Marlin-Na opened #223 "Use SymEngine to improve performance of symbolic tensor calculus"
🐞 **Problem**

I am opening this issue for tracking progress and discussion.

Some functions for symbolic tensor calculus are slow, for example the `kerr_christoffels` in the example page takes a noticeable time to complete.

[SymEngine](https://github.com/symengine/symengine.py) can be used to replace SymPy to improve the performance. In support of this, I did a simple [benchmark](https://github.

[2019-04-30 06:37] ritzvik commented on #223
@Marlin-Na Thanks for the issue. Would keep the SymEngine issue in tabs.

[2019-04-30 09:22] shreyasbapat commented on #223
If I see correctly, their build is failing in the development version :/ (Not a good sign!)

[2019-04-30 09:23] shreyasbapat commented on #223
Can you show a simple plot to prove this? :)

[2019-04-30 10:02] Marlin-Na commented on #223
What I can tell is that the core C++ library and its python wrapper are well maintained and new features are being added actively. The core developers of SymEngine are also authors of Sympy. However, given the complexity of the C++ library, it often takes more effort to address bugs and implement new features than in python.

Regards to the build failure, it is apparently trivial since build test

[2019-04-30 10:42] ritzvik commented on #223
Well, we are going to keep it in tabs, not absolutely committing to it.

What sort of plot are you asking for?

[2019-04-30 10:45] ritzvik commented on #223
@Marlin-Na , I was asking if we continue our development in sympy(due to stability reasons) and at some later point decide to move to symengine, how much efforts would it take.

[2019-04-30 11:09] Marlin-Na commented on #223
I think there is not too much effort involved for switching to SymEngine. Many SymEngine functions are drop-in replacement of SymPy's version.

However, I would suggest to take care of the returned type -- though most of the SymEngine classes are compatible with SymPy, there might be some edge cases and we do not want to our functions return different types after switching to SymEngine. Thus I was

[2019-04-30 11:17] ritzvik commented on #223
The user option idea seems good. What I suggest, let the development continue in sympy for a while, and then shift to optional symengine backend.
BTW, even sympy people are floating projects to switch to symengine backend. https://github.com/sympy/sympy/wiki/GSoC-2018-Ideas#improve-sympy-integration

[2019-04-30 15:51] ritzvik commented on #213
Closing would not do the trick. Things have become slow by factor of 4x-5x.  What I suggest, we implement the conversions within the `if-else` condition for the time-being.
https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/metric/kerr.py#L177-L193

[2019-04-30 16:09] ritzvik commented on #213
@shreyasbapat Suggestions?
![rgrr](https://user-images.githubusercontent.com/24695764/56976346-5f4f3580-6b90-11e9-875d-4cf0c26c5d10.jpg)

[2019-04-30 18:43] shreyasbapat commented on #213
I never said it would. I am just saying that, sacrificing usability for performance is not good. If you don't handle units well, you are not producing a software that can guarantee a good and accurate result.

The actual users would never use it like that! Perhaps for playing around, it may seem fine. But we must be very clear with what the objective of the package is. You can either have usabilit

[2019-04-30 18:48] shreyasbapat commented on #213
And other points that I want to put forward:

1) Having if else in a core API is never suitable. Let it be slow. We will make it fast by making something to handle units. But as long as we are dependent on astropy (And I don't think we can code units better than what astropy already has! ), there is no point of crying about performance here. We should go and do as much possible to make astropy uni

[2019-04-30 18:48] shreyasbapat commented on #213
And other points that I want to put forward:

1) Having if else in a core API is never suitable. Let it be slow. We will make it fast by making something to handle units. But as long as we are dependent on astropy (And I don't think we can code units better than what astropy already has! ), there is no point of crying about performance here. We should go and do as much possible to make astropy uni

[2019-04-30 18:49] shreyasbapat commented on #213
If there is a bottleneck in the code, you try to make the neck wider, not remove it or bypass it!

[2019-04-30 19:09] ritzvik commented on #213
@shreyasbapat I believe you got me it wrong what I meant to say. I think we already came to an agreement not to remove astropy units. I was saying that what whatever code is inside the coordinates module for handling conversions, we can paste the same code within the functions in `metric` module, instead of creating objects. Maybe, give my comment a second read.

And my judgement says that we shou

[2019-04-30 19:11] shreyasbapat commented on #213
Then that would increase the code redundancy :/

[2019-04-30 19:11] shreyasbapat commented on #213
Where :confused:

[2019-04-30 19:12] ritzvik commented on #213
My bad, my browser rendered the same comment twice. Refreshed it 😄

[2019-04-30 19:15] ritzvik commented on #213
.

[2019-04-30 19:20] shreyasbapat commented on #130
hI @olebole , can you please clarify this? Because I am getting some errors when I remove it manually!

[2019-04-30 19:34] shreyasbapat commented on #223
I see a good script in @Marlin-Na 's branch! I would like to just see the plots of the fact that Marlin said. And that should be easy! :)

[2019-04-30 19:35] shreyasbapat commented on #223
And about this,

If they are doing it, why should we even care? :wink:

[2019-04-30 23:33] Marlin-Na commented on #223
@shreyasbapat The plot you want : )

![benchmarkplot](https://user-images.githubusercontent.com/9980776/56999768-9583b980-6b7e-11e9-9e2b-f686740979fb.png)

[2019-05-01 12:05] olebole commented on #130
Oh, sorry for the delay.

The problem is that you can't change the original files directly in the Debian package.  The build will always start with the tar file, which shall be the "official" tar file from pypi. The only thing one may do here is to delete files from the tar after downloading (but before injecting into git). To do this, three things are needed:

 1. Add these files in a `Files-Excl

[2019-05-01 17:54] shreyasbapat commented on #130
Ok! Thanks @olebole  That seems to work. :)

Can you show me how should I add a GPG key?

[code]

[2019-05-01 18:39] shreyasbapat commented on #130
I mean how do I export my existing gpg key here?

[2019-05-01 19:13] olebole commented on #130
That is not a problem; you don't need a key here and can ignore this error (or setup some option that disables keysigning; I however forgot what this was).
The reason is that the package needs to be signed by a Debian Developer to be uploaded. Since you are not a Debian Developer, I will do that for you (which is called "sponsoring" in Debian slang), and so it is me who needs to sign the package.

[2019-05-01 19:46] shreyasbapat commented on #130
I signed it as well :confused:

I am left with just this:
[code]
I will be leaving the error as discussed in comment : https://github.com/einsteinpy/einsteinpy/issues/130#issuecomment-484382992

Where should the man page be?

[2019-05-01 20:00] olebole commented on #130
To install the manpages, you can just put the file name of the manpage into `debian/python3-einsteinpy.manpages`.
I have a two additional warnings (maybe because my lintian is newer, or you already fixed them locally):
[code]
The first means that you should indent the second line of the "Copyright" item. And the second means that you should the description only by a single space.

[2019-05-01 20:03] shreyasbapat commented on #130
I seem to have fixed them locally :/
I will push ASAP!

Do you mean, I will have to write the manpage?

[2019-05-01 20:07] olebole commented on #130
If your tool behaves like a standard program (so, with short and maybe long options), you may have some look to generate it with the "help2man" tool; but otherwise: yes. It is however not that difficult. There are a number of simple tutorials available, a random one is [this](https://www.cyberciti.biz/faq/linux-unix-creating-a-manpage/).

[2019-05-01 20:28] shreyasbapat commented on #130
So, I fixed every other thing.
I have one last doubt. I will create a manpage for einsteinpy.

[code]

But where do I put that? You asked me to put the name of manpage in `debian/python3-einsteinpy.manpages`. But I didn't understand where to put the page.

Also, what are the things that I need to push to the repository on salsa?
I don't think you would want the files that are generated after `gbp

[2019-05-01 20:36] olebole commented on #130
The manpage should describe the "einsteinpy" tool, not the package itself. The idea is that any executable in Debian is accompanied by a manpage.
Once you generated the manpage somewhere, you put that path into `debian/python3-einsteinpy.manpages`, and pybuild will install it on the proper place.
On salsa, there should be 3 branches:
 * `master` (containing the `debian/` subdirectory with the file

[2019-05-01 21:54] shreyasbapat commented on #130
No lintian error anymore except the one I stated above :)
And no warnings either :)

[2019-05-01 21:57] shreyasbapat commented on #130
For reference:

[code]

[2019-05-01 21:59] shreyasbapat commented on #130
I think this completes everything. Please let me know if I should also push the manpage and the python3-einsteinpy.manpages file also!

[2019-05-02 07:33] olebole commented on #130
You should also push the upstream and pristine-tar branches. And the manpage, if it is not automatically generated during the build.
For the description (in `debian/control`), I would prefer to keep it in the extended version. Maybe my last comment was misleading (it was actually wrong):
The warning `extended-description-line-too-long` was just a hint that the line
[code]
contains more than 80 cha

[2019-05-02 12:10] shreyasbapat commented on #130
I think they are already on salsa

![image](https://user-images.githubusercontent.com/24257914/57074391-5af65a00-6d01-11e9-8c2b-1e6da6f82284.png)

And sure, I will update the description in a second.

[2019-05-02 12:11] olebole commented on #130
Yes, but the 0.1.0+dfsg updates are missing there.

[2019-05-02 12:13] shreyasbapat commented on #130
Right! I think the pristine-tar will need an update. The upstream is still the same. Am I correct on this one?

[2019-05-02 12:14] olebole commented on #130
No, upstream has changed since files were removed. Just push both.

[2019-05-02 12:34] shreyasbapat commented on #130
Hi @olebole  I have made the changes. Can you verify once?

[2019-05-02 12:44] olebole commented on #130
I will do the full test tonight UTC.  One thing however already concerns the manpage, which has still two issues:

First, since the manpage is not in the original tarball, it should not be put under `doc/source`, but under `debian/` -- any other directory than `debian/` must be unchanged from the original tarball.

It also should describe the "einsteinpy" script (installed as `/usr/bin/einsteinpy`

[2019-05-02 12:45] shreyasbapat commented on #130
We don't need any manpage then :)
I will remove it completely

[2019-05-02 13:01] shreyasbapat commented on #130
It is like astropy, sunpy, poliastro. We have no "einsteinpy" script as such.
Though, I think a change or two more and this will be ready. I really am very thankful to you @olebole :)
You have been very patient with me, with my doubts and issues.
I will really like to help debian astro pure blend by doing whatever I can do. Please let me know in hat ways I can be helpful.
:rocket:

[2019-05-02 19:11] olebole commented on #130
You may already received the confirmation -- I uploaded the package a few hours ago. I just added one more patch, and this was to remove the creation of the "einsteinpy" script in `setup.py`.
To help us, there are many ways. The first is to keep that package in a good shape once it is accepted by our ftp-masters, and to keep an eye for bugs in your package and fix them.
Then, you can look around w

[2019-05-02 20:07] shreyasbapat commented on #130
Yes. I got the confirmation :tada:

I have some ways in mind to get started with packaging for Debian. I will mail you personally for that!
Also, I didn't quite understand what you meant by this line in the very first post:

Does this mean the CI will run on https://salsa.debian.org/debian-astro-team/einsteinpy or something else?

[2019-05-02 20:24] olebole commented on #130
Once the package is accepted, https://ci.debian.net will take it an run the tests whenever one of the dependencies change. If the tests are not discovered automatically, you may need to give a hint, but for this let's wait until this is done.
Also, the package gets automatically built on all Debian architectures, and on all Ubuntu architectures -- not ony x86_64, but also ARM, MIPS etc. And during

[2019-05-03 10:38] shreyasbapat commented on #130
Got it! That's really great! :)

[2019-05-06 07:11] shreyasbapat commented on #106
Might be relevant: https://github.com/rantonels/starless

[2019-05-06 08:31] ritzvik commented on #105
Related repo : https://github.com/rantonels/starless

[2019-05-07 21:49] #126 closed

[2019-05-11 11:02] zeeshanahmad1 opened #226 "Installation"
einsteinpy installtion command is not running on cmd..

[2019-05-11 14:21] rtanmay opened #227 "Missing docstrings in __init__"
🐞 **Problem**

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import einsteinpy.testing; einsteinpy.testing.test()"`

<details>

[code]
</details>

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what yo

[2019-05-11 14:21] rtanmay commented on #227
There are some docstring missing in the __init__ constructors of many classes.

[2019-05-11 16:22] shreyasbapat commented on #226
Hi Zeeshan!

I am glad you tried installing EinsteinPy.
I would like to know more details.
What is your Operating System?
What command did you run?
What errors did you get?

Thanks
Shreyas

On Sat, May 11, 2019, 4:34 PM Zeeshan <notifications@github.com> wrote:

[2019-05-12 17:59] #227 closed

[2019-05-13 08:50] ritzvik commented on #105
A related paper : https://iopscience.iop.org/article/10.1088/0067-0049/207/1/6

[2019-05-16 17:30] ritzvik opened #229 "Remove Waffle badge from README.rst (other places also, if it's there)"
🐞 **Problem**
Waffle has died :(
See https://waffle.io/
Anyways, the heading is self-explanatory

[2019-05-16 17:32] hrishi32 commented on #229
Should I take this up?

[2019-05-16 17:34] ritzvik commented on #229
@hrishi32 Just beat it ;)

[2019-05-17 05:40] ritzvik opened #231 "A new Kanban for EinsteinPy"
🐞 **Problem**
Related to #229
As waffle.io is no longer with us, it's time for a replacement.

🎯 **Goal**
Get a new Kanban up & running.

💡 **Possible solutions**
https://stackshare.io/waffle-io/alternatives
See & inspect the alternatives.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add th

[2019-05-17 21:55] #229 closed

[2019-05-17 21:55] shreyasbapat commented on #226
Hi @zeeshanahmad1 . Do you have any updates?

[2019-05-23 19:13] shreyasbapat commented on #130
Now as the package is ready: https://packages.debian.org/sid/python3-einsteinpy
https://packages.debian.org/source/sid/einsteinpy

Closing this issue!

[2019-05-23 19:13] #130 closed

[2019-05-23 19:18] shreyasbapat commented on #226
I am gonna close this issue due to lack of details, please comment on the closed issue / reopen the issue @zeeshanahmad1 if you still have any issues. :)

[2019-05-23 19:18] #226 closed

[2019-05-23 19:24] shreyasbapat commented on #130
Also, some links to consider:
The package maintainer's page : https://tracker.debian.org/pkg/einsteinpy
The page for the binary package in unstable, python3-einsteinpy : https://packages.debian.org/unstable/python3-einsteinpy
The page for the source package in unstable: https://packages.debian.org/source/unstable/einsteinpy
The bugs page for einsteinpy: https://bugs.debian.org/src:einsteinpy
The G

[2019-05-29 12:24] shreyasbapat opened #233 "Port the whole codebase to Rust!"
:beetle:  **Problem**
The python code is slow for obvious reasons, and the ecosystem for rust is growing. I am sure not for Scientific Community, but for developers. So why not?

Rust was the most loved language in Developers survey conducted by Stack Overflow.
This can be a long term goal!

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, p

[2019-06-04 19:44] shreyasbapat commented on #233
So, I think we are going for it! Just for the sake of Speed and FUN!!!

[2019-06-04 19:45] shreyasbapat commented on #231
I think GitHub Projects must suffice our usecase for now. Closing this! We will reopen if needed!

[2019-06-04 19:45] #231 closed

[2019-06-05 21:20] #211 closed

[2019-06-08 16:42] #154 closed

[2019-06-08 16:44] shreyasbapat opened #234 "Add more Bodies to the bodies module"
🐞 **Problem**

Currently, the bodies module only has 2 bodies. The list can be extended.

🎯 **Goal**

A better plotting experience

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in commen

[2019-06-14 08:56] Varunvaruns9 opened #235 "Alternative to plotly for interactive plotting."
🐞 **What bugs you?**

We wanted to add interactive plotting using Plotly as an alternative to matplotlib but there are some concerns regarding its use. Plotly seems to work well when used in a Jupyter notebook or with a web application but there is no satisfactory way of using it with the command line. We can either return an object with details about the plot or save the plot as an image or HTML

[2019-06-14 10:17] shreyasbapat opened #236 "Update the User Guide to the newest version"
🐞 **Problem**

https://docs.einsteinpy.org/en/latest/user_guide.html

This does not use the `CartesianDifferential` objects that we created a while ago.

Refer to : https://docs.einsteinpy.org/en/latest/examples/Visualizing_advance_of_perihelion_of_a_test_particle_in_Schwarzschild_space-time.html

for understanding the changes done.
🎯 **Goal**

To get the User Guide up and running!

💡 **Possible s

[2019-06-14 17:56] ritzvik opened #237 "Migrate christoffel.py from utils to symbolic module"
🐞 **Problem**
The `christoffel.py` currently resides in `utils` module.

🎯 **Goal**
  - Make a new module `symbolic`, copy the `christoffel.py` into it and edit `__init__.py` in both `utils` and `symbolic` accordingly!

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Add

[2019-06-14 17:57] ritzvik commented on #237
@OVSofia @shreyasbapat

[2019-06-14 17:59] shreyasbapat commented on #235
https://matrix.to/#/!KXuIZXQfZbpAMwZnrm:matrix.org/$1560528462984755yvxmE:matrix.org?via=matrix.org&via=cadair.com&via=t2bot.io

Let's try out Bokeh?

[2019-06-14 20:47] Varunvaruns9 commented on #235
Bokeh seems to have the same problem as plotly, it is meant for displaying the results in a browser or notebook.

[2019-06-17 12:05] ritzvik commented on #105
https://iopscience.iop.org/article/10.1088/0004-637X/696/2/1616

[2019-06-19 04:42] shreyasbapat opened #239 "Write and example notebook for dealing in matrices"
Sometimes users need to define their own spacetime, we should somehow facilitate that by adding an example on how to do that!

[2019-06-19 04:43] shreyasbapat commented on #235
What are the other options available then?

[2019-06-19 04:43] ritzvik opened #240 "Redesign classmethods in metrics as new Coordinates module is in place"
🐞 **Problem**
Right now `Schwarzschild` class has two classmethods `from_cartesian` and `from_spherical`. It is no longer needed as we can detect the coordinates object passed to it.

🎯 **Goal**
  - Make a single classmethod `from_coords` for `Schwarzschild`.
  - Same for `Kerr` & `KerrNewman`

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit

[2019-06-19 05:12] Varunvaruns9 commented on #235
I was looking at Mayavi which requires VTK which would be an additional dependency. I still have to check if it is working well with Jupyter.

If this also doesn't work, we will have to go with either Plotly or stay on matplotlib.

[2019-06-19 06:39] shreyasbapat commented on #235
No Mayavi :/

Ok, let's do one thing. Let's give user a chance to set the working
environment they are in. And then render the related plots?
How about this?
So by this approach we would go with plotly!

On Wed, Jun 19, 2019 at 10:42 AM Varun Singh <notifications@github.com>
wrote:

[2019-06-19 06:56] Varunvaruns9 commented on #235
Ok, then are we displaying the plot in a browser window when the code is run from the command line?

[2019-06-19 10:05] shreyasbapat commented on #235
My idea is:
If user is on shell, display matplotlib
If user is on notebook, display plotly

And of course give options to user. This is difficult but I think we can do it?

[2019-06-19 10:39] Varunvaruns9 commented on #235
This is possible but using separate libraries for them might confuse some
people due to different interfaces.

Matplotlib already has an interactive mode for notebook using '% matplotlib
notebook' so we can use it for both cases.
We can also use Plotly for both if you are fine with viewing the plot in a
browser window instead of a dedicated one like in matplotlib.

On Wed, Jun 19, 2019, 3:35 PM Sh

[2019-06-20 10:22] Varunvaruns9 commented on #235
@shreyasbapat Which approach should I finally start working on?

[2019-06-20 13:52] shreyasbapat commented on #235
notebook' so we can use it for both cases.

That's nothing as compared to plotly

browser window instead of a dedicated one like in matplotlib.

We have to use matplotlib for plots to show in papers and books. :)

[2019-06-23 11:57] #237 closed

[2019-06-23 14:19] rishi-s8 commented on #233
Looks like a Project for the next GSoC. 🤔

[2019-06-23 15:34] ritzvik commented on #239
symbolically?

[2019-06-23 15:39] ritzvik opened #242 "Update "symbolic relativity" jupyter notebook example"
🐞 **Problem**
PR #241 introduced API breaking changes, that's why we need to overwrite or update http://docs.einsteinpy.org/en/latest/examples/Symbolically_Understanding_Christoffel_Symbol_and_Riemann_Curvature_Tensor_using_EinsteinPy.html

🎯 **Goal**
  - Show the usage of brand new `einsteinpy.symbolic` module by creating a new example or updating this one!

📋  **Steps to solve the problem**

 *

[2019-06-23 15:56] ritzvik opened #243 "Implement Ricci Tensor symbolically"
🐞 **Problem**
`einsteinpy/symbolic/ricci.py` is empty as of now.

🎯 **Goal**

  - Develop this into a full fledged module just like `einsteinpy/symbolic/riemann.py` .

💡 **Possible solutions**

  - Making classmethods like :
    - `from_metric`
    - `from_christoffels`
    - `from_riemann`
  - Read up https://en.wikipedia.org/wiki/Ricci_curvature :
    - Anyways, it's just R<sub>ij</sub> = R<sup>

[2019-06-23 16:01] ritzvik opened #244 "Add a few special metrics in symbolic module"
🐞 **Problem**
Yes, I'm talking about Schwarzschild metric & possibly, Kerr metric.

💡 **Possible solutions**

  - These can be separate classes inheriting from `Metric` class, or just functions returning an object of the `Metric` class. Open to discussion

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull re

[2019-06-23 16:04] ritzvik commented on #244
@shreyasbapat See the possible solutions and kindly put forward your opinion .

[2019-06-23 16:15] ritzvik opened #245 "Support indexing for Tensor object in symbolic module"
🐞 **Problem**
[code]
In short, `Tensor` object is not subscriptable.

🎯 **Goal**

  - Make them subscriptable

💡 **Possible solutions**

   - https://stackoverflow.com/questions/11469025/how-to-implement-a-subscriptable-class-in-python-subscriptable-class-not-subsc
  - Already `self.arr` is subscriptable, thanks to `sympy`. Use it's power for making this possible

📋  **Steps to solve the problem**

[2019-06-23 17:53] shreyasbapat commented on #233
Too much for a GSoC xD

[2019-06-23 17:54] shreyasbapat commented on #239
No

[2019-06-23 22:16] OVSofia commented on #244
In my opinion the best option is the second (Just functions).
But why they shouldn't be functions of the class ChristoffelSymbols(Tensor) ? (That's how I did it)

[2019-06-23 22:27] OVSofia commented on #245
I start with this. I should have it, and the Metric Tensor class. ready for tomorrow night.

[2019-06-24 00:31] ritzvik commented on #245
Sure @OVSofia , don't take pressure. Have your way.

[2019-06-24 00:38] ritzvik commented on #244
That's what I was thinking, functions are best. They should be functions returning instances of `MetricTensor(Tensor)` and not be functions inside the class, so that the classes do not lose their generality.

[2019-06-24 10:20] shreyasbapat commented on #244
What I think is, within the symbolic module, we can create a module for vacuum solutions and include it there!

[2019-06-24 10:21] shreyasbapat commented on #245
My god! great!

[2019-06-24 10:52] ritzvik commented on #244
Like a new file `vaccum_metrics.py`
[code]

How does this look??

[2019-06-24 11:49] ritzvik commented on #240
New classmethod name is up for discussion

[2019-06-24 13:19] OVSofia commented on #244
Looks good!

[2019-06-24 13:20] OVSofia commented on #244
I do it this this

[2019-06-24 13:20] OVSofia commented on #244
I do it like this

[2019-06-24 16:31] shreyasbapat opened #247 "Add developer documentation"
🐞 **Problem**

The package lacks developer docs. It will be good to have it :)

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate

[2019-06-24 18:22] ritzvik commented on #242
Doing this, incompatible examples can't go with the release!!

[2019-06-24 18:51] #236 closed

[2019-06-25 04:44] #242 closed

[2019-06-25 04:54] ritzvik opened #250 "__str__ and __repr__ for Tensor Class"
🎯 **Goal**

  - Additions in `einsteinpy/symbolic/tensor.py`.
  - The heading of the issue is self-explanatory.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your

[2019-06-25 12:41] shilpi1958 commented on #105
YNOGK
Paper: https://arxiv.org/pdf/1305.1250.pdf
Code : http://www1.ynao.ac.cn/~yangxl/yxl.html

[2019-06-26 07:52] cjayross commented on #106
So I can try to tackle this issue after I finish working on refactoring the symbolic module. In terms of the theory that will be helpful for us, these two papers are great reference for what could get us started on gravitational lensing:

+ <https://arxiv.org/pdf/gr-qc/0307072.pdf>
+ <https://arxiv.org/pdf/gr-qc/0001037.pdf>

[2019-06-26 08:27] ritzvik opened #256 "Implement index raising and lowering in Tensors"
🐞 **Problem**
We have no way to know whether the Tensor has contravariant or covariant indices

🎯 **Goal**

The indices must be properly formatted in front of a symbol.

  - [x] Metric Tensor
  - [x] Christoffel Symbols
  - [x] Riemann Tensor
  - [x] Ricci Tensor
  - [x] Weyl Tensor

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.

[2019-06-26 08:29] ritzvik commented on #256
@spacetimeengineer , this idea blatantly plagiarized from spacetimeengine, we would surely give the due credits.
Thanks!

[2019-06-26 08:43] shreyasbapat commented on #256
You can not bring any code from spacetimeengine. Its BSD 3 Claused and hence,  it is not possible for us to bring the code here.

[2019-06-26 09:29] OVSofia commented on #250
I'll start with this when I fix the mistakes of my last PR

[2019-06-26 11:59] spacetimeengineer commented on #256
What recommendations do you have for me changing the license to accommodate your intentions? I am no expert on this subject but I really want you to take the code for whatever purpose necessary,

[2019-06-26 12:45] ritzvik commented on #256
Wow, thanks ! It's really generous of you. It would be good to have MIT license, as it's the most open of all. Anyways, don't take any action regarding this now. We would intimate you after coming to a conclusion about what to do.

We welcome you to the community and you may join our chatroom https://riot.im/app/#/room/#einsteinpy:matrix.org

Again, thanks!!

[2019-06-26 12:55] shreyasbapat commented on #256
Hi @spacetimeengineer , I won't recommend you to change the licence. Its okay. I see that spacetimeengine and EinsteinPy are doing similar things. We know that already. So, is there any possible collaboration that can benefit the whole scientific community as a whole?

[2019-06-26 13:04] spacetimeengineer commented on #256
I only added an MIT license just now. I kept BSD because Sympy uses it but apparently I am allowed to add a second license which SHOULD permit you to use it. I am not entirely sure how open source licensing works but I would really like to get it figured out.

[2019-06-26 13:06] shreyasbapat commented on #256
@spacetimeengineer Can we discuss a few things somewhere? Some chat platform on which its wasy for you to communicate? :smiley:

[2019-06-26 13:14] spacetimeengineer commented on #256
Of-course, I am working now but if you send me a link, I can revisit later.

[2019-06-26 13:25] ritzvik opened #257 "Support substitution of variables in Tensor (symbolic module)"
🐞 **Problem**
  - The title is self explanatory

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this project 🎉

[2019-06-26 13:26] ritzvik commented on #257
I am doing this.

[2019-06-26 14:59] ritzvik commented on #256
If you are on Gitter then come say Hi here 😃
https://gitter.im/EinsteinPy-Project/EinsteinPy

Our Riot and Gitter chatrooms are integrated

[2019-06-27 15:02] ritzvik opened #259 "Idea: Make Tensor(symbolic module) a derived class of sympy.Array"
🐞 **Problem**
As of now, we have to explicitly define already available functions in sympy like `subs()`, `__getitem__()` etc.

🎯 **Goal**
  - Making this a derived class of `sympy.Array` would save a lot of hassle. Idea open to suggestions.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add

[2019-06-28 04:53] #257 closed

[2019-06-28 09:33] shreyasbapat commented on #107
Closed in #136

[2019-06-28 09:33] #107 closed

[2019-06-28 10:15] shreyasbapat opened #263 "Integrate Sympy's Lambdify in EinsteinPy"
 Our tensors should have the ability to represent arrays of numpy-like functions rather than sympy expressions

[2019-07-01 06:05] shreyasbapat opened #264 "Remove all the relative imports from the source code!"
🐞 **Problem**

It creates a lot of problem in packaging!

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to t

[2019-07-01 06:22] #243 closed

[2019-07-01 06:24] #245 closed

[2019-07-01 06:24] shreyasbapat commented on #244
I think we can still leave this open?

[2019-07-01 06:25] shreyasbapat commented on #190
Closing this for #239

[2019-07-01 06:25] #190 closed

[2019-07-01 06:25] ritzvik commented on #244
Yes please

[2019-07-01 06:26] shreyasbapat commented on #123
Geodesics module will do the required!

[2019-07-01 06:26] #123 closed

[2019-07-01 06:29] shreyasbapat opened #265 "Add new module's API Docs!"
🐞 **Problem**

API Docs are missing!

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this project 🎉

[2019-07-01 06:30] shreyasbapat opened #266 "Fix logo on Documentation!"
🐞 **Problem**
The logo doesn't appear, rather alt_text appears!

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contributi

[2019-07-01 06:44] ritzvik opened #267 "Docs not present for Ricci Tensor & Vacuum Metrics"
**Possible solutions**
  - Additions in `docs/source/api/symbolic/symbolic_index.rst`
  - New files `docs/source/api/symbolic/ricci.rst`, `docs/source/api/symbolic/vacuum_metric.rst`

  - Add `vacuum_metric` to `symbolic/__init__.py`

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in

[2019-07-01 06:58] OVSofia commented on #267
Instead of "vacuum_metric.rst" vacuum_metrics.rst, right? (with S)

[2019-07-01 07:05] OVSofia commented on #267
"Additions in docs/source/api/symbolic/symbolic_index.rst"
I do not add either einstein or stress_energy_momentum, since they still don't work.
So, tell me if I have to add it

[2019-07-01 07:33] OVSofia commented on #267
I could not link my last commit with this task, but it's done in it.
Next time I will write the issue number in the commit to make sure

[2019-07-01 08:20] ritzvik commented on #267
whatever you named the `.py` file

No, only add those which you have completed.

[2019-07-01 08:28] shreyasbapat commented on #267
Fix this ASAP!

[2019-07-01 08:30] shreyasbapat commented on #244
Can you please add the list of special metrics which can be added here? Expectations from this issue!

[2019-07-01 08:39] ritzvik commented on #244
- Kerr Metric
  - Kerr Newman Metric

Maybe, we can look for the database of exact solutions?

[2019-07-01 08:47] shreyasbapat commented on #244
cc @cjayross

Can you help us with the database?

[2019-07-01 08:48] cjayross commented on #244
I can manage to incorporate a plethora of metrics with the overhaul I'm working on at the moment. I don't know how worthwhile it will be to declare a class for each and every exact solution to the field equations, so at the moment the plan is to have them be represented abstractly and simply allow a much easier interface for manipulating them into whatever it is you need from them.

[2019-07-01 09:04] cjayross commented on #244
Yes, I definitely can.
What I'm thinking is that you can represent each metric by having them defined within individual files with each following a template that sets one variable that stores the matrix representation of the metric and another to store the coordinate basis of said representation. This way, there is no longer any need for tediously having each of the hundreds of metrics be defined

[2019-07-01 10:43] OVSofia commented on #267
I think thath is already fixed.

[2019-07-01 10:49] ritzvik commented on #267
Nopes.
I already told you to learn how to add documentation from PR #241
You need to add new files in `docs/source/api/symbolic` and edit the index there.

[2019-07-01 10:54] OVSofia commented on #267
That's what I think I've done

[2019-07-01 10:57] OVSofia commented on #267
Create  ricci.rst:
Ricci Tensor Module
===================

This module contains the class for obtaining Ricci Tensor
related to a Metric belonging to any arbitrary space-time symbolically:

.. automodule:: einsteinpy.symbolic.ricci
    :members:

and vacuum_metrics.rst:
Vacuum Metrics Tensor Module
=============================

This module contains the definition Schwarzschild Metric
related to

[2019-07-01 13:00] ritzvik commented on #267
In `einsteinpy/symbolic/__init__.py`, you would also need to add the line `from vacuum_metrics import SchwarzschildMetric`. Remember `black` & `isort` OR `tox`.

Yes, add these, make a new PR with a new branch.

Also add:
  - `vacuum_metrics` and
  - `ricci`

in `docs/source/api/symbolic/symbolic_index.rst`

[2019-07-01 14:25] OVSofia commented on #267
I think I did all this when I did the push this morning, so I've done a PR of my commit to try to clarify this issue and finally close it :)

[2019-07-01 14:53] OVSofia commented on #267
Just in case I've create a new branch

[2019-07-01 19:04] #191 closed

[2019-07-01 19:04] #240 closed

[2019-07-01 19:05] shreyasbapat commented on #265
Closed in #248

[2019-07-01 19:05] #265 closed

[2019-07-01 19:23] #267 closed

[2019-07-01 20:34] shreyasbapat commented on #121
Can be closed for now :)

[2019-07-01 20:34] #121 closed

[2019-07-01 20:51] #264 closed

[2019-07-01 20:51] #266 closed

[2019-07-02 00:47] ritzvik opened #271 "Huge Changes required in User Guide"
🐞 **Problem**
Significant API changes were carried out in #248

🎯 **Goal**
  - Make the User Guide consistent

💡 **Possible solutions**
  - File present here `docs/source/user_guide.rst`

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`

[2019-07-02 00:52] ritzvik opened #272 "Idea: Add Geodesic to einsteinpy __init__"
🐞 **Problem**
There is no point in doing `from einsteinpy.geodesic import Geodesic`

🎯 **Goal**

Maybe, this looks better. `from einsteinpy import Geodesic`

💡 **Possible solutions**

Add to `src/einsteinpy/__init__.py`, `from .geodesic import Geodesic`.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull req

[2019-07-02 05:13] shreyasbapat commented on #272
We can't add this to EinsteinPy's init for obvious reasons!

[2019-07-02 05:13] #272 closed

[2019-07-02 05:16] shreyasbapat commented on #271
Create a Pull Request ASAP

[2019-07-02 05:29] ritzvik commented on #272
Numpy's init also doe this https://github.com/numpy/numpy/blob/master/numpy/__init__.py

[2019-07-02 12:32] spino17 opened #273 "Solving geodesics for embedding surface to simulate gravitational lensing"
One of task for implementing hypersurface is to solve for null geodesics for the embedding metric and obtain trajectories on this hypersurface to simulate gravitaional lensing effect on the current plots.

[2019-07-02 16:33] spino17 opened #275 "Introducing G and c values in the hypersurface module"
Currently the hypersurface module is written with c=1 units but for further integration with other modules of the library introduce G and c values in the expressions and appropriately scale the values at the time of rendering the plots else keep using the above unscaled values for rest of the calculations (including solving geodesics).

[2019-07-02 19:48] ritzvik opened #277 "Coordinate conversion inside plotting module not handled correctly"
🐞 **Problem**
Earlier, plotting was written with `Schwarzschild` in mind, which relies on Spherical Coordinates only. But as the plotting was extended for `Geodesic` object, it inherently deals with `Kerr` & `KerrNewman` also. The coordinate conversion inside `ScatterGeodesicPlotter` and `StaticGeodesicPlotter` is not taken care by coordinates module and the design assumes Spherical to Cartesian c

[2019-07-02 19:49] ritzvik commented on #277
@shreyasbapat @Varunvaruns9 , kind of an urgent problem!

[2019-07-03 05:06] #271 closed

[2019-07-03 05:36] shreyasbapat commented on #277
Oh my my!

This needs a fix!

[2019-07-04 08:24] ritzvik opened #281 "Update email in CODE OF CONDUCT"

[2019-07-04 12:11] shreyasbapat commented on #281
Why?

[2019-07-04 12:14] ritzvik commented on #281
Its `einsteinpy.project@gmail.com`, and I think we have changed it. Right?

[2019-07-04 13:08] rdisipio opened #282 "Support for bi-metric GR extension"
Hi,

   I'd like to suggest the introduction of a bi-metric model in EinsteinPy along the lines of Hossenfelder's arXiv:0807.2838 or JP Petit's "Janus" cosmological model (see http://www.ptep-online.com/2019/PP-56-09.PDF). I understand this is not exactly at the core of research in GR. What I have in mind is to have the possibility to study the motion of small-mass probes or light in presence of d

[2019-07-04 16:59] shreyasbapat commented on #282
Definitely. Let's aim this for "0.3.0"

[2019-07-04 17:12] shreyasbapat commented on #281
NO! Its still the same :)

[2019-07-04 17:12] #281 closed

[2019-07-04 17:12] shreyasbapat commented on #277
Closed in #274

[2019-07-04 17:12] #277 closed

[2019-07-04 17:29] shreyasbapat commented on #124
#274 Addresses this!

[2019-07-04 17:29] shreyasbapat commented on #124
And rather closes it!

[2019-07-04 17:30] #124 closed

[2019-07-04 17:34] shreyasbapat commented on #210
Fixed in #248

[2019-07-04 17:34] #210 closed

[2019-07-04 17:39] shreyasbapat commented on #179
#274 Closes this!

[2019-07-04 17:39] #179 closed

[2019-07-04 17:57] #247 closed

[2019-07-04 18:23] shreyasbapat commented on #256
Closed in #278

[2019-07-04 18:59] ritzvik commented on #256
@OVSofia , As evident from the checklist above, indices manipulation already works with some tensors. Kindly go through PR #278 thoroughly and try to understand the working. See the example http://docs.einsteinpy.org/en/latest/examples/Playing_with_Contravariant_and%20Covariant_Indices_in_Tensors(Symbolic).html . I'm assigning this to you, try to check the other two tick-boxes :)

[2019-07-04 20:34] shreyasbapat opened #284 "Fix the docs :'("
🐞 **Problem**

https://docs.einsteinpy.org/en/latest/api/index.html

The graph clearly lacks the new modules :'(

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments sec

[2019-07-05 05:09] ritzvik opened #285 "Reorder The modules list in docs(symbolic part)"
🐞 **Problem**
The ordering looks too arbitrary & doesn't make sense.
![1](https://user-images.githubusercontent.com/24695764/60699291-d3031b00-9f10-11e9-8dfb-4e8251afb983.PNG)

🎯 **Goal**

  - Reorder them

💡 **Possible solutions**

  - Maybe in this fashion :
    - Metric
    - Christoffel
    - Riemann
    - Ricci

📋  **Steps to solve the problem**

 * Comment below about what you've started wor

[2019-07-05 05:23] ritzvik opened #286 "Create a backend(sort of) for coordinates module"
🐞 **Problem**
The coordinate conversions in EPY core functions like `calculate_trajectory()` in `metric` module is painfully slow. Part of the reason is we are first converting values into `astropy quantity` objects then passing them to `coordinates` module, that too tens of thousands of times.

Solving this would speed up plotting and trajectory calculation(4x-10x)

🎯 **Goal**

  - Create a backe

[2019-07-05 05:25] shreyasbapat commented on #286
I will do it personally!

[2019-07-05 05:26] ritzvik commented on #286
OK then.

[2019-07-05 06:02] ritzvik commented on #284
One more thing, `docs/source/examples/Playing_with_Contravariant_and Covariant_Indices_in_Tensors(Symbolic).ipynb` file name has one space instead of underscore (`_`).
Kindly fix this along the way!

[2019-07-05 16:44] ritzvik commented on #213
Duplicate Issue #286 , this should have been sorted out much earlier. Closing this one .

[2019-07-05 16:44] #213 closed

[2019-07-05 16:56] aptus-jaime commented on #113
Hi I hope to be a new contributor at some point but I was quite confused by this issue.  Why is there seperate geodesic solvers for each metric?  Wouldn't a generic solver which takes in a metric class be best?  I've implemented something similar in C in the past:

https://github.com/jaime-varela/Geodesic-solver

[2019-07-05 17:01] jman27182818 commented on #113
Hi I hope to be a new contributor and I was a bit confused on this issue.  Why is there a seperate ODE integrator for each metric?  Wouldn't a generic integrator which takes in a metric class be best?

I implemented basic prototype like this in C in the past:

https://github.com/jaime-varela/Geodesic-solver

[2019-07-05 17:13] ritzvik commented on #113
Solving geodesic equations with arbitrary initial positions & velocity requires 2 things, Christoffel Symbols and a tensor which is differential of Metric Tensor w.r.t. each component(time and space). So we have to explicitly define these 2 tensors also, apart from the metric tensor.

Also calculating Schwarzschild Geodesics is much simpler because the Christoffel Symbols are 0 at most of the indi

[2019-07-05 17:15] ritzvik commented on #113
@jman27182818 Come, drop a hi at https://riot.im/app/#/room/#einsteinpy:matrix.org or https://gitter.im/EinsteinPy-Project/EinsteinPy . These are our community chatrooms and both are bridged!

[2019-07-06 04:06] ritzvik opened #287 "Addition of Ricci Scalar to symbolic module"
🎯 **Goal**

  - Add a class `RicciScalar` to `src/einsteinpy/symbolic/ricci.py`.
  - See https://en.wikipedia.org/wiki/Scalar_curvature
  - S = R<sup>k</sup><sub>k</sub>, that is `S` is summed over index k in Ricci Tensor by putting `i=j=k`.

⚠️ **Hurdles**

  - This would require implementing index raising and lowering in `RicciTensor` first, which is being tracked in issue #256 .

📋  **Steps to

[2019-07-06 04:06] ritzvik commented on #287
@OVSofia , issue for Ricci Scalar

[2019-07-06 04:11] ritzvik opened #288 "Extend support of Tensor Class(symbolic) to support scalars"
🐞 **Problem**
Scalars are also zero order tensors. The Tensor class currently supports 1st order tensors and above.

🎯 **Goal**

  - Make `Tensor` support scalars. This issue can also help in #287 .

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue n

[2019-07-06 23:25] shreyasbapat opened #289 "The Interactive Plots do not show up in notebook!"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this project 🎉

[2019-07-06 23:36] shreyasbapat commented on #284
That notebook was not even in example gallery. Please keep a note about it when you add new examples!

[2019-07-07 00:04] #284 closed

[2019-07-07 00:25] shreyasbapat commented on #289
Closed in #290

[2019-07-07 04:31] ritzvik commented on #289
Still not showing up!
http://docs.einsteinpy.org/en/latest/examples/Visualizing_advance_of_perihelion_of_a_test_particle_in_Schwarzschild_space-time.html

[2019-07-07 07:18] shreyasbapat commented on #289
Oghhhhhh!

[2019-07-07 07:24] shreyasbapat commented on #289
From browser console!

[code]

[2019-07-07 11:41] ritzvik commented on #289
I think I'm going to host plots online for this example, doing this in PR #291

[2019-07-07 18:01] shreyasbapat commented on #289
No. We need to fix the cause of this issue. Not over up for it.

[2019-07-07 19:06] ritzvik commented on #289
Done in #291, we got injected JS script showing up on sphinx. Check the PR

[2019-07-07 21:34] rtanmay commented on #221
@shreyasbapat  @ritzvik  is this issue still open?

[2019-07-08 21:26] cjayross opened #294 "``pip install --user --editable .`` Does not work."
🐞 **Problem**
Installing EinsteinPy using ``pip`` with both the ``--user`` flag and the ``--editable`` flag cause an error and is unable to install the package. Using either flag individually, however, seems to work fine (the later being only with root permissions).

</details>

<details>

[code]
</details>

[2019-07-09 03:49] cjayross commented on #294
Adding the additional flag ``--no-use-pep517`` resolves this issue.

[2019-07-09 05:37] #294 closed

[2019-07-09 15:36] #285 closed

[2019-07-10 19:14] shreyasbapat commented on #289
Closed in https://github.com/einsteinpy/einsteinpy/commit/5df0f3b9e53a9c923b6d1c63c3b3d3c9fc4efe9f

[2019-07-10 19:14] #289 closed

[2019-07-11 20:14] #250 closed

[2019-07-12 08:12] shreyasbapat commented on #221
Yes.

[2019-07-14 12:24] #287 closed

[2019-07-14 15:13] ritzvik commented on #256
@OVSofia , ricci tensor checked! :)

[2019-07-14 22:22] OVSofia opened #298 "Addition of Weyl Tensor to symbolic module"
🎯 **Goal**

* Create a new file called weyl.py and add a class WeylTensor to this new file.
 * src/einsteinpy/symbolic/weyl.py
 * For more detail https://de.wikipedia.org/wiki/Weyl-Tensor

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>

[2019-07-15 05:13] ritzvik commented on #70
We can close this I think, as very specific symbolic related issue are being opened now.

Way to go @OVSofia

[2019-07-15 05:13] #70 closed

[2019-07-17 05:58] ritzvik opened #299 "Leverage Symmetry in Christoffel Symbols to improve the performance of symbolic module"
🐞 **Problem**
  - Christoffel Symbols are symmetric over 2nd and 3rd indices

🎯 **Goal**

  - Use this property to speed up it's calculation from metric tensor

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in com

[2019-07-17 13:45] ritzvik commented on #299
@OVSofia as discussed, assigning this to you. Happy coding 😄

[2019-07-17 13:46] OVSofia opened #300 "Addition of Einstein Tensor to symbolic module"
🎯 **Goal**
* Add a class EinsteinTensor in src/einsteinpy/symbolic/einstein.py
* https://en.wikipedia.org/wiki/Einstein_tensor

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 *

[2019-07-21 09:53] #298 closed

[2019-07-21 10:00] #256 closed

[2019-07-22 17:30] ritzvik commented on #263
@OVSofia , search about sympy's lambdify. Sooner or later, you would have to do this 😄

[2019-07-22 17:36] ritzvik opened #303 "Class to represent a vector in arbitrary space-time symbolically"
🐞 **Problem**
A class, which is derived from Tensor can be used to represent vectors(1st Order Tensor) in a spacetime.

🎯 **Goal**

  - Create such a class in symbolic module

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for

[2019-07-23 07:54] #198 closed

[2019-07-24 05:10] shreyasbapat opened #305 "Adapt to Plotly 4.0"
🐞 **Problem**

There are a lot of new cool additions to plotly 4.0
(https://medium.com/@plotlygraphs/plotly-py-4-0-is-here-offline-only-express-first-displayable-anywhere-fc444e5659ee)

🎯 **Goal**

Use `Figure` instead of widgets. Maybe that will show plots in docs, and we will release a minor version.

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've

[2019-07-24 05:26] shreyasbapat commented on #132
Closed! :)

EinsteinPy is an Astropy Affiliated Package now :D

[2019-07-24 05:26] #132 closed

[2019-07-24 05:28] shreyasbapat commented on #282
@rdisipio I aim to approach this. Can you please give me your email ID? I want to discuss a few things :D

[2019-07-24 11:31] Varunvaruns9 commented on #305
The new version looks great. I'll start working on it after #304.

[2019-07-24 17:27] OVSofia commented on #299
I've been looking it and I think the code is already based on the symmetry of the 2nd and 3rd indices because it uses this formula:
![image](https://user-images.githubusercontent.com/51050291/61814522-8bedb300-ae48-11e9-9bd3-3a09bd27d2b9.png)
`tmpvar += (matinv[i, n] / 2) * (
                    sympy.diff(mat[n, j], syms[k])
                    + sympy.diff(mat[n, k], syms[j])

[2019-07-24 18:11] ritzvik commented on #299
cc @OVSofia

[code]
The current code looks like this
`j`,`k` are the symmetric indices. Currently `j` and `k` both run from `0` to `dims-1` independent of each other. However you can create conditions such that `k<=j` always and then you can use `tmplist[i][j][k] = tmplist[i][k][j] = tmpvar`. This would reduce the computation by half.

[2019-07-25 17:14] #300 closed

[2019-07-26 05:56] shreyasbapat commented on #305
Cool!

[2019-07-27 12:28] #299 closed

[2019-07-27 18:53] rdisipio commented on #282
I'm on vacation now, I'll look into this in a week or so. Drop me a line to riccardo.disipio@gmail.com

[2019-07-28 03:18] ritzvik opened #309 "Add loads of predefined metrics in symbolic module"
🐞 **What bugs you?**
  - Have predefined metrics in *symbolic* module

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this project 🎉

[2019-07-28 09:38] ritzvik opened #310 "Make another derived class from Tensor and make it base for all the tensors in symbolic module"
🎯 **Goal**
  - Make another class `GRTensor` from `Tensor` and use it as a base class for `MetricTensor`, `ChristoffelSymbol` etc. This way we can transfer many of the repetitive functions like `change_config` into it.
Further, this would be a step towards #259

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a p

[2019-07-29 15:33] OVSofia opened #312 "Notebook example for Weyl, Einstein and Ricci"
🎯 **Goal**
 * Create jupyter notebook example for Weyl

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this project 🎉

[2019-07-29 15:39] OVSofia opened #313 "Stress-Energy-Momentum Tensor Module"
🎯 **Goal**

 * Create Stress-Energy-Momentum Tensor Module
 * This class would focus on the computation of the ​ Stress-Energy Coefficient​

![image](https://user-images.githubusercontent.com/51050291/62061595-cc25aa80-b227-11e9-9554-c45b03f4e525.png)

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull reques

[2019-07-29 15:44] OVSofia opened #314 "Schouten Tensor"
🎯 **Goal**

 * Create Schouten Tensor module
 * https://en.wikipedia.org/wiki/Schouten_tensor

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to th

[2019-07-30 13:40] #310 closed

[2019-07-30 20:27] shreyasbapat opened #316 "Change how the Coordinates Transform! - Again!"
🐞 **Problem**

Current state of the coordinates make everything too slow. I want speed. And I am gonna make things too fast! xD

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review

[2019-08-01 15:39] #312 closed

[2019-08-04 06:50] #9 closed

[2019-08-07 19:55] #305 closed

[2019-08-09 14:09] ritzvik commented on #316
You created a redundant issue #286

[2019-08-14 15:16] OVSofia opened #321 "Notebook example for StressEnergyMomentum Tensor and Schouten Tensor"
🎯 **Goal**

 * Create jupyter notebook example for StressEnergyMomentum Tensor and Schouten Tensor

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution

[2019-08-15 20:21] OVSofia commented on #288
I'll handle this,  if that's all right

[2019-08-16 18:05] rdisipio commented on #282
Hi,
    I don't think I ever received any message from you guys lately. I have been digging the literature a bit more in the past days. What I would like to test is related to the so-called "Interior Schwarzschild metric". Here are two papers that describe the problem:

* Negative gravitational lensing effect Confinement by surrounding negative
matter, J-P Petit and G. D'Agostini (not sure it was

[2019-08-16 22:50] shreyasbapat commented on #282
Oh. I am so sorry @rdisipio . I was in a conference, and travelling a lot!  Thanks for your patience with me.  I will write a mail this weekend.

[2019-08-16 22:52] #303 closed

[2019-08-18 18:07] #313 closed

[2019-08-18 18:59] ritzvik commented on #321
Leave it! I think there are enough examples. Let people figure out from documentation 🤣

[2019-08-18 18:59] #321 closed

[2019-08-18 19:03] ritzvik opened #324 "Docs build failing, some problem in the symbolic constants module"
🐞 **Problem**
CircleCI docs build is failing. There is some problem in `einsteinpy.symbolic.constants`.

Also, it is weird that an example code-block is appearing out of nowhere.
See http://docs.einsteinpy.org/en/latest/api/symbolic/constants.html

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request an

[2019-08-20 02:30] ritzvik commented on #263
@OVSofia , only a few days are left in the SOCIS timeframe, so can you start working on this?

[2019-08-20 10:01] OVSofia commented on #263
I was with KerrMetric and KerrNewmanMetric, but I can fix this first

[2019-08-20 11:15] ritzvik commented on #263
I have other plans for them. Let's work on this first!

[2019-08-20 16:15] shreyasbapat commented on #324
I understand the issue! On it!

[2019-08-20 18:03] rishi-s8 commented on #316
@shreyasbapat
How are we doing this?

[2019-08-21 11:28] OVSofia commented on #263
@ritzvik @shreyasbapat I think this task is already (in the absence of being reviewed ) done. I have seen that issue #259 is missing. Do I start with that?

[2019-08-21 14:39] rdisipio opened #326 "Testing error in virtual environment"
Hi,

  I'm installing EinsteinPy 0.2.0 on my MacOsX laptop. This is the sequence of instructions I've run:

[code]

If I try to execute the testing suite, it complains about a missing package. So I added:
[code]

But again, if I do:
[code]

I get the following output:

[code]

I checked that plotly is installed.

[2019-08-21 16:07] ritzvik commented on #326
@shreyasbapat

[2019-08-21 16:37] shreyasbapat commented on #326
HI @rdisipio ,

I am really sorry. For FigureWidget to run properly, one needs to have `ipywidgets` installed. Which your virtual environment lacks. I could easily reproduce the issue. And this issue will be gone in `0.2.1` release. So a quick fix would be:

[code]

[2019-08-21 16:42] shreyasbapat commented on #316
No @ritzvik   The goals are different!

@rishi-s8 , this is  a classical computation problem, where you might one day have multiple coordinate reference frames, so you will need to write a function in every other class to change to the new class.

Instead, what I feel is we should have something like a coordinate transformation graph!
See this: http://docs.astropy.org/en/stable/api/astropy.coordin

[2019-08-21 17:21] #288 closed

[2019-08-21 17:25] rdisipio commented on #326
Thanks! It worked now. Perhaps you want to make this more clear in the documentation?

r.

[2019-08-21 17:25] #324 closed

[2019-08-21 18:17] shreyasbapat commented on #326
Definitely, we are working on the performance of some parts right now, and there is no need of ipywidgets if you work in the dev version. So, once we release the 0.2.1, these issues must go away!

Now, as we can't really touch the older versions, IDK how to fix the documentation of the 0.2.0 :/

Any ideas @ritzvik ?

[2019-08-21 18:17] shreyasbapat commented on #326
I am closing this as of now!

[2019-08-21 18:17] #326 closed

[2019-08-21 18:35] ritzvik commented on #326
I would make a PR to `0.2.x` branch
  - make the change in `README.rst`.

Anywhere else, should I make the change? @shreyasbapat

[2019-08-21 18:39] shreyasbapat commented on #326
NO, that does not make sense! That PR will be merged in 0.2.1 when we will not be facing this problem.

[2019-08-21 18:39] shreyasbapat commented on #326
Okay, me and @Varunvaruns9  will handle it

[2019-08-21 18:41] ritzvik commented on #326
As you wish!! 🎵

[2019-08-24 16:58] #314 closed

[2019-08-27 15:04] abhijeetmanhas commented on #234
I will work on it. I have created classes for moon, 7 other planets of solar system and Pluto. I will be adding mass and radius details. I have already done for Moon.

[2019-08-28 21:28] ritzvik opened #330 "Jupyter notebook example for lambdify in symbolic module"
🐞 **Problem**

  - **The title is self-descriptive**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this project 🎉

[2019-08-28 21:34] #263 closed

[2019-08-30 19:20] #330 closed

[2019-08-31 01:24] ritzvik opened #333 "Update docs to incorporate recent additions to symbolic module!"
🐞 **Problem**
The title is self-explanatory.

🎯 **Goal**

  - Add changelog for version `0.2.1` related to changes & additions in symbolic module in `docs/source/changelog.rst`.
  - Update "Symbolic Calculations" section in `docs/source/user_guide.rst` with a little more examples.
  - Update `README.rst` description. It's been a long time!!

📋  **Steps to solve the problem**

 * Comment below abou

[2019-09-01 19:04] #333 closed

[2019-09-01 19:53] ritzvik commented on #221
The warning no longer shows up, so closing the issue!

[2019-09-01 19:53] #221 closed

[2019-09-04 21:24] shreyasbapat commented on #282
Hi @rdisipio , it would be great if we can have a meeting, so that we exactly know what to expect as the end product and can start working on it.

[2019-09-05 19:44] shreyasbapat commented on #286
Closed in https://github.com/einsteinpy/einsteinpy/commit/9ccf6d6341713409159d837b18737187e0aa7144

[2019-09-05 19:44] #286 closed

[2019-09-06 08:00] ritzvik commented on #244
Redundant issue!
Closing this in lieu of #309

[2019-09-06 08:00] #244 closed

[2019-09-06 08:01] ritzvik commented on #316
@shreyasbapat close this, maybe?

[2019-09-06 08:39] ritzvik commented on #152
@rishi-s8 Still a problem???

[2019-09-06 08:47] ritzvik opened #337 "Numerical usage of symbolic module"
🐞 **Problem**
  - As the `symbolic` module is well-developed by now, we can set up an infrastructure so that users can define their own metrics symbolically and use them to calculate geodesics and other stuff

🎯 **Goal**

  - Figure out, how to implement this!
  - Discuss!
  - Ultimately implement this!

💡 **Possible solutions**

  - Don't know, this is going to be some project!
  - `lambdify_tens

[2019-09-06 08:47] ritzvik commented on #337
Certainly, solving issue #309 would help a lot!

[2019-09-07 11:07] shreyasbapat commented on #316
No

[2019-09-09 21:24] ritzvik commented on #16
@spino17 , any references?
Let's work on this!

[2019-09-09 21:28] ritzvik commented on #152
@shreyasbapat maybe update your numpy, scipy everything to latest and rerun `pytest -vv`.
We can close it then?

[2019-09-10 06:38] spino17 commented on #16
Sure I'll provide you with the references and we can start then !

[2019-09-22 15:03] sbhkmr1999 opened #339 "Relativistic Radiative Transfer in arbitrary spacetime"
🎯 **Goal**

Solving the Relativistic Radiative Transfer first in Schwarzschild and Kerr spacetime and then for arbitrary spacetime, for Emission Intensity (Emissivity) , for an observer in equatorial plane  (for starters) and then at any arbitrary angle.

💡 **Possible solutions**

https://arxiv.org/abs/1801.10452
https://arxiv.org/abs/1602.03184
http://discovery.ucl.ac.uk/1426969/1/Younsi_Ziri_741

[2019-09-22 15:06] sbhkmr1999 commented on #339
Some theoretical literature on the relativistic radiative transfer equations:

http://articles.adsabs.harvard.edu//full/2008ChJAS...8..226W/0000226.000.html
https://arxiv.org/abs/1304.5691
https://arxiv.org/abs/1207.4234

[2019-09-23 17:21] ritzvik commented on #339
@Relativist1 Thanks for the issue. Looking forward to adding this to EPY.

[2019-10-07 22:45] shreyasbapat opened #341 "Add a donation button on documentation"
🐞 **Problem**

The documentation at https://docs.einsteinpy.org lacks a donation button. :D

Just for hacktoberfest !!

Documentation is in docs/source :D

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number

[2019-10-07 23:00] carlosolimpio commented on #341
hey @shreyasbapat, I'd like to make it

[2019-10-07 23:03] shreyasbapat commented on #341
Hi Carlos! Sure go ahead.

[2019-10-07 23:35] carlosolimpio commented on #341
Shreyas, I'm getting this error message while trying to `make html`:
[code]

[2019-10-08 00:01] xtealer00 commented on #341
Gonna be workin' on it.

[2019-10-09 16:58] ritzvik commented on #341
@carlosolimpio you may need to install einsteinpy development version
http://docs.einsteinpy.org/en/latest/getting_started.html#development-version

[2019-10-09 17:10] ritzvik opened #342 "Add schwarzschild metric to predefined tensors"
🐞 **Problem**
Schwarzschild solution, the most commonly used metric in GR in not present in predefined metrics.

💡 **Possible solutions**

  - https://en.wikipedia.org/wiki/Schwarzschild_metric#The_Schwarzschild_metric
  - The metric can already be found in many jupyter examples/tests
  - Add a new file in `einsteinpy/symbolic/predefined`

📋  **Steps to solve the problem**

 * Comment below about

[2019-10-14 15:12] longdead-ai commented on #342
I would like to take a look at this.

[2019-10-14 15:29] shreyasbapat commented on #342
Hi @longdead-ai , sure go ahead!

[2019-10-15 17:29] xavdr opened #343 "Couldn't not run Coordinate Conversion example / tutorial"
🐞 **Problem**

Can't run Coordinate Conversion example with message RuntimeWarning: invalid value encountered in double_scalars in coordinates/utils.py:85

So when calling `pos_vec.to_bl` at python example beginning
[code]

it execute `cartesian_to_bl_novel(x, y, z, a)` in coordinates/utils.py
[code]
First line seems resulted as
[code]
With `z = 0` second line reduces to `r = np.sqrt(0.5 * (w + np

[2019-10-18 01:59] xavdr commented on #343
Thank you, @shreyasbapat . For me is way to compare with previous releases. I'm not yet very specialist on Relativity Theory, in fact I found this nice project accidentally as way to approach classic equations and Math symbolic.

[2019-10-18 02:56] Varunvaruns9 commented on #343
Hi @xavdr, Thanks for reporting. @shreyasbapat What should be the result if `w` is negative?

[2019-10-18 20:46] shreyasbapat commented on #343
I think, mathematically it's correct. So until we verify that, raise an error saying coordinate conversation not possible. And maybe open an issue linking the line to verify. I am short on time these days, so this might be a workaround

[2019-12-04 17:04] Varunvaruns9 opened #348 "Invalid values during Coordinate conversion."
🐞 **Problem**
When converting from Cartesian to BL, we may run across a divide by zero error as discussed in #343. The same error can also be encountered when converting from Cartesian to Spherical with all x, y, and z zero.

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request

[2019-12-04 17:10] Varunvaruns9 commented on #348
Can we give some random value to theta in the Cartesian to Spherical case as the position doesn't depend on it when r = 0?

[2019-12-06 22:07] hchalfin opened #349 "A few questions -- RicciScalar, ordering of indices, & different versions of this software"
Hello,

My name is Harry Chalfin and I'm a senior at Brown University studying mathematical physics. I am currently working on a thesis project studying entanglement and entropy in a 2D Anti de Sitter spacetime and I am finding your product to be quite useful.

With that said, I am mildly concerned because on the site it says that one of your versions
will not be available after this month. Just t

[2019-12-07 17:49] Ojaswy opened #350 "Installation instructions does not specify lower bound on Ubuntu version and pip install method"
🐞 **Problem**
The Installation process mentioned in the Readme file does not work for Ubuntu/Debian.

The command there being - $ sudo apt install python3-einsteinpy
which gives an installation error.

pip install einsteinpy works instead.

AND
The link given under the Installation sub heading - Guide for alternative installation methods is obsolete.

📋  **Steps to solve the problem**

The ReadMe

[2019-12-10 16:53] shreyasbapat commented on #349
Hi @hchalfin , thanks for posting the issue. We will get this resolved for you.

@ritzvik  Please look into this.

For the versioning thing, we will be on 0.2.1 for a long time now. All the latest features are there and if you can tell me the way you used to install EPy, I will tell you a way to upgrade it with ease.

[2019-12-10 16:54] shreyasbapat commented on #348
More info. I did not understand the previous comment

[2019-12-10 16:55] shreyasbapat commented on #350
Hi @Ojaswy

Which version of Ubuntu are you using?

[2019-12-11 10:06] Varunvaruns9 commented on #348
[code]
When converting origin `(0, 0, 0)` from Cartesian to Spherical coordinates, we get a divide by zero error as `r = z = 0` in the `cartesian_to_spherical_novel` function.

https://github.com/einsteinpy/einsteinpy/blob/66eeba86bef20cc779c644de100ddde140c7104b/src/einsteinpy/coordinates/utils.py#L33-L42

Maybe we can give some random values (or zero) to theta and phi when this happens?

[2019-12-12 18:19] shreyasbapat commented on #348
Change the implementation to this solves this.

[code]

[2019-12-12 18:20] shreyasbapat commented on #348
Similarly for reverse. What do you say?

[2019-12-12 18:22] shreyasbapat commented on #348
[code]

[2019-12-12 18:28] Varunvaruns9 commented on #348
Why do we need to change Sph->Cart?

Cartesian to Spherical seems good to me.

[2019-12-13 13:11] Ojaswy commented on #350
18.04

[2019-12-15 05:44] shreyasbapat commented on #348
Yeah. Anyone 😂

[2019-12-16 20:16] ritzvik commented on #349
@hchalfin Thanks for opening the issue. It is advisable to use jupyter notebook when printing out tensors because sympy is able to use "pretty printing" feature in iPython environment.  Look at this example https://docs.einsteinpy.org/en/v0.2.1/examples/Symbolically_Understanding_Christoffel_Symbol_and_Riemann_Curvature_Tensor_using_EinsteinPy.html , maybe you would get a hang of it.

Also, EPy ha

[2019-12-16 20:17] ritzvik commented on #349
@hchalfin Also if you can give me the metric, I maybe able to help you out!

[2019-12-16 20:45] ritzvik commented on #349
@hchalfin maybe this would help?

![9](https://user-images.githubusercontent.com/24695764/70941747-23130b80-2073-11ea-8d0e-abd697be7ab1.png)

[2019-12-17 04:59] hchalfin commented on #349
Thank you for your response. I really appreciate your help.

I am currently smack in the middle of my final exam period and hence I have
temporarily put this research project on hold. I intend to give this a
closer look sometime around the new year.

Harry Chalfin

On Mon, Dec 16, 2019 at 3:45 PM Ritwik Saha <notifications@github.com>
wrote:

--
Harry Chalfin
Sc.B. Candidate | Mathematical Physics

[2019-12-26 16:51] ritzvik opened #352 "Implement Lorentz transform feature for Tensors(Symbolic Module)"
🐞 **Problem**
Given a Lorentz matrix, give an option to change coordinates of tensors, taking into account the index configuration of tensors.

💡 **Possible solutions**

![image](https://user-images.githubusercontent.com/24695764/71483412-c0b5ca00-282d-11ea-9963-6e1e7378bc8f.jpg)

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your ch

[2019-12-31 18:09] ritzvik commented on #349
@hchalfin I'm closing this for now. Don't hesitate to reach us at https://riot.im/app/#/room/#einsteinpy:matrix.org
You can always view the issue at "Closed Issues" tab or directly through the link.

Thanks for opening the issue. The community is everything for us :)

[2019-12-31 18:09] #349 closed

[2019-12-31 19:45] #352 closed

[2019-12-31 19:55] ritzvik opened #354 "Add lorentz_tranform to all the classes in symbolic module"
🐞 **Problem**
Many classes like `MetricTensor`, `RiemannCurvatureTensor` does not have the `lorentz_transform()` function as of now!

🎯 **Goal**
Implement it in a similar way as that in `GenericVector` class in `symbolic/vector.py`

  - [x] `GenericVector`
  - [ ] `MetricTensor`
  - [ ] `ChristoffelSymbols`
  - [ ] `RiemannCurvatureTensor`
  - [ ] `RicciTensor`
  - [ ] `StressEnergyMomentumTensor`

[2019-12-31 20:01] ritzvik opened #355 "Give option to preserve "parent metric" during lorentz transformation"
🐞 **Problem**
During lorentz transform, the new tensor is returned with its `parent_metric` set to `None`.

🎯 **Goal**

If the user wants to preserve the parent metric and the tensor already has a parent metric associated, then get a new lorentz-transformed parent metric and pass it to the new tensor.

💡 **Possible solutions**

This requires fixing #354 first.

📋  **Steps to solve the problem**

[2019-12-31 20:05] ritzvik opened #356 "Sympy 1.5 Compatiliblity"
🐞 **Problem**
As evident from PR #353 , EPY `v0.2.1` has become incompatible with latest versions of sympy(`1.5`).
As the problem is fixed, maybe we can release EPY `v0.2.2` ?

@shreyasbapat

[2020-01-01 12:25] michiboo commented on #354
Hi Could I have a go at this issue?

[2020-01-01 13:50] shreyasbapat commented on #354
Hey @michiboo , sure go ahead

[2020-01-03 20:16] abhijeetmanhas commented on #342
There is already one function named `SwarzschildMetric`  defined at `einsteinpy/tests/test_symbolic/test_vacuum_metrics.py` but it returns only Metric Tensor of symbols. And one more file  at `metric/swarzschild.py` which can calculate trajectories corresponding to geodesics. What should be the functionalites of 'predefined/swarchzschild' @ritzvik ? Solving it in various coordinate systems?

[2020-01-04 10:54] shreyasbapat opened #358 "Support Python 3.8"
🐞 **Problem**

Form version 0.3.0, EinsteinPy should be tested on Python 3.8 also!

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebr

[2020-01-04 10:56] shreyasbapat commented on #342
Here we are talking about the symbolic module :)

[2020-01-04 14:29] ritzvik commented on #342
@abhijeetmanhas As said by @shreyasbapat , this issue is regarding symbolic module. Kindly see the labels :)

[2020-01-04 18:47] shreyasbapat commented on #348
Fixed in #351

[2020-01-04 18:47] #348 closed

[2020-01-05 10:58] #342 closed

[2020-01-05 16:56] ritzvik opened #360 "Add Kerr and Kerr-Newman metric in Boyer-Lindquist coordinates to predefined metrics"
🐞 **Problem**
`symbolic/predefined/vacuum_solutions.py` needs Kerr and Kerr-Newman Metrics. Implement them similar to already implemented `Schwarzschild()` in the same file.

💡 **Possible solutions**

  - [x] Kerr (c737c8b)
  - [ ] Kerr Newman

The metrics can be found be simple search on wikipedia. Also implementation can be found in `utils/kerr_utils.py` and `utils/kerrnewman_utils.py`

📋  **Ste

[2020-01-06 11:16] ritzvik opened #361 "Change default config in vector.py in symbolic module"
🐞 **Problem**
The `config` parameter in `__init__` of `GenericVector` class under `symbolic/vector.py` defaults to "l", i.e. , the configuration corresponds to dual-space of the vector.

🎯 **Goal**
Change it to "u"

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Address

[2020-01-06 17:22] ritzvik commented on #152
I think this can be safely closed . Closing then.

[2020-01-06 17:22] #152 closed

[2020-01-09 16:23] shreyasbapat opened #363 "Use flit or something else for publishing"
🐞 **Problem**

It's 2020, no-one uses setup.cfg or setup.py anymore. Lets try out https://www.python.org/dev/peps/pep-0517/#source-trees

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for

[2020-01-09 16:25] shreyasbapat opened #364 "Make numba a default dependency"
🐞 **Problem**

EinsteinPy is completely depoendent on numba now, and now that we have tried it out enough number of times, I think we should switch to using numba by default!

🎯 **Goal**

Put numba as a default dependency.

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request a

[2020-01-09 17:31] #364 closed

[2020-01-09 17:59] shreyasbapat opened #366 "Make coordinate objects subscriptable"
🐞 **Problem**

We can't do a[0] with the coordinates right now, which is very intuitive. Thanks to @shilpi1958 , we know what needs to be done!
🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * As

[2020-01-10 08:02] michiboo commented on #354
Hi Can I continue working on this issue?

[2020-01-10 09:03] ritzvik commented on #354
Sure :)

[2020-01-10 20:14] shreyasbapat opened #367 "Frame Dragging Example breaks on New plotting code"
🐞 **Problem**

Fix the scaling on y axis :/

![newplot (1)](https://user-images.githubusercontent.com/24257914/72183374-de7d5480-3413-11ea-87eb-4f36201a725b.png)

See the issue. The plot shoild have been like this:

![download](https://user-images.githubusercontent.com/24257914/72183403-efc66100-3413-11ea-9e1a-a813287c3359.png)

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem

[2020-01-10 20:44] ritzvik commented on #367
It would break. See the scaling on the old and new y-axis.

[2020-01-12 06:37] shreyasbapat commented on #367
Oh :/ Didn't pay attention there lol

[2020-01-12 18:14] ritzvik commented on #367
Close this ? @shreyasbapat

[2020-01-12 18:15] ritzvik commented on #367
You edited the description, I didn't see. Maybe edit the issue title also?

[2020-01-15 04:02] ritzvik commented on #361
Closed by #371

[2020-01-15 04:02] #361 closed

[2020-01-15 12:28] shreyasbapat commented on #367
No, the title is consistent. See this:
![Screenshot from 2020-01-15 17-56-42](https://user-images.githubusercontent.com/24257914/72433955-7edeca80-37c0-11ea-9e54-46a7147108ef.png)

I am investigating the scaling in both the plotting codes.
This is a big issue since, we are not able to deal with interactive plots so well.

[2020-01-15 12:37] shreyasbapat commented on #356
I will work on this asap

[2020-01-16 06:51] ritzvik opened #373 "Update Appveyor Badge"
🐞 **Problem**
The appveyor badge turns red whenever a build in any PR is failing. We don't want appveyor badge to reflect any PR's status, but it should report only `master` branch's status.

What I mean is this :
![10](https://user-images.githubusercontent.com/24695764/72500358-4a1f5180-385a-11ea-9107-3b0599299b3c.png)

🎯 **Goal**

Update the badge in `README.rst`

💡 **Possible solutions**

Take

[2020-01-16 11:05] #354 closed

[2020-01-16 11:17] ritzvik opened #374 "Problems with lorentz transform (symbolic module)"
🐞 **Problem**
There is a lot to be desired regarding `lorentz_transform` function in the classes of `symbolic` module. This issue consolidates a number of problems into a single issue.

🎯 **Goal**

  - [ ] Devise a testing strategy for `lorentz_transform` across all the classes and implement them.
  - [ ] `lorentz_transform` implemented in `ChristoffelSymbols` is probably incorrect, Christoffel Sy

[2020-01-16 11:18] ritzvik commented on #355
Duplicate to #374 .
Closing this

[2020-01-16 11:18] #355 closed

[2020-01-16 11:43] ritzvik commented on #374
@spino17 Can you help in any way ?

[2020-01-17 09:55] ritzvik opened #376 "Implement a "find" function for searching metrics within predefined metrics"
🐞 **Problem**
Few predefined metrics are already there in `symbolic/predefined` module and a lot more is yet to come. We can't expect the user to know each of the instances nor can we force him to look for the documentation everytime. Therefore a `find` function is required in which user can input a string and a list of possible metrics can be returned.

🎯 **Goal**

Strategize how to implement thi

[2020-01-17 10:18] shreyasbapat commented on #376
I see where this is coming from :p

[2020-01-18 13:41] ritzvik opened #377 "Fix-up imports within coordinates module"
🐞 **Problem**
[PEP8](https://www.python.org/dev/peps/pep-0008/#id23) recommends absolute imports and most of einsteinpy abides by it, exception being the `coordinates` module.

🎯 **Goal**

  - Identify the relative imports and fix them up.

💡 **Possible solutions**

  - To get an inkling about what I am saying, see any other module within einsteinpy, (`symbolic` or `metric`)

📋  **Steps to solve t

[2020-01-18 17:26] ritzvik opened #378 "Increase code coverage across different modules (easy ones)"
🐞 **Problem**
The goal is 100% code coverage. It's not a very realistic goal because sometimes we lack the knowledge to do so. But I am listing some of the parts, where coverage can be increased easily.

🎯 **Goal**

Try to target these files. The lines untested would be marked red [here](https://codecov.io/gh/einsteinpy/einsteinpy/tree/master/src/einsteinpy).
  - [x] `coordinates/core.py` (#394)

[2020-01-18 18:25] ritzvik commented on #350
Yes @Ojaswy ! Thanks for pointing out. Kindly go ahead and update it. Sorry for the delay.

[2020-01-18 20:24] shreyasbapat commented on #350
No. Don't update it. I will check it. We will get it to work :)

[2020-01-18 20:26] shreyasbapat commented on #350
Right, and I actually forgot to mention. We included it in Ubuntu from 19.10 so, obviously it won't work in 18.04.

We are already running towards a latest LTS i.e. 20.04 so we need not worry

[2020-01-19 07:29] shreyasbapat opened #379 "Fix Docstrings in Geodesic Module"
🐞 **Problem**

The docstrings in src/einsteinpy/geodesic.py is missing.
It will be great to have a good documentation of the module.

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a re

[2020-01-19 07:31] shreyasbapat opened #380 "Add __repr__ and __str__ for Geodesic Class"
🐞 **Problem**

The Geodesic class is missing these methods. More can be discusses in comments.

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull reque

[2020-01-19 09:03] Bhavam commented on #380
Hi this is Bhavam from the Pydata-devsprint from manipal , i'm currrently working on this issue and would like to know whether the format for the __str__ method would be okay with parameter like

return 'Geodesic (body='+self.body etc etc

[2020-01-19 09:32] k-pratyush commented on #376
Hey! I would like to work on this issue. Where do I implement this function?

[2020-01-19 09:55] ritzvik commented on #376
Make a file `find.py` inside the predefined directory.

Thanks for taking this up @k-pratyush

[2020-01-19 10:04] shreyasbapat commented on #380
I guess, create a PR and we will see what to do with it :)
Works?

[2020-01-19 10:10] shreyasbapat opened #381 "Fix Grammatical issues in Code of Conduct and add it in docs"
🐞 **Problem**

The language in the COC is flawed.

[code]

🎯 **Goal**

Fix it,

And add the COC to the documentation as well.

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments se

[2020-01-19 10:12] vineetg3 commented on #373
Working on this.

[2020-01-19 10:31] vineetg3 commented on #373
Do the other continuous integration services show the same problem?

[2020-01-19 10:34] ritzvik commented on #373
No they don’t. It’s specific to appveyor

Regards,
Ritwik

[2020-01-19 10:51] Bhavam commented on #380
Yes sure thanks  , ill create a PR in a bit so you can review it.

[2020-01-19 11:42] shreyasbapat opened #384 "API Docs for plotting module is incomplete!"
🐞 **Problem**

The API Docs for plotting module is incomplete and old.
🎯 **Goal**
Update it

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate

[2020-01-19 15:07] shreyasbapat opened #386 "Add __str__ and __repr__ for Body Class"
🐞 **Problem**

Very much related to #380 but for Bodies module.
🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contributio

[2020-01-19 15:37] Raahul-Singh commented on #366
Would implementing `__getitem__` suffice?

[2020-01-19 16:10] shreyasbapat commented on #366
I guess, for now? Maybe yes

[2020-01-19 18:24] #373 closed

[2020-01-20 13:44] ritzvik commented on #367
We would need atleast the matplotlib code to work correctly to include the plots in EPY paper. Can we raise it to urgent status, @shreyasbapat ?
Also this needs to sorted before `0.2.2`

https://gist.github.com/ritzvik/9271334525e5e1044ceb9bba7b88143c

[2020-01-20 13:47] shreyasbapat commented on #367
I am really on it. Lot of things to do. Will get it sorted asap

_______________________________________
This email is sent from a smartphone. Please ignore grammatical mistakes
and typographical errors.
_______________________________________

On Mon, Jan 20, 2020, 7:14 PM Ritwik Saha <notifications@github.com> wrote:

[2020-01-20 18:18] #376 closed

[2020-01-20 19:08] #380 closed

[2020-01-20 20:03] Bhavam commented on #378
Working on this , will create PR soon.

[2020-01-21 05:38] ritzvik opened #389 "Include additions of #385 in example notebooks"
🐞 **Problem**
With #385 , @k-pratyush closed #376 . We don't have an example jupyter notebook for the same.

🎯 **Goal**

Showcase this functionality in the already existing notebook for `predefined` sub-module, in `docs/source/examples/Predefined Metrics in Symbolic Module.ipynb`. View the notebook [here](https://docs.einsteinpy.org/en/latest/jupyter.html)

📋  **Steps to solve the problem**

 * Co

[2020-01-21 07:27] k-pratyush commented on #389
Can I do this?
@shreyasbapat @ritzvik

[2020-01-21 07:29] ritzvik commented on #389
It’s yours!

Regards,
Ritwik

[2020-01-21 08:49] rohitsanj commented on #377
working on this 👍

[2020-01-21 10:05] #389 closed

[2020-01-21 14:13] ShamanthNyk commented on #381
I would like to work on this isssue

[2020-01-21 14:44] ritzvik commented on #381
Great! Please go ahead.

Regards,
Ritwik

[2020-01-21 14:50] #386 closed

[2020-01-21 14:54] ShamanthNyk commented on #381
So I will need to change the flaw mistake in the above sentence and then put in the docs right?

[2020-01-21 14:54] ShamanthNyk commented on #381
So I will need to correct the mistake in the above sentence and then add it to the docs right?

[2020-01-21 14:59] shreyasbapat commented on #381
Yes. This one will be here anyways. You just have to make sure that it appears in docs.einsteinpy.org/some_url as well

[2020-01-21 18:17] #377 closed

[2020-01-21 20:42] ritzvik commented on #367
I finally pushed myself to dive into the geodesic plotting codebase, and I would start off by saying that the way, `GeodesicPlotter` does switching is ingenious.

Now coming to the issue, scaling is set to one in both the static and interactive 2D plotter, which does not suffice for this case.

https://github.com/einsteinpy/einsteinpy/blob/5a2b0b0967fd40dc4d46e7c855a566bbd9833ee3/src/einsteinpy/pl

[2020-01-21 20:47] ritzvik commented on #367
Also I found some redundancies like,

https://github.com/einsteinpy/einsteinpy/blob/5a2b0b0967fd40dc4d46e7c855a566bbd9833ee3/src/einsteinpy/plotting/geodesics/static.py#L96-L99

https://github.com/einsteinpy/einsteinpy/blob/5a2b0b0967fd40dc4d46e7c855a566bbd9833ee3/src/einsteinpy/plotting/geodesics/interactive.py#L84-L86

`geodesic.trajectory` already returns `np` array and there is no need to conv

[2020-01-21 20:55] shreyasbapat commented on #367
I am in process of looking into this.

_______________________________________
This email is sent from a smartphone. Please ignore grammatical mistakes
and typographical errors.
_______________________________________

On Wed, Jan 22, 2020, 2:17 AM Ritwik Saha <notifications@github.com> wrote:

[2020-01-24 13:53] Bhavam commented on #378
Hey i'm still taking a bit too much time on it , im currently creating tests for coordinates/core if anyone wants to work on the other files please go ahead.

[2020-01-24 13:55] Bhavam commented on #378
Also @shreyasbapat and @ritzvik  i fail to find a test module for coordinates/core file should i make one or insert my tests in an existing test module for coordinates.
Thanks again.

[2020-01-24 14:12] ritzvik commented on #378
Open a PR with whatever you have, we'll refine it over there.

Put them in `test_coordinates/tests_coord_transform.py`.

[2020-01-24 14:33] Bhavam commented on #378
Thanks, ill do that then.

[2020-01-24 18:19] ritzvik opened #395 "[No Issue]"
🎯 **Goal**

We can include an easter egg in the code somewhere!

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this project 🎉

[2020-01-24 19:03] nimeshvashistha commented on #384
I'd like to take this issue up

[2020-01-24 21:16] shreyasbapat commented on #384
Sure!

_______________________________________
This email is sent from a smartphone. Please ignore grammatical mistakes
and typographical errors.
_______________________________________

On Sat, Jan 25, 2020, 12:33 AM Nimesh Vashistha <notifications@github.com>
wrote:

[2020-01-24 21:30] shreyasbapat commented on #395
I guess, for the sake of our paper, we will be directly releasing `0.3.0`. So, yeah we can do that!

[2020-01-24 21:34] shreyasbapat commented on #356
No Questions required

[2020-01-24 21:34] #356 closed

[2020-01-24 21:36] shreyasbapat commented on #343
I guess this one is fixed in #351

[2020-01-24 21:36] shreyasbapat commented on #343
Or not?

[2020-01-24 21:37] shreyasbapat commented on #235
I guess, we are good with plotly for now!

[2020-01-24 21:37] #235 closed

[2020-01-24 21:42] #350 closed

[2020-01-25 04:03] ritzvik commented on #395
This issue's on me! I've a few ideas!

[2020-01-25 04:21] ritzvik commented on #395
If anything new like `null` can be added, then only `0.3.0` is justifiable, in my view. Otherwise, `0.2.2` is apt.

[2020-01-25 17:15] shreyasbapat commented on #275
@spino17 Can you provide links to some useful papers?

[2020-01-25 17:27] Relativist1 opened #398 "Shadow cast by an thin emission disk around schwarzschild spacetime"
Considering a thin emission disk around a Schwarzschild black hole, where the particles are falling in radially and emitting in every direction. From an observer at infinity, one shall observe an image of shadow cast by this emission disk.
Numerical integration shall be done for the intensity seen in observers frame.

[2020-01-25 17:35] Relativist1 commented on #398
https://arxiv.org/abs/1304.5691
https://arxiv.org/abs/1802.08060

This will suffice for all the basic formalism!

[2020-01-26 19:53] #395 closed

[2020-01-26 20:22] ritzvik commented on #367
@shreyasbapat , Did you look at the `_set_scaling` bug, I mentioned in here https://github.com/einsteinpy/einsteinpy/issues/367#issuecomment-576871961 ?

[2020-01-27 12:26] smritisingh26 commented on #381
Hey! Is this issue still open? If so, I’d like to take it up!

[2020-01-27 12:58] ritzvik commented on #381
@smritisingh26 , @ShamanthNyk already took this up and a PR is underway, I'm afraid. Try to go for #379 , #378 or #360 .

[2020-01-27 19:15] shreyasbapat commented on #381
Yes, @smritisingh26 I recommend you to take up #379 . Its a good starting point, and we need it before our release! :)

[2020-01-27 20:33] #366 closed

[2020-01-28 05:22] ritzvik opened #401 "Consider replacing np.moveaxis with sympy permutedims"
🐞 **Problem**
Currently, to permute dimensions in a tensor, we first convert it to numpy object, apply `np.moveaxis` and then revert back to sympy `Array`.

The instances are :

https://github.com/einsteinpy/einsteinpy/blob/dfc3bc281e296adbaa486e1f5e5f24fc02adeac3/src/einsteinpy/symbolic/tensor.py#L55-L61

https://github.com/einsteinpy/einsteinpy/blob/dfc3bc281e296adbaa486e1f5e5f24fc02adeac3/src/e

[2020-01-28 05:58] ritzvik opened #402 "RTD build failing!"
See [here](https://readthedocs.org/projects/einsteinpy-project/builds/).

Maybe re-triggering the build would work.

[2020-01-28 06:33] ritzvik commented on #402
Might help https://github.com/readthedocs/readthedocs.org/issues/6554

[2020-01-28 10:05] shreyasbapat commented on #402
I'll take care of this!

[2020-01-28 16:31] nimeshvashistha commented on #379
Hi, can i work on this issue?

[2020-01-28 20:03] smritisingh26 commented on #381
Okay Shreyas! Thanks, I'll look into it!

[2020-01-29 14:42] #379 closed

[2020-01-29 15:08] #402 closed

[2020-01-29 15:10] shreyasbapat commented on #384
@nimeshvashistha See this https://docs.einsteinpy.org/en/latest/api/plotting/plotting_index.html

We lack the basic plotting API Documentation there. We have documentation for `senile`. But as the name suggests, it is anyways dead code!

[2020-01-29 15:53] #381 closed

[2020-01-29 16:40] ritzvik commented on #343
Singularity in a Kerr space (BL coordinates) is a ring like area, unlike in Schwarzcshild, where singularity is just a point. The Cartesian (pseudo-Cartesian, anyways) are maybe, describing a point inside that point. And therefore, this problem is arising.

At some point down the line, we can raise an exception or warning, but by no means, this is a bug.

It's best to close this for now.

[2020-01-29 16:40] #343 closed

[2020-01-31 11:12] ritzvik opened #405 "Improvements to symbolic module!"
🐞 **Problem**
Lots of features are currently not available in symbolic module. I'm listing them and would continue to expand this list as things strike me! When working on a specific addition, kindly open an issue referencing to this one, and then open a PR. Mainly, the modifications would be required in `BaseRelativityTensor` class.

🎯 **Goal**

  - [ ] Wedge Product
  - [ ] Exterior Derivative

[2020-01-31 12:06] shreyasbapat commented on #358
@ritzvik It was assigned to me always

[2020-01-31 12:13] ritzvik commented on #358
Didn't see. Anyway, thought lets close issues one by one!

[2020-02-01 17:00] shreyasbapat commented on #384
I am taking this up!

[2020-02-01 17:47] #398 closed

[2020-02-01 17:47] #384 closed

[2020-02-01 18:32] ritzvik commented on #337
Sorry, this can't be done by `0.3`.
It is a project in itself!

[2020-02-01 21:59] shreyasbapat opened #410 "Improve __str__ and __repr__ messages in Geodesic Module"
🐞 **Problem**

The geodesic module has very less informative string representation. It should be starting with:

"Geodesic Object ... "

Think about a better message.

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put i

[2020-02-01 22:02] #358 closed

[2020-02-01 22:03] shreyasbapat commented on #341
Solved in https://github.com/einsteinpy/einsteinpy/commit/6919b3714792d859db7d053681c7c3ca108a092f

[2020-02-01 22:03] #341 closed

[2020-02-01 22:23] shreyasbapat opened #411 "Put Docstrings in Shadow module!"
🐞 **Problem**

The shadow module lacks docstrings!
🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this pro

[2020-02-01 22:23] shreyasbapat commented on #411
@ritzvik can you please help @Relativist1 sort this out. I will figure out the tests and will release the beta.

[2020-02-02 05:54] #411 closed

[2020-02-02 06:46] ritzvik opened #412 "Show inheritance in docs"
🐞 **Problem**
Currently, in docs, there is no way to know, from where classes have been inherited.

💡 **Possible solutions**

https://github.com/einsteinpy/einsteinpy/blob/c92092ce73787a40e2b7b20dcc7ac3024b6089dc/docs/source/api/symbolic/metric.rst#L4-L7

Add another parameter `show-inheritance`, wherever applicable, throughout EinsteinPy

[code]
📋  **Steps to solve the problem**

 * Comment below

[2020-02-02 08:08] anjalis2112 commented on #412
Hi! Can I work on this?

[2020-02-02 08:10] ritzvik commented on #412
All yours :)

Regards,
Ritwik

[2020-02-02 09:04] nimeshvashistha commented on #410
I want to work on this

[2020-02-02 09:13] PSY27 commented on #412
hi can i work on this ?

[2020-02-02 09:21] ritzvik commented on #412
As you can see, it’s taken up!
Thanks for your interest btw! Find any other open good first issues maybe?

Regards,
Ritwik

[2020-02-02 09:28] PSY27 commented on #412
ok sure

[2020-02-02 09:30] PSY27 commented on #144
i want to work on this

[2020-02-02 09:35] ArunimSamudra commented on #401
I would like to work on this issue.

[2020-02-02 09:36] sagnik-chatterjee commented on #374
Can i take up this issue ?

[2020-02-02 09:38] sagnik-chatterjee commented on #360
Can I take up this issue ?

[2020-02-02 09:54] sagnik-chatterjee commented on #410
Can i contribute to this ?

[2020-02-02 10:15] ritzvik commented on #144
I won’t recommend that you work on this. This requires deep theoretical knowledge.

Regards,
Ritwik

[2020-02-02 10:17] ritzvik commented on #401
Go ahead please!

Regards,
Ritwik

[2020-02-02 10:17] sagnik-chatterjee commented on #275
Hi ! I am a newbie here , can i take up this issue ?

[2020-02-02 10:18] ritzvik commented on #374
That’s a collection of issues, each requiring deep theoretical knowledge. I wouldn’t recommend that you take these up. Good first issues, maybe??

Regards,
Ritwik

[2020-02-02 10:19] ritzvik commented on #360
Try this one.

Regards,
Ritwik

[2020-02-02 10:20] shreyasbapat commented on #275
If you want, you can. But it will be a little bit difficult

On Sun, Feb 2, 2020, 3:47 PM sagnik-chatterjee <notifications@github.com>
wrote:

[2020-02-02 10:21] ritzvik commented on #275
Again a research topic requiring theoretical knowledge. Try something other than this :)

Regards,
Ritwik

[2020-02-02 10:23] ritzvik commented on #144
Find some easy ones please :)
Or try if you want it badly.

Regards,
Ritwik

[2020-02-02 10:47] sagnik-chatterjee opened #414 "Adding requirements in requirements.txt"
🐞 **What bugs you?**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribution to this project 🎉

[2020-02-02 10:54] shreyasbapat commented on #414
Hi @sagnik-chatterjee . Our development model is slightly different. All the requirements are already there in setup.cfg.

[2020-02-02 10:54] #414 closed

[2020-02-02 11:05] sagnik-chatterjee commented on #40
Can i try it with a scipy , with using function DOP853 ..a eightth order runge-kunta ode solver ?

[2020-02-02 11:13] ritzvik commented on #40
I guess you should try out #360 first, then dive into deeper, not so good first issues. If you wanna go for it, be my guest :)

Regards,
Ritwik

[2020-02-02 11:14] shreyasbapat commented on #40
Truly, I agree with @ritzvik .
If you feel you know things about ODEs. You are welcome to take this up. Otherwise it's not a good first issue

[2020-02-03 09:33] r0cketr1kky opened #417 "Follow PEP8 guidelines in all files"
🐞 **Problem**

Follow PEP8 guidelines in all files of the Einsteinpy project.

🎯 **Goal**

To ensure clean code for better readability and reuse.

💡 **Possible solutions**

Run the code through any PEP8 formatter and correct the changes.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this

[2020-02-03 09:37] r0cketr1kky commented on #417
Could someone assign me this? @ritzvik

[2020-02-03 11:15] shreyasbapat commented on #417
What makes you think we are not following PEP8 ?

[2020-02-03 11:17] #417 closed

[2020-02-08 17:26] ritzvik opened #423 "Use mocking in specific testing codes"
🐞 **Problem**
The tests for `__str__` and `__repr__` are done in a pretty weird way in

https://github.com/einsteinpy/einsteinpy/blob/c92092ce73787a40e2b7b20dcc7ac3024b6089dc/src/einsteinpy/tests/test_coordinates/test_coord_transform.py#L137-L156

and

https://github.com/einsteinpy/einsteinpy/blob/c92092ce73787a40e2b7b20dcc7ac3024b6089dc/src/einsteinpy/tests/test_coordinates/test_velocity_transfor

[2020-02-08 18:58] ritzvik commented on #98
The only problem in jitting functions is `njit` does not support `numpy` array deceleration inside the function.
See [this](http://numba.pydata.org/numba-doc/0.15.1/arrays.html) for more details.

If there is some solution to be found, try this on `christoffels()` in `utils/kerr_utils.py`.
Let's see what happens next.

[2020-02-09 08:56] OrbitalMechanic opened #424 "Failures Encountered Testing Einsteinpy"
In running the test, python -c "import einsteinpy.testing; einsteinpy.testing.test()", I get errors and failures during the testing.

🐞 **Problem**

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
(base) Samuels-Mac-Pro:source user$ conda info -a

     active environment : base
    active env location : /Users/user/anaconda3
            shell level :

[2020-02-09 11:32] ritzvik commented on #424
@OrbitalMechanic Thanks for opening this!

We would soon get back to you.

[2020-02-09 12:28] sidmttl commented on #423
I will like to work on this issue,
I have started to upgrade test_velocity_transform and test_coord_transform to use mock methods.

[2020-02-09 15:55] ritzvik commented on #423
Sure! Please go ahead

Regards,
Ritwik

[2020-02-10 09:58] gimseng commented on #360
Hi I am interested in helping with this issue, but i am new to git and open source contribution. If its alright, could I take this issue? My background is in theoretical physics (GR), so I understand the symbolic/analytic side of the problem, but just wanted to learn and apply git and python codings. I am reading through the developer guide and the git intro at the moment, so I am hoping to deal w

[2020-02-10 11:45] ritzvik commented on #360
Sure @gimseng ! Take up the issue whenever you are comfortable. Ask us when you are stuck.

Also, kindly join our community Chatroom on Riot.
https://riot.im/app/#/room/%23einsteinpy:matrix.org

[2020-02-10 14:38] gimseng commented on #360
Thanks I will tackle this. If I understand it correctly, the Kerr one has been updated, so I just need to include the charge (Kerr-Newman) appropriately.

[2020-02-10 15:11] ritzvik commented on #360
Yups. That’s correct

Regards,
Ritwik

[2020-02-11 11:00] gimseng commented on #360
Thanks! I am almost done now, but have two questions:

1. I need a new constant "eps0" (electric constant or permittivity of free space). I defaulted it to "constants.eps0", could somehow help me to find where in the codes should I update/add this values?

2. I needed 'pi', do we do math.pi or its defined as constants.pi or something?

Sorry to ask trivial questions, since I am new to EinsteinPy,

[2020-02-11 11:08] gimseng commented on #360
Nvm, I figured them out, will do a pull request.

[2020-02-11 14:56] gimseng commented on #374
Hi, I know how "lorentz transformation" of Christoffel symbols should work, since they are not actual tensors. However, I am new to this project, so would be happy if someone wants to work together on it, I can provide some references and formula for that.

[2020-02-11 15:55] ritzvik commented on #374
I would love to collaborate, let's get things done with #427 first.
BTW, it would be great help!

[2020-02-11 16:00] ritzvik commented on #374
@gimseng However, I am thinking of deprecating lorentz transform and implementing change of basis vectors, lorentz transform being a special case of the latter.

What do you say?

[2020-02-11 18:17] shreyasbapat commented on #424
Thanks for reporting this @OrbitalMechanic !

 If I am right, this is the SymPy issue #356

@OrbitalMechanic , we are actually going to release a version with a fix for this asap!

Meanwhile, you can use the development version. Or the fix can be using SymPy < 1.5! (explicitly)

[2020-02-11 18:18] shreyasbapat commented on #424
Please let me know how it goes. Meanwhile, rest assured, a patched version is going to be released soon.

[2020-02-12 07:22] #360 closed

[2020-02-12 07:23] ritzvik commented on #360
Closed via #427

[2020-02-12 07:51] gimseng commented on #374
Sure, I think doing a general coordinate transformation (or you call it basis change) is more relevant and useful for a GR package. I could start working on this. However, I wanted to do it probably with git and stuff so maybe it will be a little slower, and I will ask lots of questions to make sure I don't screw with master and I want to do rebase and squashing properly. If its ok with you all, I

[2020-02-12 10:56] ritzvik commented on #374
Okay then! Have a look at the symbolic module. There are many examples on their usage. Let’s start with general coordinate transform then.
With this we won’t have the luxury of ignoring extra terms for pseudo-tensors. Also we need to devise a strategy on how to implement them!

Regards,
Ritwik

[2020-02-12 11:02] ritzvik commented on #374
See `from_metric` classmethod in `ChristoffelSymbols`, you would understand what  `parent_metric` is about. It actually preserves the metric from which other quantities are derived.

[2020-02-12 11:33] gimseng commented on #374
I see, if I understood correctly, the structure of implementations are such that you do something.from_somethingelse(...) to actually calculation, say Christoffel / Riemann / Ricci from the appropriate object (say metric/Christoffel/Riemann).

So the Christoffel method has a from_metric method, which computes the Christoffel symbol, and return as a tensor class.

If I understood the issue correctl

[2020-02-12 16:48] ritzvik commented on #374
@gimseng Yes, you understood this right. Along with transformation of the derived quantity, we also need to transform the metric from which it is derived, and set the new metric as `parent_metric`.

But we would need to decide on whether to drop lorentz altogether in favor of general transformation. I say yes!
If it is yes from your side also, we can first work on general transformation, and later

[2020-02-12 16:53] ritzvik commented on #374
And this `parent_metric` thing would also apply in general transformations. There's no running from this problem :(

[2020-02-12 17:37] ritzvik commented on #374
Also, here is a [link](http://www.physicsimplified.com/2014/06/transformation-of-christoffel-symbol.html) detailing mathematics behind transformation of christoffels

[2020-02-13 18:53] ritzvik opened #430 "Update Notebooks due to addition of predefined metrics"
🐞 **Problem**
Now, there are predefined metrics available in symbolic module. Use them in example notebooks

🎯 **Goal**

  - [ ] [Notebook I](https://docs.einsteinpy.org/en/latest/examples/Playing%20with%20Contravariant%20and%20Covariant%20Indices%20in%20Tensors(Symbolic).html) - Replace the deprecated `SchwarzschildMetric`, with that from `predefined` module.
  - [ ] [Notebook II](https://docs.ei

[2020-02-14 08:26] ritzvik commented on #423
Closed via #425

[2020-02-14 08:26] #423 closed

[2020-02-14 08:33] sidmttl commented on #401
I would like to work on this issue.

Regards,
Siddharth

[2020-02-14 08:38] ritzvik commented on #401
Yes, take a try. I don’t know if it’ll work but it’s worth a try.

Regards,
Ritwik

[2020-02-14 08:54] gimseng commented on #374
hi I am a little busy these two weeks, maybe I will check in again after I finished my busy weeks?

[2020-02-14 09:09] ritzvik commented on #374
Sure ! Open source is people coming together to contribute at their own convenience.

Regards,
Ritwik

[2020-02-19 19:00] Bhavam commented on #339
Hi all , so apparently going through the requirements of the radiative transfer equation turns out it requires a bunch of parameters in the spacetime objects to be implemented for eg: lorentz invariant emission and  absorption coefficients which i did not find in the related classes , can @Relativist1 or @ritzvik verify this problem so I can start working on something to help on this issue.

[2020-02-20 09:14] ritzvik commented on #339
Yups, you’re correct. No such classes are available as of now. Is you’re willing to go ahead with this “sort-of” mini-project, you would need to create the helper functions and classes along with it. Ofc, I’ll be there for assistance. Also, @Relativist1 , can you provide some related papers??

Regards,
Ritwik

[2020-02-20 10:54] Bhavam commented on #339
@ritzvik okay cool ill start with defining the required class methods and parameters for schwarzschild bodies initially and keep you posted with a PR.

[2020-02-20 11:16] Relativist1 commented on #339
https://arxiv.org/abs/1207.4234
Here is what I found that can be done.

[2020-02-21 14:22] nimeshvashistha commented on #430
I'd like to work on this issue

[2020-02-22 08:50] VedantParanjape commented on #105
Hey, i am coming from gsoc page, I'm am from electronics engineering background, with decent coding skills, does this problem idea require extensive physics knowledge?

[2020-02-22 09:49] ritzvik commented on #105
Willingness to immerse yourself in physics during the community bonding period and first 1-2 weeks would do :)

Regards,
Ritwik

[2020-02-22 10:11] #430 closed

[2020-02-27 04:24] OrbitalMechanic commented on #424
The test is failing as before with SymPy ver. 1.4 installed. The output is contained in the attached file.

[einsteinpy-test-output-26Feb2020.txt](https://github.com/einsteinpy/einsteinpy/files/4259448/einsteinpy-test-output-26Feb2020.txt)

[2020-02-27 15:48] AncientZygote opened #436 "EinsteinTensor.from_metric(metric) fail index out of range"
Fail with
C:\ANA\lib\site-packages\sympy\tensor\array\ndim_array.py in _parse_index(self, index)
     65         if isinstance(index, (int, Integer)):
     66             if index >= self._loop_size:
---> 67                 raise ValueError("index out of range")
     68             return index
     69
when executed
einst = EinsteinTensor.from_metric(metric)
from your Einstein Tensor calculations

[2020-02-27 17:25] ritzvik commented on #436
@AncientZygote thanks for reporting this :)
I would highly encourage you to paste the code which caused the problem. Other than that, please ensure that you are using the latest developmental code base on github and not from `pip` as there was some API breaking changes in `sympy`.

Steps to install the latest code-base are provided here :
https://docs.einsteinpy.org/en/stable/getting_started.html#

[2020-02-27 17:26] ritzvik commented on #436
@shreyasbapat A lot of the troubles could have been avoided if EPY `0.2.2` had been released :(

[2020-02-27 17:29] ritzvik commented on #424
Please use the latest version, as hosted on GitHub
https://docs.einsteinpy.org/en/stable/getting_started.html#latest-versions

[2020-02-27 19:58] OrbitalMechanic commented on #424
Installed the latest version of einsteinpy as hosted on GitHub and followed the installation procedure as posted on [https://docs.einsteinpy.org/en/stable/getting_started.html#latest-versions](https://docs.einsteinpy.org/en/stable/getting_started.html#latest-version)s. The test is still failing. See attached file.

Hope this helps.

Sam Dupree.

[einsteinpy-test-output-27Feb2020.txt](https://githu

[2020-02-29 17:45] VedantParanjape commented on #105
I love physics and maths, i had 70 in maths and physics each in JEEA 2018(Is this irrelevant?).

From coding aspect which tools will i use, i have decent experience in C++ and python !

Regards,
Vedant

[2020-02-29 18:30] kauii8school commented on #145
Hi, Ritzvik I've just come from the GSOC page and find this project really interesting! I'm currently taking a university course in general relativity and have been learning differential geometry as well.

I want to get started on making some tests but I just had a question regarding the nature of the tests. What things are relevant here, should we be concerned with the runtime or just accuracy? I