[2020-02-29 21:08] shreyasbapat commented on #105
Hi @VedantParanjape , Can you please join the chatroom? We can have a detailed description over there!

[2020-02-29 23:47] shreyasbapat commented on #145
Hi @kauii8school , please join our Riot/Matrix channel : https://riot.im/app/#/room/#einsteinpy:matrix.org

[2020-03-01 02:00] kauii8school commented on #309
I'm about to submit a pull request adding in the "Barriola Vilekin" metric. There are plenty of readily available metrics at https://arxiv.org/pdf/0904.4184.pdf. I will be adding those in the next few days!

[2020-03-01 06:17] VedantParanjape commented on #105
Yeah okay

[2020-03-01 18:45] VedantParanjape commented on #401
I would like to work on this issue.

Regards,
Vedant

[2020-03-01 19:25] ritzvik commented on #401
Sure thing.

Regards,
Ritwik

[2020-03-03 05:23] VedantParanjape commented on #401
@ritzvik What do i pass to indices in permutedims?

[2020-03-03 06:25] ritzvik commented on #401
I guess you would have to read the documentation.
Please open a PR with whatever you have done, then we’ll see to the required changes over there.

Regards,
Ritwik

[2020-03-03 22:23] abhijeetmanhas commented on #405
For covariant derivative, is it we have to consider levi-civita connection of reimannian geometry?

[2020-03-10 01:13] kauii8school commented on #337
I was trying to tackle this problem but not sure if I'm understanding correctly, can't users just create a matrix and then call from einsteinpy.symbolic.metric.MetricTensor on it with a coordinate basis to create their own metric?

[2020-03-10 09:36] ritzvik commented on #309
Reopening this.
This is gonna be a perpetual issue 😛

[2020-03-10 17:08] kauii8school commented on #405
This may be relavent: https://docs.sympy.org/latest/modules/diffgeom.html. Is it ok to just use Sympy methods or should we implement native methods for all of these?

[2020-03-10 17:45] ritzvik commented on #405
Yes ! This seems relevant. We would use the functions as much as possible.
I didn’t know about this.

Regards,
Ritwik

[2020-03-11 06:24] SuyashSalampuria commented on #412
If no one is working on it, I would like to take it up

[2020-03-11 07:13] SuyashSalampuria commented on #234
@shreyasbapat I would like to work on this issue .
Also, could you give details of what changes should I do to achieve this

[2020-03-11 17:35] atulmangat commented on #401
I would like to work on this issue.

[2020-03-11 18:01] ritzvik commented on #401
Go ahead, it’s yours!

Regards,
Ritwik

[2020-03-12 11:15] ritzvik commented on #412
Yups. Go ahead

[2020-03-13 15:07] mightomi commented on #378
I like to work on this issue if its available

[2020-03-13 17:38] ritzvik commented on #378
you can see that two modules are not fully covered as mentioned above. Take em up :)

[2020-03-13 17:48] ritzvik opened #440 "More usage of pytest xfail"
Instead of try-except for these type of tests, pytest `xfail` could be used

https://github.com/einsteinpy/einsteinpy/blob/8137212d1488bee1c9d2d4e80d45cc242129adb1/src/einsteinpy/tests/test_symbolic/test_tensor.py#L130-L137

[2020-03-13 18:07] atulmangat commented on #440
I would like to work on this issue

[2020-03-16 20:14] SuyashSalampuria commented on #98
I would like to take up this issue @ritzvik @shreyasbapat

[2020-03-16 22:53] ganeshtero commented on #440
Hello , i have Marked the test functions to prevent unexpected failure and have done other small  improvements to increase the readability of the code.
Please do check

[2020-03-17 07:48] shreyasbapat commented on #98
@SuyashSalampuria One good first issue is enough. You can dive into more complicated issues now :)

[2020-03-17 08:03] SuyashSalampuria commented on #40
@shreyasbapat This seems interesting to me
Shall I try this one

[2020-03-17 08:45] #412 closed

[2020-03-17 08:46] shreyasbapat commented on #40
Sure, let's first discuss the whole problem somewhere. And then you can proceed!

[2020-03-18 05:52] #401 closed

[2020-03-19 04:14] #440 closed

[2020-03-19 17:03] ganeshtero commented on #105
As the project is touching the concept of Gravitational lensing , i guess what if we could add an addon feature of determining the existence of dark matter substructure , from gravitational lensing simulations , we could prove the existence of dark matter from it? #newfeature

[2020-03-19 17:05] GTron-1729 commented on #105
As the project is touching the concept of Gravitational lensing , i guess what if we could add an addon feature of determining the existence of dark matter substructure , from gravitational lensing simulations , we could prove the existence of dark matter from it? #newfeature

[2020-03-19 17:40] ritzvik commented on #105
As discussed over chats, a detailed (new) issue with relevant links and references(especially pre-existing codes or published research papers) would be highly appreciated. The description here is quite vague. Hope you would understand :)

[2020-03-19 18:20] GTron-1729 commented on #105
Actually it is just an idea , so it will require some time to collect detailed info , papers and relevant code for it , if i get it i will surely share it. @ritzvik

[2020-03-19 19:14] NithyaNN3 commented on #410
I'd like to work on this!

[2020-03-19 20:31] NithyaNN3 commented on #41
Can I work on this?

[2020-03-20 09:18] Starninja666 commented on #405
Can I work on this?

[2020-03-20 09:51] Starninja666 commented on #98
Hey, I'm looking out for some slow methods right now, interested in solving this issue once I find them.

[2020-03-20 14:48] yashgurbani commented on #378
Hi, is this issue still open?

[2020-03-20 14:48] yashgurbani commented on #41
Can I work on this issue?

[2020-03-20 18:08] shreyasbapat commented on #41
Sure @NithyaNN3

[2020-03-20 18:09] shreyasbapat commented on #41
@yashgurbani can you work on JPLEphem?

[2020-03-20 18:10] shreyasbapat commented on #98
Sure. Will wait for a Pull Request

[2020-03-20 20:31] yashgurbani commented on #41
Sure. I'll work on JPLEphem.

[2020-03-21 00:15] parkerashlan commented on #36
I was wondering if there is any more work that needs to be done on this issue? I would be interested in working on simulations of orbits.

[2020-03-21 05:38] #234 closed

[2020-03-21 05:45] ritzvik commented on #378
Nah, taken and solved :(

[2020-03-21 05:46] #378 closed

[2020-03-21 08:38] ritzvik commented on #405
This is a huge tranche of issues. Could you give some specificity about the issue you are solving?

[2020-03-21 13:39] ritzvik opened #449 "Introduce "name" parameter in Metric Tensor"
🐞 **Problem**
Provision of `name` parameter is already there in the base class `BaseRelativityTensor` and now it's time to extend it to `MetricTensor`.

🎯 **Goal**

  - [ ] change `symbolic/metric.py`
  - [ ] Introduce `name` in predefined metrics in `symbolic/predefined`

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 *

[2020-03-21 15:48] Bhavam commented on #339
Hey @ritzvik very sorry for the delay ,  so I've outlined some basic parameters based on RAPTOR1 that we have to define for radiative transfer those being -
1.`4 velocity` comprising of the wave functions of the photons in list along with a helper method to compute it from photons position/velocity vector
2. `differential step size` comprising of an appropriate step size based on position or veloc

[2020-03-21 19:21] JeS24 commented on #449
@ritzvik I would like to take up this issue. Can I work on this?

[2020-03-21 20:39] shreyasbapat commented on #449
Sure @JeS24

[2020-03-21 20:43] JeS24 commented on #449
@shreyasbapat Will connect on Riot, later today.

[2020-03-22 06:02] ritzvik commented on #339
I didn't go through the paper, I will go through it at a later stage. Regarding `fun` parameter, it is used to pass a function(which may be a vector function) to calculate `f(x)` given `x`(which may be vector, again). This is because of differential equation `y' = f(x)`, each new `y` is calculated by `y=y+h*f(x)`, where `h` is the step-size.
This is the simplest way of calculating solutions of ODE

[2020-03-22 13:34] ritzvik opened #450 "Add minkowski metric in polar coordinates"
🐞 **Problem**
Currently minkowski metric is defined in cartesian coordinates. We need `MinkowskiPolar`.

🎯 **Goal**

The metric expression is `diag(-1, 1, r ** 2, r ** 2 * sin(theta) ** 2)`. Include `c`(speed of light) in a similar fashion to that of given below.

💡 **Possible solutions**

New addition expected in the same file as given below :

https://github.com/einsteinpy/einsteinpy/blob/08411f

[2020-03-22 13:38] ritzvik commented on #36
Sorry for the delay in getting back to you. There is already some work done regarding this issue and there is not much clarity about what is to be done.
Could you have a look at #450 , see if that interests you as it is a good starting point into the project.

[2020-03-22 14:07] ritzvik opened #451 "Minor Change to issue template"
🐞 **Problem**
A little change to issue template

🎯 **Goal**

https://github.com/einsteinpy/einsteinpy/blob/08411f159293955bc3456125aac7b98ac7c8db5f/.github/ISSUE_TEMPLATE/maintainers.md#L26

Change this to :

"""
 * Submit a pull request.
 * Add this in the comments :
   * `Addresses #<put issue number here>` if you are partially fixing the issue.
   * `Fixes #<put issue number here>` if you are c

[2020-03-22 16:17] mightomi commented on #450
I would love to work on this issue if i can.

[2020-03-22 16:26] ritzvik commented on #450
Good first issues are meant to be a starting point to newcomers.
Please try to look for more advanced issues from now on :)

On Sun, Mar 22, 2020 at 9:47 PM Swastik Singh <notifications@github.com>
wrote:

[2020-03-22 16:36] mightomi commented on #450
Okay.

[2020-03-22 18:52] #449 closed

[2020-03-23 05:10] JeS24 opened #453 "Add Tensor name to __str__ and __repr__ in Tensor Class"
🐞 **What bugs you?**

Currently, both `str` and `repr`,  in `einsteinpy.symbolic.tensor.py > Tensor`, don't show the Tensor name. As such, there is only one way to check the name, that is by explicitly accessing `tensor.name`.

🎯 **Goal**

Technically, `str` is supposed to be readable and `repr` is supposed to be unambiguous. Outputting the tensor `name` should improve both.

💡 **Possible solution

[2020-03-23 05:32] JeS24 opened #454 "Implement a mechanism for adding/removing "tags" to/from tensor names, after changes to the tensor"
🐞 **What bugs you?**

Every Tensor Object has a `name` parameter, that stores the user-defined (and modifiable) name. After any change is made to the tensor, for example a Lorentz Transform or a Config Change, the name remains unmodified. This may make tracking changes to the tensor difficult for extended calculations.

🎯 **Goal**

A tag added to the Tensor name, after **binary** changes are made

[2020-03-23 05:35] JeS24 commented on #454
@ritzvik Should I work on this?

[2020-03-23 05:41] ritzvik commented on #454
Looking forward to a PR :)

[2020-03-23 07:53] gravitas21 commented on #450
@ritzvik  Can I work on this?

[2020-03-23 08:45] ritzvik commented on #450
Go ahead 😃

[2020-03-24 08:25] JeS24 commented on #424
@ritzvik @shreyasbapat @OrbitalMechanic
I have checked the 3 tracebacks and it seems, that the issue is non-existent now, after the changes in #353. Only 1 failed test in these tracebacks seems to be unrelated to #353, but even that test is passing now. You can check the attached .txt files for the portion, I am referring to. I have removed details of other failures from these tracebacks.

[MODIFI

[2020-03-24 08:29] shreyasbapat commented on #424
Thanks a lot of a detailed analysis.
I will get back to both the comments in a while.

[2020-03-24 13:08] Starninja666 commented on #453
Sending pull request soon for this issue.

[2020-03-24 14:22] #450 closed

[2020-03-24 18:48] #451 closed

[2020-03-25 07:31] JeS24 commented on #233
@shreyasbapat I would rather recommend Julia for this. Rust is certainly lovely for a lot of reasons, but Julia mostly  offers similar performance and more importantly, a solid scientific computing stack, which Rust currently lacks.

[2020-03-25 07:33] shreyasbapat commented on #233
We can help develop Rust in process :)

This is a long term issue.

[2020-03-25 08:58] obi-wan-shinobi commented on #309
I added the Reissner-Nordstorm Metric. Please review so that I can add more :)

[2020-03-25 10:02] #454 closed

[2020-03-25 13:15] NithyaNN3 commented on #41
@shreyasbapat yes okay!

[2020-03-26 15:23] #309 closed

[2020-03-28 17:17] #453 closed

[2020-03-30 05:31] ritzvik opened #465 "Remove "inherited from blah-blah" in docstrings"
🐞 **Problem**
With #442 , #412 was solved. This means explicitly mentioning where it is inherited from, is not required . For example,

https://github.com/einsteinpy/einsteinpy/blob/0e311bec1be2508a28ebd8a3f8b7b944db997269/src/einsteinpy/symbolic/tensor.py#L204-L208

🎯 **Goal**

Find instances of such docstrings and remove them. This is especially common in `Symbolic` module

📋  **Steps to solve t

[2020-03-30 05:36] shreyasbapat opened #466 "Stop shipping tests"
🐞 **Problem**

From `0.3.0` we can stop shipping tests in the package itself.

🎯 **Goal**

Put tests outside.

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add this in the comments:
 	- `Addresses #<put issue number here>` if you are partially fixing the issue.
 	-

[2020-03-30 05:36] ritzvik commented on #410
With #458 solved, I believe this issue should be closed. At least, remove the Good first issue tag!

[2020-03-30 05:38] shreyasbapat opened #467 "Set up a bot which closes support issues automatically"
🐞 **Problem**

The issues labeled with `Support` has to be closed when the author/us stop interacting on the issue for 3 weeks.

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add this in the comments:
 	- `Addresses #<put issue number here>` if you are pa

[2020-03-30 05:41] ritzvik opened #468 "Remove a deprecated module"
🐞 **Problem**
Completely remove
https://github.com/einsteinpy/einsteinpy/blob/0e311bec1be2508a28ebd8a3f8b7b944db997269/src/einsteinpy/symbolic/vacuum_metrics.py#L7

Take care of removing tests and examples(if present anywhere)

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add this in the com

[2020-03-30 06:47] ritzvik opened #469 "Group jupyter notebooks by module"
🐞 **Problem**
Jupyter notebooks are listed in haphazard order
https://github.com/einsteinpy/einsteinpy/blob/0e311bec1be2508a28ebd8a3f8b7b944db997269/docs/source/jupyter.rst#L7-L20

Make different section for different modules. This means 3-4 different toctress in the same file

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your chang

[2020-03-30 13:30] Gagan-Shenoy commented on #468
Hey if you don't have any objection can I work on this issue.
And also could you briefly explain what exactly I'm supposed to do (I'm new to this).

[2020-03-30 13:54] ritzvik commented on #468
Go ahead with the issue :)

Remove the file altogether, remove the related tests from `tests` folder

[2020-03-30 15:03] Gagan-Shenoy commented on #468
sure :)

[2020-03-30 19:20] JeS24 commented on #144
@ritzvik @shreyasbapat Please check my derivation for the scale factor. I am unable to get the extra 1e-7 multiplicative term. I do believe, there's some problem with the way units are being modified in `test_kerrnewman.py`, but I can't put my finger on it.

[Issue144ScaleFactorDerivJeS24.pdf](https://github.com/einsteinpy/einsteinpy/files/4404978/Derivation.pdf)

[2020-03-31 05:25] obi-wan-shinobi commented on #109
I would like to work on this issue :)

[2020-03-31 08:28] JeS24 commented on #467
@shreyasbapat This does precisely, what is wanted here: [probot/no-response]( https://github.com/probot/no-response)

[2020-03-31 08:28] shreyasbapat commented on #467
This issue is not for you 😬

[2020-03-31 08:29] JeS24 commented on #467
@shreyasbapat 😅 Sure, do you want me delete that comment?

[2020-03-31 09:23] ritzvik commented on #467
Let it remain. It may help someone 😀

[2020-03-31 11:17] luisval commented on #450
Hi, I'm interested on this issue.

[2020-03-31 14:01] #109 closed

[2020-03-31 15:37] yauneyz commented on #467
It will help me lol. I'm going to do it. Thanks @shreyasbapat

[2020-03-31 15:56] shreyasbapat commented on #467
Sure. Let me know if something, some configuration needs to be done from my end

[2020-03-31 16:10] anish29292 commented on #466
Can I work on this?

[2020-03-31 16:11] ali1810 commented on #469
Yes I would like to start working on it ....

[2020-03-31 16:36] anish29292 commented on #466
@shreyasbapat

[2020-03-31 16:40] anish29292 commented on #466
@shreyasbapat Could you provide further information on this issue.

[2020-03-31 17:04] yauneyz commented on #465
I'll do this one too

[2020-03-31 17:46] ritzvik commented on #469
Sure :)

[2020-04-01 04:42] #465 closed

[2020-04-01 05:20] anish29292 commented on #466
@ritzvik Please look into this.

[2020-04-01 06:39] #467 closed

[2020-04-01 14:42] #468 closed

[2020-04-01 16:03] Suyog7130 commented on #469
I would also like to work on this issue.

[2020-04-01 16:56] kakirastern opened #480 "Add feature to compute and plot Penrose diagrams"
🐞 **What bugs you?**
Currently `einsteinpy` does not have the capability to compute and plot Penrose diagrams, which are 2-dimensional diagrams showing the causal relations between points in some spacetime. It would be good to implement some algorithm to add this feature. However, this will require some work on the null geodesics for Schwarzschild and Kerr Geometries ([a GSoC 2020 Project idea](ht

[2020-04-01 19:18] ritzvik commented on #469
The issue doesn’t have room for two. It’s upto @ali1810 , if he wants to discontinue working on this.

Regards,
Ritwik

[2020-04-02 13:53] ali1810 commented on #469
yes

[2020-04-03 10:30] Relativist1 opened #481 "Adding a utility for checking Energy Conditions of a given spacetime."
🐞 **What bugs you?**
Making a general module, where the user can input a spacetime and then one can check the energy conditions by finding out the energy momentum tensor and checking for the 4 required conditions.

🎯 **Goal**
Checking the energy conditions for a given spacetime, which tells how viable is the spacetime and physically plausible.

💡 **Possible solutions**

📋  **Steps to solve the pro

[2020-04-03 16:29] Relativist1 commented on #339
* https://arxiv.org/pdf/2003.06943.pdf
*  https://arxiv.org/pdf/1909.10322.pdf
#105

[2020-04-03 19:32] ritzvik commented on #144
@JeS24 , the dimension analysis you did is really appreciable, and I mean it. I also saw that in `Force = kg.m.s^-2`, `m` got ignored during substitution of values. If you can please explain, otherwise, it's fine because it was, anyway, a wild goose chase. The method is not very convincing, but it does point to something.

[2020-04-03 19:35] ritzvik commented on #469
@Suyog7130 You may take this up :)

[2020-04-03 19:44] JeS24 commented on #144
@ritzvik If you are referring to my derivation, then it's because, we want to get a conversion factor between SI and Geometric units. In geometric units, all physical quantities are related to or identified with powers of length, (in `m`), like powers of `GeV` (Energy) are used, in particle physics. In particle physics, energy equivalents are the preferred units. In GR, length equivalents make mor

[2020-04-04 05:08] ritzvik commented on #144
I guessed geometric units were the reason, still needed to clarify. The presence of the rogue factor `1e-7` is duly noted.

[2020-04-04 13:29] kakirastern commented on #480
Found a free ebook "The Large Scale Structure of Space-Time" by S. W. Hawking , G. F. R. Ellis that will be useful for us. Their Chapter 5 is on "Exact Solutions" with many examples of `Penrose Diagrams`. I have added this resource to No. 6 of the References above.

[2020-04-04 14:59] Suyog7130 commented on #469
Alright!

[2020-04-05 08:07] Suyog7130 commented on #275
I am much interested in working on this.
Can you inform why does it say [here](https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/hypersurface/schwarzschildembedding.py) that 'this method will be deprecated' in the code.
What is the new code? Is it this one [here](https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/plotting/hypersurface/core.py), although here I ca

[2020-04-05 09:10] Suyog7130 commented on #105
This is the main issue for the GSoC 2020 project on Null Geodesics, isn't it?

Now, as far as I understand it, the two main papers noted above are the main codes available presently for generating the Null Geodesics for BH geometries. One is written in C and the other FORTRAN. I understand that the attempt is to reproduce the similar code written in python. One can of course simply translate the c

[2020-04-05 09:25] ritzvik commented on #105
@Suyog7130 , as far as your understanding goes, you have gotten the problem and approaches quite correctly. Currently, no significant work has been done on this. I would advise you to start working on it, if and when you are selected for the GSoC

[2020-04-05 09:31] ritzvik commented on #275
Because the plotting part has moved to a dedicated plotting module. Now that we would be moving to `0.3.0`, I will raise an issue to remove this completely.

Yes, only plotting codes reside in plotting module. Calculation in `hypersurface`.

I guess NO

[2020-04-05 09:33] ritzvik opened #483 "Remove hypersurface deprecated methods"
🐞 **Problem**
We are moving to `0.3.0`. It means API can change. Remove the deprecated functions(and related tests, if any)

🎯 **Goal**

The File : https://github.com/einsteinpy/einsteinpy/blob/master/src/einsteinpy/hypersurface/schwarzschildembedding.py

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull req

[2020-04-05 09:36] Suyog7130 commented on #105
@ritzvik Sure Man.
However, I like the project very much. And it is a damn nice learning opportunity; So I guess I am gonna work on it regardless of the GSoC selection.
It is open source, so anybody can contribute. And I would love to be part of the project.

[2020-04-05 09:50] ritzvik commented on #105
@Suyog7130 , that's very much appreciated. After you go through the papers thoroughly, discussion could be done in the chatroom.

[2020-04-05 10:26] kakirastern commented on #480
Found a more modern text by Sean Carroll titled "Spacetime and Geometry: An Introduction to General Relativity" published in 2019. Their Appendix H is dedicated to Conformal Diagrams which is especially suitable for our work in terms of the theoretical background. This has been added as reference No. 7 in the issue description above.

[2020-04-06 13:36] ritzvik opened #484 "Error handling for `config` variable in Tensor class"
🐞 **Problem**
`config` variable denotes the contravariance-covariance of the tensor. It's lenrth is supposed to be equal to that the order of the tensor.

🎯 **Goal**

  - [x] Introduce this error handling into `Tensor` class in `symbolic` module
  - [ ] After fixing this, fix [this](https://github.com/einsteinpy/einsteinpy/blob/30a68526b9cea7b21b3f81c0b89d2619c3e19440/docs/source/examples/Lambdify

[2020-04-06 13:41] bibek22 opened #485 "Contradictory `syms` and `arr` passed to BaseRelativityTensor not being caught"
🐞 **Problem**

As mentioned in the title, the mismatch between the `syms`, which also indicates the ~order of the Tensor~ number of spacetime dimensions, and the size of the `arr` during `BaseRelativityTensor` instantiation is going unnoticed.
[code]

🎯 **Goal**
Implement a check / error handling of inconsistency in` __init__()`

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comm

[2020-04-06 13:43] ritzvik commented on #485
@bibek22 , thanks for opening the issue.

P.S. : The error handling should work for 0th order tensors like `RicciScalar`.

[2020-04-06 21:01] ScimmiaSpaziale opened #486 ""from einsteinpy.symbolic.predefined import Schwarzschild" error"
🐞 **Problem**
Hello, I first installed einstinpy via pip a few days ago.
Now I was trying to learn how to use some of the library features and started by copy-pasting the notebooks examples you posted on the site to understand them.

**I've got an issue when trying to run**
[code]

**Error is:**
[code]

🖥 **Please paste the output of following commands**
**My outputs:**
* `pip freeze`

<details>

[2020-04-07 03:24] ritzvik commented on #486
@ScimmiaSpaziale , the pip version is way old and may not work. Try the development version, instructions are [here](https://docs.einsteinpy.org/en/latest/getting_started.html#latest-versions)

Thanks for opening the issue. Please revert back, if you face further problems or have any suggestions.

[2020-04-07 09:05] ScimmiaSpaziale commented on #486
Perfect, now I'm using einsteinpy==0.3.dev0 (i previously uninstalled the stable version)

Now I don't have any error in compiling the examples.

Thank you

[2020-04-07 11:57] ritzvik commented on #486
I’m closing the issue. Thanks a lot :)

[2020-04-07 11:57] #486 closed

[2020-04-08 17:12] bibek22 commented on #485
@ritzvik

What do you mean by this? Is it enough to make sure it accepts 0 order tensor ?

[2020-04-09 05:07] allardbrain commented on #483
Hello @ritzvik, I may be able to help with this. Where would I find a list of the functions to be deprecated? I don't see any reference to v0.3.0 in the issues or PRs. Or did you provide the link to that code file because all functions therein are being deprecated?

[2020-04-09 09:27] ritzvik commented on #483
https://github.com/einsteinpy/einsteinpy/blob/492b95fe5271ffefe51c67fd456a4a70bcfe1d7c/src/einsteinpy/hypersurface/schwarzschildembedding.py#L179-L189

You would just need to remove these functions. They are to be deprecated, as evident from their docstrings.

Kindly go ahead with the issue :)

[2020-04-09 14:15] ritzvik commented on #485
0 order tensors are ultimately scalars, but can be inherited from `BaseRelativityTensor` for homogeneity. The note was basically for any contributor who is going to solve the issue :)

[2020-04-09 20:41] allardbrain commented on #483
Ah, I missed that! Thanks for pointing me in the right direction. I will take this issue.

[2020-04-10 02:50] allardbrain commented on #483
@ritzvik I have submitted a Pull Request for this issue: https://github.com/einsteinpy/einsteinpy/pull/488

Please let me know if you require any changes. Thank you!

Erin

[2020-04-10 03:07] allardbrain commented on #484
I've begun working on a PR for this issue.

[2020-04-10 09:57] #485 closed

[2020-04-10 12:36] JeS24 commented on #105
Simulating a binary BH system is an intractable problem for now, because there is no known metric for such systems. But certainly, it is an interesting problem.

[2020-04-11 12:10] ritzvik commented on #484
@allardbrain , I didn't see your comment earlier, sorry for that :(
If you want, you could take up the second part of the issue.

[2020-04-11 23:51] allardbrain commented on #484
This is just about complete. Working on getting the last failing test to pass.

[2020-04-11 23:54] allardbrain commented on #484
Oh no, that's a bummer. For updating the example, is it simply to change `config="l"` to `config="ll"`? Or are more code changes required in the subsequent snippets?

[2020-04-12 00:07] allardbrain commented on #484
I submitted #491 for this. Just let me know if more work is required. Thanks.

[2020-04-12 00:08] allardbrain commented on #469
Hey @Suyog7130 are you still working on this issue? I can take it over if you aren't.

[2020-04-12 04:50] #483 closed

[2020-04-12 04:54] ritzvik commented on #484
Issue fixed with #491 and #490 . Thanks @allardbrain & @bibek22

[2020-04-12 04:54] #484 closed

[2020-04-12 07:49] Suyog7130 commented on #469
Hey, sorry I did the work sometime back. Have to merge it with the master.

[2020-04-12 22:28] GTron-1729 commented on #339
So as per our discussion @Relativist1 the equations after some manipulations can be interpreted as integration of [](https://drive.google.com/file/d/133lS2RoNeF2TKNqKw_enlvJDvXDepHGI/view?usp=sharing) where b^2 is expressed in terms of two parameters as { n + e^2 } and the main problem bottles down to finding the upper limit of this integral where the lower bound indicates the point at observer an

[2020-04-12 22:31] GTron-1729 commented on #339
So as per our discussion @Relativist1 the equations after some manipulations can be interpreted as integration of https://drive.google.com/file/d/133lS2RoNeF2TKNqKw_enlvJDvXDepHGI/view?usp=sharing where b^2 is expressed in terms of two parameters as { n + e^2 } and the main problem bottles down to finding the upper limit of this integral where the lower bound indicates the point at observer and th

[2020-04-13 13:40] GTron-1729 commented on #339
Now i have done it in python too @Relativist1  https://drive.google.com/file/d/1qEXRIDpgitWe-6LT2CEuAVYA-Xhj-Neh/view?usp=sharing  --> this is the code along with the output.

[2020-04-13 21:10] manzonis98 opened #493 "Ricci Tensor and problems with summation of two fractions"
🐞 **Problem**
As you can see here in the image below I have an issue with the Ricci tensor.
![Schermata da 2020-04-13 22-55-28](https://user-images.githubusercontent.com/63615231/79160495-27112900-7dda-11ea-8f36-3f51f8b32ae4.png)
All the components should be zero as I'm using the Schwarzshild metric. It's easy to see that the output in the image is correct but the two components are not simplifyed

[2020-04-14 06:14] ritzvik commented on #493
Hi @manzonis98 , thanks for the issue.
If you see the docs [here](https://docs.einsteinpy.org/en/latest/api/symbolic/tensor.html#einsteinpy.symbolic.tensor.Tensor.simplify) , on calling `R.simplify()` before calling `R.tensor()`, the tensor contained in the class is automatically simplified and `R.tensor()` returns the simplified version.

However, the current design does not look good to me, and

[2020-04-14 06:37] ritzvik opened #494 "simplify after tensorcontraction in ricci.py"
🐞 **Problem**
[code]

This is happening because after `tensorcontraction` in `from_riccitensor` classmethod, simplification is not taking place.

Similar problem in `RicciTensor` class.

🎯 **Goal**

  - Fix this

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add this in the comments:
 	- `Add

[2020-04-14 06:38] ritzvik commented on #493
I opened #494 to address this :)

[2020-04-15 07:09] #469 closed

[2020-04-15 08:30] Bhavam commented on #494
Hey @ritzvik I made the necessary changes can you take a look .
Thanks

[2020-04-15 08:58] Bhavam commented on #480
Hi everyone so can we do this using  pyqtgraph which makes animated 3D visualisation easier once we obtain the 2D points to be plotted after penrose coordinates are found further we can integrate this into the existing plotting library.

[2020-04-15 09:31] GTron-1729 commented on #480
Hello there, well I don't see how 3D visualization would be useful because Penrose diagrams are a 2D representation of  4D SpaceTime. Also the diagrams need to be drawn for Schwarzschild, Kerr and other different metrics. To reach a Penrose diagram for a certain metric several equations get involved. So plotting those equations is done more easily and efficiently using Matplotlib or maybe Matlab e

[2020-04-20 18:44] andi8086 opened #497 "Christoffel Symbols are no tensor!"
🐞 Christoffel-Symbols are treated like tensors by API

For formatting or internal handling or whatever, we have
ch = ChristoffelSymbols.from_metric(m_obj)
ch.tensor()

🎯 Maybe better say Matrix instead of Tensor in this case

Tensors are multilinear maps. Just because something can be written
as a matrix does not mean it is a tensor.

It is very dangerous to refer to quantities as tensor if they a

[2020-04-21 03:13] ritzvik commented on #497
@andi8086 Thank you very much for pointing this out. We know about the problem which as discussed in #374 . We'll surely think of a workaround.

[2020-05-10 15:44] #494 closed

[2020-05-10 16:00] #493 closed

[2020-05-16 17:48] jkodish opened #500 "Divide by Zero for coordinate conversion"
I tried the coordinate conversion code listed in the guide and g
ot a division by zero error.
Not sure if this is due to the test code or the program itself.

---------------------------------------------------------------------------
ZeroDivisionError                         Traceback (most recent call last)
<ipython-input-1-044ac74d7993> in <module>
      7 pos_vec = Cartesian(.265003774 * u.km,

[2020-05-16 17:54] jkodish opened #501 "Symbolic issue with SchwarzschildMetric"
All of this is being done in both the binder and my own install. Both show the same issues.

Tried using this: import sympy
from einsteinpy.symbolic import SchwarzschildMetric, ChristoffelSymbols

m = SchwarzschildMetric()
ch = ChristoffelSymbols.from_metric(m)
print(ch[1,2,:])

Got this ImportError

ImportError                               Traceback (most recent call last)
<ipython-input-4-80b3b

[2020-05-16 18:12] ritzvik commented on #501
to import schwarzschild metric, the correct line would be this
`from einsteinpy.symbolic.predefined import SchwarzschildMetric`

[2020-05-16 18:18] ritzvik commented on #500
Thanks for opening it.
Please check if the issue is the same as that in #343 and follow the discussion there. If the issue is different, then we would move ahead with fixing this.

[2020-05-16 19:01] jkodish commented on #501
Still getting the same thing even with the predefined added.

[2020-05-16 19:02] jkodish commented on #500
I can't tell for sure, but this does somewhat look like the same issue.

[2020-05-16 19:02] #500 closed

[2020-05-16 19:21] jkodish commented on #501
Found what the guide should have:
Should be like this:
import sympy
from einsteinpy.symbolic import ChristoffelSymbols
from einsteinpy.symbolic.predefined import Schwarzschild
m = Schwarzschild()
ch = ChristoffelSymbols.from_metric(m)
print(ch[1,2,:])

[2020-05-16 19:40] jkodish commented on #501
This is the output I'm getting so close..but the a doesn't come through as on the guide
[0, 0, -r*(1 - r_s/r), 0]

If I try this: import sympy
from einsteinpy.symbolic import EinsteinTensor
from einsteinpy.symbolic.predefined import Schwarzschild
m = Schwarzschild()
G1 = EinsteinTensor.from_metric(m)
print(G1.arr)
I get all zeros
import sympy

from einsteinpy.symbolic import EinsteinTensor

from e

[2020-05-20 04:04] OrbitalMechanic commented on #424
I've updated einsteinpy ver. 0.3.0 as follows:
[code]
I ran the tests using the command
`python -c "import einsteinpy.testing; einsteinpy.testing.test()"
`
where the results were
[code]

I'm not sure what "xfailed" means and what I should do. The same goes for the AssertionError

Please advise.

Sam Dupree

[2020-05-21 10:54] ritzvik commented on #501
Einstein Tensor is defined as follows:

![ep](https://user-images.githubusercontent.com/24695764/82552194-493b5b00-9b7f-11ea-883c-0332f8a4e771.png)

So, as Ricci tensor vanishes for schwarzschild, so will Ricci Scalar. The expression would evaluate to zero tensor, as obtained by the code.

[2020-05-21 12:22] jkodish commented on #501
Ah yes. That's right

[2020-05-21 12:22] #501 closed

[2020-05-21 12:53] jkodish commented on #501
May want to change the guide though.thank you for looking at this

[2020-05-22 00:56] ritzvik commented on #501
Where is the discrepancy in guide. It would be helpful if you can indicate.
BTW, thanks for raising the issue.

[2020-05-23 01:40] jkodish commented on #501
1) The section where printing the ChristoffelSymbol component should be:
import sympy
from einsteinpy.symbolic import ChristoffelSymbols
from einsteinpy.symbolic.predefined import Schwarzschild
m = Schwarzschild()
ch = ChristoffelSymbols.from_metric(m)
print(ch[1,2,:])

Currently it is:
import sympy
from einsteinpy.symbolic import SchwarzschildMetric, ChristoffelSymbols
m = SchwarzschildMetric()
c

[2020-05-23 11:31] shreyasbapat commented on #424
Hi @OrbitalMechanic ,

xfailed means, we can allow them to fail. However, I am unable to reproduce this test failure.

Thanks for letting us know.

[2020-05-25 18:00] snewtrino opened #503 "Failure: Maxwell tensor contravariant for natural units"
<!--
<img width="1440" alt="Screen Shot 2020-05-25 at 12 00 20 PM" src="https://user-images.githubusercontent.com/59405744/82834769-51e1a900-9e7f-11ea-85cd-4a7816d4dbe1.png">

🐞When I run a test of the EinsteinPy package, I get one error regarding the Maxwell tensor
 =================================== FAILURES ===================================
_____________ test_maxwell_tensor_contravariant_for

[2020-05-26 10:00] vikranthpulamathi commented on #239
Hi! I'm working on this and seems like I am more or less done :D

[2020-05-29 15:05] shreyasbapat commented on #503
Hi @snewtrino , can you please elaborate the issue?

[2020-05-29 15:07] shreyasbapat commented on #503
I see, this isse was also discussed here: https://github.com/einsteinpy/einsteinpy/issues/424#issuecomment-631222991

Are you talking about the same thing?

[2020-05-29 15:09] shreyasbapat commented on #424
I see, there is an issue which is precisely what @OrbitalMechanic  pointed out .
#503

I am myself working on tests today. #506  I will see if I can fix this today.

[2020-05-29 15:24] shreyasbapat commented on #424
[code]

@OrbitalMechanic can you please try out once, by disabling numba?
A simple `pip uninstall numba llvmlite` and then run the same command ?

[2020-05-29 15:26] shreyasbapat commented on #503
I am sadly unable to recreate this issue. See https://github.com/einsteinpy/einsteinpy/issues/424#issuecomment-636034214

Can you try out by disabling numba as I mentioned there? Meanwhile, if you are also using a MacBook, I will ask someone to test this on mac.

[2020-05-29 15:57] rishi-s8 commented on #424
@shreyasbapat I ran the test on my `Mac OS Catalina 10.15.4` with the command `python3 -c "import einsteinpy.testing; einsteinpy.testing.test()"`.
Here's the result:
[code]

[2020-05-29 16:12] rishi-s8 commented on #424
Without `numba`:
[code]

[2020-05-29 17:49] JeS24 opened #507 "Mathematical error in `utils.schwarzschild_utils.py`"
🐞 **Problem**

In [L76](https://github.com/einsteinpy/einsteinpy/blob/d4f162f3c7b8ab5c87ac7fcdc1488a8f31b68252/src/einsteinpy/utils/schwarzschild_utils.py#L76) in `utils.schwarzschild_utils.py`, the constant, a, has been defined as:
[code]
 While this should be:
[code]

🎯 **Goal**

To fix mathematical inaccuracies in the package.

💡 **Possible solutions**

Check this [link]( http://www.physics.usu

[2020-05-29 18:00] JeS24 opened #508 "Scaling error in `utils.kerrnewman_utils.py`"
🐞 **Problem**

In [`utils.kerrnewman_utils.em_potential()`](https://github.com/einsteinpy/einsteinpy/blob/d4f162f3c7b8ab5c87ac7fcdc1488a8f31b68252/src/einsteinpy/utils/kerrnewman_utils.py#L423) and in [`utils.kerrnewman_utils.maxwell_tensor_covariant()`](https://github.com/einsteinpy/einsteinpy/blob/d4f162f3c7b8ab5c87ac7fcdc1488a8f31b68252/src/einsteinpy/utils/kerrnewman_utils.py#L472-L475), there

[2020-05-30 02:02] bibek22 commented on #405
Hey @ritzvik, should I reference this issue itself or create a new issue for each goals listed above ?

[2020-05-30 03:23] bibek22 opened #509 "Needs a utility to outer product and contract indices"
🎯 **Goal**
As the title suggests.

This is one of the goals listed in #405. This will come in handy to implement other features listed in the same issue.

Sending PR on this.

[2020-05-30 11:24] shreyasbapat commented on #509
You don't need to add redundant issues Closing this

[2020-05-30 11:24] #509 closed

[2020-05-30 12:50] gravitas21 commented on #507
I would like to work on this issue.

[2020-06-05 19:57] shreyasbapat commented on #503
I am going to close this because we couldn't recreate the issue on any device. You can still comment if you find any problem.

[2020-06-05 19:57] #503 closed

[2020-06-05 19:59] shreyasbapat commented on #424
@OrbitalMechanic If you are okay with this, as we couldn't reproduce the issue, I am going to close this. If you find any difficulty, please comment on this. We will be happy to help.

[2020-06-05 19:59] #424 closed

[2020-06-09 01:16] kauii8school commented on #145
I would still be interested in working on this, even if not part of GSOC, is there already someone assigned to it/working on it or can I give it a crack? -Nihar

[2020-06-11 08:13] shreyasbapat commented on #145
Hi @kauii8school , sure you can go ahead!

[2020-06-11 08:20] shreyasbapat opened #511 "Test EinsteinPy on Python 3.9.0 beta3"
🐞 **Problem**

Test if something is breaking. Report if it is!
🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add this in the comments:
 	- `Addresses #<put issue number here>` if you are partially fixing the issue.
 	- `Fixes #<put issue number here>` if

[2020-06-11 08:44] #466 closed

[2020-06-11 09:08] shreyasbapat commented on #507
Hi @gravitas21 , this issue is for GSOC only. Sorry!

[2020-06-11 12:34] gravitas21 commented on #507
No worries, was waiting for the coreteam reply before starting work. I would suggest putting up a label on GSOC issues to avoid confusion.  Good day!

[2020-06-14 05:39] JeS24 opened #514 "Spin Parameter & Rotational Length Parameter"
🐞 **Problem**

In the metric module and elsewhere, EinsteinPy uses dimensionless Spin Parameter, `a`, instead of rotational length parameter, `alpha`, in all the calculations, related to the metric. This is mathematically incorrect. The expressions for `a` and `alpha` are:
[code]
where, `J` denotes BH angular momentum. This can be corroborated via [Wikipedia](https://en.wikipedia.org/wiki/Kerr_met

[2020-06-14 05:40] JeS24 commented on #514
To be fixed in #512 . @shreyasbapat You can add GSoC tag to this.

[2020-06-14 13:24] JeS24 opened #515 "utils module - maxwell_tensor_covariant() has implementation for Faraday/Electromagnetic Tensor"
🐞 **Problem**

The method named `maxwell_tensor_covariant()` in `utils.kerrnewman_utils.py` is in fact the Faraday/Electromagnetic Tensor and not the Maxwell/Electromagnetic Stress Tensor. The implementation is for Electromagnetic Tensor. Details and differences can be found in these links:
[Electromagnetic Tensor](https://en.wikipedia.org/wiki/Electromagnetic_tensor#Definition) and [Maxwell Tenso

[2020-06-14 13:25] JeS24 commented on #514
Don't know, how I forgot. The simplest check is dimensional analysis. That's what struck me first, while going through the module.

[2020-06-14 13:26] JeS24 commented on #515
To be fixed in #512. @shreyasbapat Please add GSoC tag on this. For the time being, I am renaming the method (across EPY). Calculating Maxwell Tensor can be a future feature addition.

[2020-06-17 21:02] shreyasbapat opened #516 "Use __all__ wherever necessary"
🐞 **Problem**

We do a lot of `from a import *` type of imports. Its necessary to add `__all__`  everywhere.

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add this in the comments:
 	- `Addresses #<put issue number here>` if you are partially fixing the

[2020-06-18 20:50] JeS24 commented on #144
Using Charge per unit Mass (`q`) [here](https://github.com/einsteinpy/einsteinpy/blob/fab0f4db89a0d89e560ecbd0b9eb4aa4e450ee5c/src/einsteinpy/metric/kerrnewman.py#L115), instead of charge, `Q`, is probably where the factor comes from. Although, this should be moot now, after #512 . Tests are needed regardless.

[2020-06-20 04:16] JeS24 commented on #405
This may be a good reference: http://gravity.psu.edu/local/internal/blackholes_2012.pdf (Check the appendix and first few chapters).

[2020-06-21 08:32] JeS24 opened #517 "einsteinpy.bodies - Spin Factor, a is redundant"
🐞 **Problem**
The `Body` class in `einsteinpy.bodies` uses a Spin Factor, `a`, as a parameter for the body. There are two issues with this:
1. `a` should be dimensionless. It's `alpha` or the rotational length parameter, that has the dimensions of length, and not `a`. The expressions for these two are: `a = Jc / GM**2` and `alpha = J / Mc = GMa / c**2`. `a` is used to define a constraint on the an

[2020-06-21 08:33] JeS24 commented on #517
@shreyasbapat I am keeping this separate from #514, as #512 fixes #514, while `bodies` is not being touched in #512.

[2020-06-21 08:54] JeS24 commented on #239
Once #512 is reviewed and the code is finalized, I can work on a notebook for this.

[2020-06-21 09:18] JeS24 commented on #122
I am currently validating the methods in `einsteinpy.metric.Kerr` and `einsteinpy.metric.Schwarzschild`, as this is necessary to ensure the correctness of the null geodesics. We can add whatever tests result from this to `test_metric`.

[2020-06-21 09:21] JeS24 commented on #122
@shreyasbapat  Does "benchmark" refer to how close our results are to published studies? In that case, the calculation and plots, that will be obtained from the GSoC additions to `geodesics` and `rays`, can perhaps serve as a benchmark.

[2020-06-21 09:27] JeS24 commented on #410
#512 fixes this.

[2020-06-21 09:59] JeS24 commented on #367
@shreyasbapat @ritzvik Is this issue fixed? After the changes in #512, even the abnormal sideways movement is absent. Compare these:
***BEFORE***
![image](https://user-images.githubusercontent.com/31299799/85221729-e9311200-b3d3-11ea-96a8-d0862c540c35.png)

***AFTER***
![image](https://user-images.githubusercontent.com/31299799/85221722-df0f1380-b3d3-11ea-95c7-95560bec02f4.png)

[2020-06-21 10:21] shreyasbapat commented on #367
Nope

[2020-06-21 10:26] shreyasbapat commented on #122
Yes. Precisely

[2020-06-22 21:06] ernesto-tapia commented on #516
Hello, I would like to work on this, I'm starting to get familiarized with the project and where to add the _all_.

[2020-06-23 19:49] JeS24 opened #518 "Make the `metric` module purely object oriented"
🐞 **Problem**

After #512, the `metric` module has seen some major changes, one of them being the introduction of a `BaseMetric` class. As the name suggests, this class serves as a base class for all other metric classes in the module. It also groups together all relevant utility functions from `utils`. This has been done to provide users the freedom to use the individual functions as either utili

[2020-06-24 18:07] shreyasbapat commented on #516
Hi @ernesto-tapia , sure. Please go ahead with it. If you feel any difficulty , please ask in the chatroom.

[2020-06-24 18:09] shreyasbapat commented on #511
Done. We are good to go!

[2020-06-24 18:09] shreyasbapat commented on #511
We are going to drop Python 3.6 in the very next release. Python 3.9 support is coming!

[2020-06-24 18:09] #511 closed

[2020-06-24 18:10] #182 closed

[2020-06-24 18:10] shreyasbapat commented on #41
Okay, let's not do it

[2020-06-24 18:10] #41 closed

[2020-06-24 18:24] JeS24 commented on #507
In #512, `time_velocity` methods, across `<Metric>_utils` modules, have been [moved to and repackaged into 1 function in `coordinates.utils`](https://github.com/JeS24/einsteinpy/blob/0f90cb36d9f90e51659f3ddf204e6cf0302121c4/src/einsteinpy/coordinates/utils.py#L209-L250), renamed as `v_t()`. This function uses the supplied metric and 3-Velocity, and the expression for spacetime interval: $g_{ab} u^

[2020-06-24 18:25] shreyasbapat opened #519 "Make pep8speaks not speak for W503 and W504. Black enforces them :("
🐞 **Problem**

Title suggests.
🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add this in the comments:
 	- `Addresses #<put issue number here>` if you are partially fixing the issue.
 	- `Fixes #<put issue number here>` if you are completely fixing the is

[2020-06-24 18:28] JeS24 commented on #508
The scaling factor has been removed in #512, with tests giving same results as the prior code, indicating an issue in the implementation in `KerrNewman`.

[2020-06-24 19:31] #113 closed

[2020-06-24 19:31] #141 closed

[2020-06-24 19:31] #410 closed

[2020-06-24 19:31] #507 closed

[2020-06-24 19:31] #515 closed

[2020-06-24 19:52] shreyasbapat commented on #363
Okay, this is happening now

[2020-06-24 20:11] JeS24 commented on #141
Almost all of the utilities have been moved into `metric` itself, in #512.

[2020-06-27 04:46] JeS24 opened #523 "Math issues across metric modules in einsteinpy.metric"
🐞 **Problem**

All terms of the metrics in the metric module are divided by `1 / c**2`. This is incorrect. I am linking the lines of code here, along with a Wiki page to compare them to:
1. Schwarzschild - [`metric.Schwarzschild`](https://github.com/einsteinpy/einsteinpy/blob/78bf5d942cbb12393852f8e4d7a8426f1ffe6f23/src/einsteinpy/metric/schwarzschild.py#L55-L59) - [Wikipedia](https://en.wikipedia

[2020-06-29 13:52] JeS24 commented on #523
This issue has been confirmed after a short review. Updating the issue description. First part to be fixed in #521. Second in short PR, right after.

[2020-07-04 09:59] JeS24 opened #524 "CircleCI tests are failing because of isort changes"
🐞 **Problem**
After version `5.0.0`, `isort` has dropped the `--recursive` or `-rc` flag, which breaks our CircleCI's `config.yml`, as we still use this flag. Same for `tox.ini`.

Also, the `-sd` flag (for `--section-default`) has been changed to `--sd`.

🎯 **Goal**

Fix the testing process.

💡 **Possible solutions**

Remove `-rc` and/or `--recursive` flags from `config.yml` and `tox.ini`, as sugg

[2020-07-04 09:59] JeS24 commented on #524
@shreyasbapat I have made the required changes in #521.

[2020-07-14 13:33] #517 closed

[2020-07-14 13:33] #523 closed

[2020-07-14 13:33] #524 closed

[2020-07-16 06:51] JeS24 opened #525 "Add new coordinate and metric classes"
🐞 **What bugs you?**

The core modules of EinsteinPy are well-integrated, after #512 & #521. Now, we can add more metric classes to the module, in all usual coordinates, corresponding to the metric. This will be an ongoing issue, tracking new coordinate and metric additions, quite similar to the issue for symbolic module (#309). Related issues are #15 and #16.

🎯 **Goal**

Add new metric and coord

[2020-07-16 06:54] JeS24 opened #526 "Create custom Error class for coordinate operations"
🐞 **What bugs you?**

Since some coordinate operations (conversion, calculating 4-Velocity, scalar product et al) depend on the metric tensor, it is imperative that we have the metric class (specifically these methods: `g_cov_` & `_dg_dx_` or alternatively, `_ch_sym_`) defined in the corresponding coordinates. The issue of new coordinates & metric classes is to be tackled by #525. However, we will

[2020-07-17 15:44] JeS24 opened #528 "Velocity 4-Vector methods in coordinates.differential conflate angular velocity for linear velocity"
🐞 **Problem**

All the methods in `coordinates.differential` and by extension, `coordinates.utils`, **that calculate or make use of 4-Velocity,** are mathematically incorrect, as `v_th` and `v_p` are Angular Velocities, but are being treated as Linear Velocities. A simple dimensional analysis reveals this. To get to the correct dimensions, we need to multiply by the scale factor for each of the co

[2020-08-04 09:08] ritzvik opened #529 "Trajectory figure not visible in Analysing Earth Example"
🐞 **Problem**

https://docs.einsteinpy.org/en/latest/examples/Analyzing%20Earth%20using%20EinsteinPy!.html

@shreyasbapat @JeS24

[2020-08-10 10:05] maajdl opened #530 "Downloading Jupyter notebooks samples"
Hello,

Nice package!
I would like to try some Jupyter notebooks samples.
Is there a way to download some?

Thanks

Michel

[2020-08-10 11:01] shreyasbapat commented on #530
Hey Michel, sure, you can go and download the whole package in a zip file from this link:
https://github.com/einsteinpy/einsteinpy/archive/master.zip

Or if you just want to run the jupyter notebooks, they run well in Binder as well:
https://beta.mybinder.org/v2/gh/einsteinpy/einsteinpy/master?filepath=index.ipynb

Glad that you liked it.

[2020-08-19 12:32] #530 closed

[2020-08-21 15:13] nicholasferguson opened #531 "Geodesic.py 0.3.0 does not have Timelike"
Need to release a 0.4.0

[2020-08-24 06:07] shreyasbapat commented on #164
Thanks @letmaik ! This is very helpful.

[2020-08-27 12:37] rdisipio opened #532 "Definition of symbolic constants"
Hi folks,

🐞 **What bugs you?**

  I want to calculate the Einstein tensor for the Alcubierre "warp drive" metric. The calculation of the metric tensor is rather straightforward and has been presented multiple times, e.g. in "Light Propagation in a Warp Drive Spacetime" by Michael Peter Kinach.

If I define the following symbols

[code]

and then
[code]

It looks like this:

`MetricTensor[[V**2*(-

[2020-08-27 17:59] rdisipio commented on #532
Oh, I think I've figured that out. The trick was to define two sets of symbols eg. `t, x, y, z` and others for the constants, then pass the first array to the function that calculates the derivatives.

As a side note, you may want to make this a little bit clearer in the examples (although it appears [here](https://docs.einsteinpy.org/en/stable/examples/Symbolically%20Understanding%20Christoffel%2

[2020-08-28 05:09] shreyasbapat commented on #531
Hi @nicholasferguson , can you please elaborate on what exactly you are looking for?

[2020-08-28 05:12] shreyasbapat commented on #532
Thanks @rdisipio , I think this can be done. I will create an issue to have this metric in the predefined set. Thanks a lot for the feedback, and glad it worked.

[2020-08-28 05:12] shreyasbapat commented on #532
@JeS24 Can you do it in current pull request only, this should be a minor addition to that

[2020-08-28 05:14] shreyasbapat commented on #531
As for `0.4.0`, the version is planned after GSoC ends. We will have Null Geodesics as a part of it :D
So, it's probably still a 45 days wait for the next release.

[2020-08-28 06:13] JeS24 commented on #532
@shreyasbapat On it.

[2020-08-30 12:02] #532 closed

[2020-08-30 12:03] shreyasbapat commented on #532
This is fixed. Thanks @rdisipio for the issue :D

[2020-08-30 12:03] shreyasbapat commented on #532
The changes however, will appear in the 0.4.0 release later this year. You can use the latest master till then :D

[2020-08-31 04:41] JeS24 opened #535 "Improve the python back-end in `geodesic`"
🐞 **Problem**

Currently, the python back-end in `geodesic` is not accurate for long simulations, unlike the `julia` back-end. Case in point, consider the following plots for a Kerr "Closed" geodesic, plotted using python and julia back-ends respectively:

![pyth-bad](https://user-images.githubusercontent.com/31299799/91683228-a462ed80-eb71-11ea-8bc8-20c9bcc54285.png)
![Closed Orbit Julia SGPL](ht

[2020-09-07 17:34] rdisipio opened #537 "Checking Bianchi identity"
🐞 **What bugs you?**
Checking the [Bianchi identity](https://en.wikipedia.org/wiki/Contracted_Bianchi_identities) (see also [this](http://einsteinrelativelyeasy.com/index.php/general-relativity/69-bianchi-identity)) is a central piece of General Relativity. However, I'm not sure how to prove with EinsteinPy that a given (possibly arbitrary) metric fulfills such requirement. It would be nice if the

[2020-09-13 15:04] shreyasbapat commented on #537
Thanks for reporting this @rdisipio !
cc @JeS24 , we can discuss this in our next meeting :D

[2020-09-19 10:55] YJDoc2 commented on #164
Hello,
Would it be a good idea to make a wrapper which will time the functions in test mode and return same function in production mode, so that we can identify slow functions?

[2020-09-19 23:17] shreyasbapat commented on #164
Can be a good idea. Can you provide a simple code of what that would look like?

[2020-09-19 23:18] #531 closed

[2020-09-19 23:19] shreyasbapat commented on #531
Hey @nicholasferguson . I have closed the issue. But if you have any doubts, you can happily reopen or comment on the same issue.

[2020-09-20 06:13] YJDoc2 commented on #164
It would be along the lines of :
[code]
One of the issues in this would be that time.time() returns system time, so if the python process is not scheduled for a long time , then the time reported by profile would be large, even though actual time taken by the function is small

This can be used as :
1. Decorate all functions and keep them that way. as the decorators are evaluated at before actuall

[2020-09-21 21:47] shreyasbapat commented on #164
Makes a lot of sense. I personally feel we should have something like this available to the larger audience as well. Is this there in some standard library?

[2020-09-22 14:00] YJDoc2 commented on #164
The python stdlib provides (c)Profile which can be used as stated in the first comment of this issue, and there is also timeit module which can time a function, but that would require writing a script file to manually call timeit methods on each of the functions, with giving inputs for them as needed.
Other than that haven't found any modules that can time the functions.
Reason for suggesting the

[2020-09-25 03:57] YJDoc2 commented on #164
Should try implementing or not?

[2020-09-26 22:04] shreyasbapat commented on #164
I personally think this should not be a part of the core repository. Maybe in the benchmarks repository?

[2020-10-03 00:09] AidanBlant commented on #526
Hi, I'm interested in taking this on.

[2020-10-03 05:41] DhawalKhapre commented on #526
Hi, I would like to work on this issue

[2020-10-03 18:29] shreyasbapat commented on #526
Sure, please go ahead :D

[2020-10-07 15:53] shreyasbapat opened #539 "No API docs for Geodesic Module"
🐞 **Problem**

https://docs.einsteinpy.org/en/latest/api/geodesic.html
This is mostly empty for some reason. @JeS24 you might have an idea why this was not pushed?

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add this in the comments:
 	- `Addresses #<p

[2020-10-07 15:56] shreyasbapat opened #540 "API docs don't list down all the available modules on it's homepage"
🐞 **Problem**
https://docs.einsteinpy.org/en/latest/api/index.html

This leads the users to nowhere!

We need to have a toctree here!

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add this in the comments:
 	- `Addresses #<put issue number here>` if you

[2020-10-07 16:08] ridhiratan commented on #540
I would like to work on this.

[2020-10-07 16:08] shreyasbapat opened #541 "Refine Jupyter Notebooks Page in Docs"
🐞 **Problem**

https://docs.einsteinpy.org/en/latest/jupyter.html

We need to have more descriptive headings in this. Maybe link those headings to some pages.
@rishi-s8  You may elaborate if you wish.

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add thi

[2020-10-07 16:15] ShikhaSuman8601 commented on #539
I would like to work on this

[2020-10-08 12:57] gimseng commented on #537
This is a good idea. However, on the mathematical side, if the Riemann tensor is built out of a metric tensor, then the Rieman tensor automatically satisfies the Bianchi identity.

I think this should be a useful thing for a unit test type of thing. I forgot how EinsteinPy implements testing, is this something useful?

[2020-10-09 14:31] YJDoc2 commented on #164
Sure, can you open a relevant issue there? Because when I saw it was mostly empty.
Also would you be willing to label it for hacktoberfest?

[2020-10-10 05:03] JeS24 commented on #539
@shreyasbapat Weird. Let me take a look.

[2020-10-14 17:48] Dhawal-Modi commented on #541
Hi i would like to work on this

[2020-10-15 14:59] shreyasbapat commented on #541
Sure, please go ahead!

[2020-10-21 19:03] jatincse commented on #541
I would like to work on this

[2020-10-21 19:43] shreyasbapat commented on #541
Sure, you can.

[2020-10-31 00:02] begeistert commented on #541
Hi, I would like to work on this

[2020-10-31 12:11] shreyasbapat commented on #541
Please go ahead

_______________________________________
This email is sent from a smartphone. Please ignore grammatical mistakes
and typographical errors.
_______________________________________

On Sat, Oct 31, 2020, 5:33 AM Iván Montiel Cardona <notifications@github.com>
wrote:

[2020-11-11 10:24] godslayer201 commented on #541
**Problem**

https://docs.einsteinpy.org/en/latest/jupyter.html

We need to have more descriptive headings in this. Maybe link those headings to some pages.

**Goal**

We should maybe make it more descriptive to use. A small summary or link to relevant article should be a good start
 **Possible solutions**

1.Add description of what the code does.
2.Mention a small summary of the problem we're sol

[2020-11-17 10:01] kakirastern opened #543 "Add official dev docs for Windows"
🐞 **What bugs you?**
Currently there are no detailed doc giving instructions as to how to set up a Windows PC for EinsteinPy development work.

🎯 **Goal**
To develop a minimally viable set of instructions to set up Windows PC for EinsteinPy. This will allow users who does not have access to either a Mac or a Linux/Unix machine to contribute to EinsteinPy as well.

💡 **Possible solutions**
We can u

[2020-11-17 10:05] godslayer201 commented on #543
@kakirastern I would like to work on this

My approach -
1. Concise windows centric doc
2. Include an possible FAQ of all the possible errors that may arise
3. Include relevant gifs of the error behaviour and how to resolve.

[2020-11-17 10:14] kakirastern commented on #543
@godslayer201 Thanks for your interest in the issue. You are more than welcome to prepare a PR for it!

[2020-11-17 10:20] godslayer201 commented on #543
Thank you! Will get started.

[2020-11-17 10:24] kakirastern commented on #543
You are welcome! Go for it

[2020-12-09 12:23] godslayer201 opened #545 "Addition of Assign-bot"
🐞 **What bugs you?**
We should add an assign bot to automate assigning the issues/PR to willing contributors

🎯 **Goal**
1. Keep track of assigness
2. Increases the organization

💡 **Possible solutions**
1. Addition of assign-bot

📋  **Steps to solve the problem**

 1. It could also happen that someone claims but doesn't work. Need to take care of it for future contributors.
 2.  A tracking mechan

[2020-12-20 18:11] hkjain commented on #516
Hi @shreyasbapat , I am new to this project and i would like to know about it and resolve the problem, please guide me on how to begin with it once.

[2020-12-30 09:21] olebole opened #546 "test_maxwell_tensor_contravariant_for_natural_units fails on Debian arm64"
🐞 **Problem**

The Debian Einsteinpy package fails a test on the arm64 platform on Debian:

[code]
Full test log is [here](https://ci.debian.net/data/autopkgtest/testing/arm64/e/einsteinpy/8149630/log.gz). The same failure [happens on the ppc64el platform](https://ci.debian.net/data/autopkgtest/testing/ppc64el/e/einsteinpy/8150246/log.gz).
This failure prevents the package from migrating to Debian

[2021-01-01 15:46] godslayer201 commented on #546
Hey @olebole I'll try to replicate the issue on my local machine and try to get this fixed.

We think it's a architecture issue.

[2021-01-04 19:40] JeS24 commented on #545
Potentially useful: https://github.com/kentaro-m/auto-assign/

[2021-01-04 19:48] JeS24 commented on #529
This particular example was removed in the last few commits near the end of GSoC 2020. As for the stable version, the figure is present: https://docs.einsteinpy.org/en/stable/examples/Analysing%20Earth%20using%20EinsteinPy%21.html.

[2021-01-04 19:48] #529 closed

[2021-01-04 19:58] JeS24 commented on #367
This should be a redundant issue now, no? @shreyasbapat

[2021-01-05 03:54] shreyasbapat commented on #367
The problem is that it breaks on the new plotting code. The plotly one!

[2021-01-05 10:21] JeS24 commented on #543
@godslayer201 Ping me, if you need to test something out. I mostly use Windows.

Also, [CONTRIBUTING](https://github.com/einsteinpy/einsteinpy/blob/master/CONTRIBUTING.rst) covers all aspects of EPy dev on Windows, except one. `makefile` won't work natively on Windows. While WSL, Cygwin or MinGW can be used, the simplest way to build docs is to use `sphinx-build -b html .\source\ .\build\`. There

[2021-01-05 10:25] JeS24 commented on #337
Won't `sympy` make everything slower? For numerical problems, this does not seem like a practical approach.

[2021-01-05 10:32] godslayer201 commented on #543
Yes sure! Let's take this up over IRC?

I had a couple of doubts of my own as well.

[2021-01-05 10:39] JeS24 commented on #543
@godslayer201 Sure. We can talk over Matrix.

[2021-01-05 11:13] JeS24 opened #549 "Some of `einsteinpy.symbolic` Jupyter Notebooks are outdated"
🐞 **Problem**
As the title suggests, some of the Jupyter Notebooks (stored at `einsteinpy\docs\source\examples\`), containing examples for the `symbolic` module are out of date. Compare these (**_OLD vs NEW_**):

1. https://docs.einsteinpy.org/en/latest/examples/Weyl%20Tensor%20symbolic%20calculation.html
![image](https://user-images.githubusercontent.com/31299799/103639629-a0f2cf00-4f74-11eb-89a4

[2021-01-05 11:37] JeS24 commented on #436
I cannot replicate this issue on recent API (`einsteinpy>=0.3`). Closing this.

[2021-01-05 11:37] #436 closed

[2021-01-06 15:49] JeS24 commented on #546
A couple of observations:

1. All tests pass with `einsteinpy-0.3.0` (no `numba`) on a Raspberry Pi 4 (`armhf` - 32-bit), running Raspbian 10 (fresh installation | up-to-date). Same result using PyDroid 3 (all EPy dependencies up-to-date) on a Android 10 phone (`arm64`) . This prima facie rules out architecture issues.

2. The `m` array in that test contains large and small values, as can be seen

[2021-01-06 19:06] JeS24 commented on #46
I guess, [this](https://github.com/pytest-dev/pytest/issues/2042#issuecomment-381309723) and [this](https://github.com/pytest-dev/pytest/issues/539#issuecomment-466197972) are relevant. Also, [this comment](https://github.com/pytest-dev/pytest/issues/2042#issuecomment-429289164). We can perhaps close this issue now. @shreyasbapat

[2021-01-07 15:12] olebole commented on #546
We observe the following results:

 * amd64: Pass
 * arm64: Fail
 * armhf: Pass
 * i386: Pass
 * ppc64el: Fail
 * s390x: Fail

The arm64 test [fails already since november](https://ci.debian.net/packages/e/einsteinpy/unstable/arm64/); the two others were tested only once (~one week ago).

What I could imagine: the assert subtracts two almost-equat numbers, which may be (as shown in your example) q

[2021-01-08 09:18] shreyasbapat commented on #46
Okay!

[2021-01-08 09:18] #46 closed

[2021-01-08 09:21] shreyasbapat commented on #546
That's correct. How do we make changes to it @olebole ?

[2021-01-08 09:24] Aditya7799 commented on #526
Hi, I've gone through the docs and am interested in working on this issue.
The error handling could be implemented in two ways:
1. `Error ` base class and `CoordinateError` child class.
2. One `Error` class with logic to handle different error codes.

Please do let me know which way would be preferable.

[2021-01-08 09:39] olebole commented on #546
@shreyasbapat I am not sure I understand what you mean…
I thought, one could just fix this (f.e. with a Pull request), and then create a new version, for which you could update the Debian package, which I then would upload.

[2021-01-08 09:54] shreyasbapat commented on #546
What I meant was, since there is no actual way for us to see if our pull request actually fixes the issue, how exactly do we test it?

[2021-01-08 14:11] olebole commented on #546
The easiest way is to create a Debian package with the fix (which I just did - 0.3.0-2). Let's see whether this fixes it.

[2021-01-08 19:09] JeS24 commented on #526
@Aditya7799 Thanks for showing interest. #1 sounds good to me, but at the moment, let's keep the `BaseError` class simple - only as much is needed.

[2021-01-09 13:38] olebole commented on #546
[This patch](https://salsa.debian.org/debian-astro-team/einsteinpy/-/blob/master/debian/patches/Replace-subtraction-of-large-values-in-test-with-direct-c.patch) fixes the CI test on the [arm64](https://ci.debian.net/data/autopkgtest/unstable/arm64/e/einsteinpy/9525573/log.gz) and [ppc64el](https://ci.debian.net/data/autopkgtest/unstable/ppc64el/e/einsteinpy/9518030/log.gz) platforms, so I would th

[2021-01-09 23:26] JeS24 commented on #316
We mostly require Cartesian, Spherical Polar, Boyer-Lindquist and Kerr-Schild Coordinates and a transformation among them. For most of numerical relativity, these are sufficient. "Exotic" coordinates can be added, as and when needed. Also, only "Kerr-Schild" is missing at the moment.

[2021-01-09 23:42] JeS24 commented on #102
This falls under the purview of Special Relativity or QED or Magnetohydrodynamics (the video). Using GR does not simplify the problem.

[2021-01-10 08:32] JeS24 opened #552 "einsteinpy.plotting.geodesic.static : `AttributeError: 'Poly3DCollection' object has no attribute '_facecolors3d'`"
🐞 **Problem**
`matplotlib 3.3.3` made changes to some attribute names, leading to `AttributeError: Poly3DCollection' object has no attribute '_facecolors3d'` in `einsteinpy.plotting.geodesic.static`, while using the module or running tests with `matplotlib 3.3.3`.

🎯 **Goal**

To fix a rather annoying bug.

💡 **Possible solutions**

`_facecolors3d` and `_edgecolors3d` need [to be replaced](https:/

[2021-01-10 11:54] #516 closed

[2021-01-10 11:59] JeS24 commented on #552
#547 fixes this.

[2021-01-10 11:59] #552 closed

[2021-01-10 22:16] #519 closed

[2021-01-11 17:23] #526 closed

[2021-01-12 05:53] #545 closed

[2021-01-12 06:19] JeS24 opened #556 "Assign Bot Test"
🐞 **Problem**

Testing out Assign Bot

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import einsteinpy.testing; einsteinpy.testing.test()"`

<details>

[code]
</details>

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Com

[2021-01-12 06:21] shreyasbapat opened #557 "Abolish `master` branch. Adopt `main`"
🐞 **Problem**

After the BLM Protests, we woke up to the fact that we are still using racist terminologies in our daily lives. Let's remove that.

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request.
 * Add this in the comments:
 	- `Addresses #<put issue number he

[2021-01-12 06:23] shreyasbapat commented on #557
[code]
This will help everyone

[2021-01-12 06:23] #557 closed

[2021-01-12 10:04] shreyasbapat commented on #546
Alright, I'll fix this and create a release 0.3.1 on pypi :D This Friday

[2021-01-12 10:06] olebole commented on #546
Can you also update the Debian package?

[2021-01-15 18:08] prakashaditya369 commented on #549
I would like to work on this issue.
@JeS24 In this issue, I have to check for various examples in the doc and check if the output is outdated or not. If outdated, I need to change it. Am I right?

[2021-01-15 19:46] JeS24 commented on #549
@prakashaditya369 Yeah, just running the Jupyter Notebooks in `examples/` with `einsteinpy>=0.4.0` would do.

[2021-01-16 11:42] shreyasbapat commented on #546
Sure. I don't remember how to do that exactly but I will do it

[2021-01-16 11:43] shreyasbapat commented on #546
I am preparing a patch and a patch release now

[2021-01-16 14:17] shreyasbapat commented on #546
So, interestingly, we have already removed this test from the current `main`. And this will not be present in the upcoming `0.4.0` release. So, I just need to patch it for `0.3.1`

[2021-01-16 18:14] shreyasbapat commented on #546
I have released EinsteinPy 0.3.1 : https://pypi.org/project/einsteinpy/

[2021-01-16 18:14] #546 closed

[2021-01-16 18:14] shreyasbapat commented on #546
I will keep posting here about the Debian Salsa Updates

[2021-01-18 09:19] JeS24 commented on #556
Functional as on PR #565. Closing this.

[2021-01-18 09:19] #556 closed

[2021-01-18 18:18] JeS24 commented on #40
Some related literature:
* https://arxiv.org/pdf/2010.02237.pdf
* https://www.unige.ch/~hairer/poly_geoint/week2.pdf

[2021-01-19 16:43] Atheriz-46 commented on #98
I would like to work on this.

[2021-01-19 18:26] #549 closed

[2021-01-20 12:37] JeS24 commented on #98
@Atheriz-46 Sure, but as mentioned by others, this issue is tricky due to the way `numba` and python work.

[2021-01-21 06:39] QMrpy commented on #525
I have started working on adding Eddington-Finkelstein Coordinates, and Kerr-Schild Coordinates. Also, I will be adding Reissner-Nordstrom Metric to EinsteinPy.

[2021-01-21 06:45] JeS24 commented on #525
@QMrpy Can you join either our [Gitter](https://gitter.im/EinsteinPy-Project/EinsteinPy?at=5efecec1b8152d34847bac2d) or [Riot](https://riot.im/app/#/room/#einsteinpy:matrix.org) room? We can discuss this there.

[2021-01-21 09:08] rohan-paul opened #567 "The Try it out URL is not working."
The Try it out URL is not working. The 'master' in the URL needs to be changed to 'main'

![image](https://user-images.githubusercontent.com/12703975/105328601-38535580-5bf6-11eb-9720-a222af4feb31.png)

[2021-01-21 09:52] JeS24 opened #570 "Renaming `master` to `main` has lead to link rot"
🐞 **Problem**

We recently renamed the `master` branch to `main` and it has lead to link rot. While GitHub automatically interprets links with  `master` as references to `main`, external sites like Binder do not (See #567).

🎯 **Goal**

To fix link rot.

💡 **Possible solutions**

Replace `master` with `main` for all relevant occurrences, throughout the repo.

📋  **Steps to solve the problem**

 *

[2021-01-21 10:01] #567 closed

[2021-01-21 13:10] prakashaditya369 commented on #570
I would like to work on this issue.
I should change all `master` to `main` even for those which Github are inferencing correctly.
And for this I need to look into `.rst` files only, right?

[2021-01-21 14:09] JeS24 commented on #570
Correct.

Mostly `.rst`, but some instances of `master` may be in some HTML templates and even configuration scripts (Python or otherwise). Just search through the repo.

[2021-01-21 19:52] prakashaditya369 commented on #570
@JeS24 I search for every possible master in the project. I left the following "master":
- `master` in`.git` and `.github` folder.
- `"master.svg"` in some link in `README.rst`
- `master_doc` in `docs/source/config.py`

Still while building, I am getting this `master` as branch in some html files:
![Screenshot from 2021-01-22 01-16-44](https://user-images.githubusercontent.com/62632865/105404609-2

[2021-01-21 20:06] JeS24 commented on #570
@prakashaditya369 That is because, there are 10 instances of `master` in `README.rst`:

![image](https://user-images.githubusercontent.com/31299799/105406270-31f2c700-5c52-11eb-895d-b9dea4d0d619.png)

[2021-01-21 20:10] prakashaditya369 commented on #570
I renamed all of them except master.svg.
The ones I have mentioned above are ones whom I haven't renamed.

[2021-01-21 21:32] JeS24 commented on #570
@prakashaditya369 `codecov` was using `master` as the default branch. I have changed it to `main`. In any case, you can add `"badge_branch": "main",` to `html_theme_options` in `conf.py` to force `codecov` ([and others](https://alabaster.readthedocs.io/en/latest/customization.html#service-links-and-badges)) to use `main`, while generating the badge(s).

Rename this too.

[2021-01-22 08:50] prakashaditya369 commented on #570
@JeS24 I am getting this error while compiling.
![Screenshot from 2021-01-22 14-16-32](https://user-images.githubusercontent.com/62632865/105468391-f2ad9000-5cbc-11eb-834b-28ceb9da61fa.png)

The change I have made.
![Screenshot from 2021-01-22 14-16-40](https://user-images.githubusercontent.com/62632865/105468386-f0e3cc80-5cbc-11eb-95c1-c791d9cc0a1b.png)

[2021-01-22 09:27] JeS24 commented on #570
@prakashaditya369 Set `"badge_branch"` before `"codecov_button"`.

[2021-01-22 10:49] prakashaditya369 commented on #570
@JeS24 It didn't work.

[2021-01-27 05:58] JeS24 opened #572 "Update citations"
🐞 **Problem**

In PR #548, we have added a new geodesic solver to EinsteinPy, based on [this paper (arXiv)](https://arxiv.org/abs/2010.02237) by Christian and Chan. At the moment, the code cites the arXiv entry, but the paper has been accepted for publication in The Astrophysical Journal (ApJ). As and when the ApJ DOI becomes available, we should update the citation at corresponding places.

🎯 **G

[2021-01-29 14:13] #570 closed

[2021-02-01 15:01] #36 closed

[2021-02-01 15:01] #40 closed

[2021-02-01 15:01] #105 closed

[2021-02-01 15:01] #122 closed

[2021-02-01 15:01] #367 closed

[2021-02-01 15:01] #535 closed

[2021-02-05 10:18] JeS24 commented on #537
@gimseng Precisely. Although, we can implement this now, let's wait till some progress has been made with #405, specifically with the covariant derivative operation.

[2021-02-09 00:19] j1ng3r opened #574 "einsteinpy.symbolic.tensor.tensor_product is not available in Google Colab (einsteinpy version 0.3.1)"
🐞 **Problem**

I am trying to use the tensor_product function from the API doc here: https://docs.einsteinpy.org/en/stable/api/symbolic/tensor.html

I am using Google Colab, where I have installed einsteinpy==0.3.1

upon calling `from einsteinpy.symbolic.tensor import tensor_product`, I get the error:

`ImportError: cannot import name 'tensor_product'`

The name `tensorproduct` does exist, but doe

[2021-02-11 15:58] JeS24 commented on #574
@j1ng3r Thanks for opening the issue. It seems to be a problem with documentation for `stable/v0.3.1` as v0.3.x [certainly does not have `tensor_product()` defined](https://github.com/einsteinpy/einsteinpy/blob/0.3.x/src/einsteinpy/symbolic/tensor.py).

While I look into why the documentation lists `tensor_product()` for `stable/v0.3.1`, you can make use of the function, as defined in [main/.../te

[2021-02-11 16:29] JeS24 commented on #574
This issue has more layers apparently. [Tarball for v0.3.1](https://pypi.org/project/einsteinpy/#files), hosted at PyPi, is identical to [that for v0.3.0](https://pypi.org/project/einsteinpy/0.3.0/#files). While the tarball & zip in the [v0.3.1 release](https://github.com/einsteinpy/einsteinpy/releases/tag/v0.3.1) do have the correct files. @shreyasbapat Any ideas?

[2021-02-11 16:30] shreyasbapat commented on #574
How is that possible?

[2021-02-11 16:32] JeS24 commented on #574
Just as confused as you.

[2021-02-11 16:32] shreyasbapat commented on #574
Let me understand what happened and I will get back

[2021-02-11 16:33] JeS24 commented on #574
@shreyasbapat Sure. Also, when I say "identical", I am talking about files in `src/`. Those seem identical.

[2021-02-11 16:35] shreyasbapat commented on #574
Oh. Ofc. That would be the case right? We only changed the tests. It was more of a symbolic release than a utility release

[2021-02-11 16:40] JeS24 commented on #574
But then, why does v0.3.1 have all but 18 recent commits to `main`: https://github.com/einsteinpy/einsteinpy/compare/v0.3.1...main? Was it created from `main`?

[2021-02-11 16:40] JeS24 commented on #574
Ideally, this should be the case.

[2021-02-12 00:06] j1ng3r commented on #574
I just wanted to say thank you so much for creating and maintaining this project. It really brings power to ordinary programmers to study and use tensors in curved spaces.

I have written my own function to multiply and contract tensors, so this is not an issue for me anymore.

[2021-02-13 05:11] JeS24 commented on #574
@j1ng3r Let's keep the issue open, as the PyPi puzzle is as yet unresolved.

[2021-02-13 20:09] JeS24 commented on #539
Fixed in #548.

[2021-02-13 20:09] #539 closed

[2021-02-14 20:11] aweinr4 opened #575 "Changes to the "from" method in the symbolic module"
🐞 **What bugs you?**

1. The 'from' methods afforded to each tensor are inconsistent or lacking.
For example, the Weyl Tensor has a 'from_metric' method, however the weyl tensor can be computed entirely from the riemann tensor. Meanwhile the riemann tensor can be computed from both the christoffels or the metric. All tensors should have the option to be computed from any of their potential parents

[2021-02-16 05:36] JeS24 commented on #575
@aweinr4 Thanks for opening the issue. I think a general `from()` function is a good idea, for all the reasons you've mentioned and it makes for cleaner API.  And overall, I think, this would require minimal changes. `from()` can be a wrapper over existing functions, so as to not break the API, while we can deprecate stuff over time, if needed.

As for the usage example: `RiemannCurvatureTensor.fr

[2021-02-16 16:15] aweinr4 commented on #575
That's sounds good to me, I actually have the function ready to go. Getting rid of the first argument will take some quick tweaks. I shall put up a pull request shortly.

[2021-02-19 08:48] JeS24 opened #578 "Formula for calculation of Reimann Tensor from Christoffel Symbols is incorrect"
🐞 **Problem**

See title and discussion in PR #573.

🎯 **Goal**

To fix inaccuracies in the package.

💡 **Possible solutions**

Change the formula, according to the discussion in PR #573.

📋  **Steps to solve the problem**

See PR #577.

[2021-02-22 16:46] #578 closed

[2021-03-08 23:29] AndriusT opened #580 "Outdated Documentation?"
Hi,

Thanks for the amazing code. I was trying it out today, but unfortunately a lot of the documentation seems to be outdated. Specifically, the following pages do not work with the newest version of the code:

https://docs.einsteinpy.org/en/latest/examples/Visualizing%20Event%20Horizon%20and%20Ergosphere%20%28Singularities%29%20of%20Kerr%20Metric%20or%20Black%20Hole.html
https://docs.einsteinpy.

[2021-03-09 17:41] JeS24 commented on #580
@AndriusT Thanks for opening the issue. Which version of EinsteinPy are you using?

[2021-03-09 21:41] JeS24 commented on #580
@AndriusT Thanks for adding the details. This issue is related to #574. Apparently, the package on PyPi is outdated, while the [GitHub Release](https://github.com/einsteinpy/einsteinpy/releases/tag/v0.3.1) has the updated code, which has led to a mismatch between the documentation (up to date) and the actual PyPi-distributed code (obsolete). For the time being, you can download the [.zip archive](

[2021-03-09 21:42] JeS24 commented on #580
@shreyasbapat This issue is urgent.

[2021-03-10 06:58] shreyasbapat commented on #580
Hi @AndriusT ! Thanks for bringing this to our notice. For now, please follow the steps told by @JeS24 . We will fix it ASAP!

[2021-03-10 14:31] NM4455 opened #581 "cannot import name 'Timelike'"
Hi,

I'm using einsteinpy for the first time in Python 3.8 / Jupyter using this code:

[code]

The code comes from the example here :
https://docs.einsteinpy.org/en/stable/examples/Animations%20in%20EinsteinPy.html

Unfortunately, it doesn't find the Timelike function.

Here is the error message:

`ImportError: cannot import name 'Timelike' from 'einsteinpy.geodesic' (C:\Users\...)`

I've reinstal

[2021-03-10 15:32] NM4455 commented on #581
Thanks @JeS24 .

I've installed the dev version 0.4.0a and it works fine now :)

`pip install git+https://github.com/einsteinpy/einsteinpy.git`

[2021-03-10 15:32] #581 closed

[2021-03-10 23:49] paulobarrera14 opened #582 "TypeError: __init__() got an unexpected keyword argument 'metric'"
🐞 **Problem**

Here it is not understanding the word metric.
![__init__()](https://user-images.githubusercontent.com/76925731/110714644-a9f05e80-81b8-11eb-9e78-e00a4cc31286.png)

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

[code]
</details>

* `python -c "import einsteinpy.testing; einsteinp

[2021-03-10 23:55] JeS24 commented on #582
@paulobarrera14 Thanks for opening the issue. Could you tell me, what version of EinsteinPy are you using and how did you install it? Your output mentions `EinsteinPy 0.4.dev0`, but the virtualenv seems to be configured with `EinsteinPy 0.3.1`.

[2021-03-10 23:57] paulobarrera14 commented on #582
I followed these steps:

https://github.com/einsteinpy/einsteinpy/issues/580#issuecomment-794494377

[2021-03-11 00:04] JeS24 commented on #582
I see. So this is related to #574, #580 and #581. Could you paste the output of the following command?
[code]

[2021-03-11 00:06] paulobarrera14 commented on #582
Here it is:

0.4.dev0

[2021-03-11 00:15] JeS24 commented on #582
This seems to be a version mismatch or virtual environment issue. I think, you are trying to run the code meant for the `latest / 0.4.dev0` version, using `stable / 0.3.1` version. Note that, the steps in https://github.com/einsteinpy/einsteinpy/issues/580#issuecomment-794494377 are for the `stable / 0.3.1` version of EinsteinPy. To install the `latest / 0.4.dev0` or dev version, you can run: `pip

[2021-03-11 00:21] paulobarrera14 commented on #582
So it says that I'm running the latest but my error is still occurring. I will attach a screenshot here.
![__init__()_2](https://user-images.githubusercontent.com/76925731/110716791-ab238a80-81bc-11eb-98d5-48486ae7e5fb.png)

[2021-03-11 00:23] JeS24 commented on #582
@paulobarrera14 This is weird. Could you paste the output of `?Timelike` (run it in the same Jupyter notebook)?

[2021-03-11 00:24] paulobarrera14 commented on #582
Init signature:
Timelike(
    position,
    momentum,
    a=0.0,
    end_lambda=50.0,
    step_size=0.0005,
    return_cartesian=True,
    julia=True,
)
Docstring:      Class for defining Time-like Geodesics
Init docstring:
Constructor

Parameters
----------
position : array_like
    Length-3 Array, containing the initial 3-Position
momentum : array_like
    Length-3 Array, containing the initial

[2021-03-11 00:33] JeS24 commented on #582
This docstring is outdated. Also, I see a mention of `timelike.py` in your pasted output:
[code]
As you can see in [`src/einsteinpy/geodesic/`](https://github.com/einsteinpy/einsteinpy/tree/main/src/einsteinpy/geodesic), `timelike.py` does not exist anymore (`Timelike` and `Nulllike` have been moved inside [`geodesic.py`](https://github.com/einsteinpy/einsteinpy/blob/main/src/einsteinpy/geodesic/g

[2021-03-11 00:37] JeS24 commented on #582
Also, I should mention, the code for `Geodesic` was modified in `0.4.dev0`. Some highlights were: removal of a Julia dependency and transition to a pure Python solver. As such, the class definitions for `Geodesic`, `Timelike` and `Nulllike` are different. The documentations for [0.3.1](https://docs.einsteinpy.org/en/stable/examples/Visualizing%20Precession%20in%20Schwarzschild%20Spacetime.html) an

[2021-03-11 16:54] JeS24 commented on #582
@paulobarrera14 Are you still facing this issue?

[2021-03-11 17:54] paulobarrera14 commented on #582
I haven't had time to try the last thing you said. I have two midterms this morning then I will start working on it again. I'll let you know if I face any more difficulties.

[2021-03-12 00:29] AndriusT commented on #580
Thanks!

I have installed the newest version and can now confirm that the relevant imports work.

I have tested the geodesic example (https://docs.einsteinpy.org/en/stable/examples/Using%20Geodesics%20%28Back-ends%20%26%20Plotting%29.html) and, unfortunately, it still does not seem to work. In particular, when defining the Geodesic class instance, it requires a 'metric' and 'metric_params', which

[2021-03-13 09:33] JeS24 commented on #580
Great.

You are looking at the docs for "stable" (v0.3.1). Since you are using the "latest" or dev version (v0.4.dev0), please peruse the docs for "latest". You can switch between docs by clicking on this screentip at the bottom right of the docs website:
![image](https://user-images.githubusercontent.com/31299799/111025821-c8e72e80-840c-11eb-84f9-e75c40bf9035.png)
![image](https://user-images.git

[2021-03-13 09:35] JeS24 commented on #582
@paulobarrera14 Hope your tests went well. When you have a moment, please try out the last suggestion and update here. And, if you face any problems, feel free to ask.

[2021-03-13 16:31] AndriusT commented on #580
Sorry, that was my bad. Now it all works. Thanks!

[2021-03-13 22:52] epsilonethan commented on #572
Saw the ApJ publication was released on March 8th. Started updating the references in fantasy.py, utils.py, and dual.py.

[2021-03-14 06:16] #572 closed

[2021-03-14 20:41] paulobarrera14 commented on #582
I'm playing around with it now and it is saying the name 'steps' is not defined. I tried to plug in step_size instead then it said delta wasn't defined. I used the code you sent on a fresh terminal to reinstall the dev version. Let me know what I can do.

[2021-03-14 20:47] paulobarrera14 commented on #582
Never mind, I just needed to update the kernal befor it. Now its giving me the error that I originally got. I will attach a screenshot.

![image](https://user-images.githubusercontent.com/76925731/111083648-cbf52400-84cb-11eb-9c51-0f6d056033d2.png)

[2021-03-14 20:57] JeS24 commented on #582
@paulobarrera14 Are you working in a fresh virtual environment?

[2021-03-14 20:59] paulobarrera14 commented on #582
By fresh virtual environment do you mean a brand new notebook in jupyter? Because yes, I reinstalled the .0.4.dev0 then opened a fresh notebook to try it again.

[2021-03-14 21:14] JeS24 commented on #582
I mean, a new, isolated Python environment, where you can try out specific versions of different packages. For reference, check [this](https://docs.python.org/3/tutorial/venv.html). As a short summary, follow these steps:

1. Create a new Python 3 Virtual Environment, called "epydev" (You can change the name to your liking): `python3 -m venv epydev`
2. Activate this env: `source epydev/bin/activat

[2021-03-14 21:19] JeS24 commented on #582
Once you "activate" the new environment, you will see the shell prompt change. It should have "epydev" written somewhere in the prompt. For example:
![image](https://user-images.githubusercontent.com/31299799/111084540-e9aca280-8538-11eb-8f57-5f5d17355128.png)

To go back to your global or default environment, you can "deactivate" epydev by running `deactivate` in the shell:
![image](https://user-

[2021-03-14 21:31] paulobarrera14 commented on #582
It gave me this but when I try to use those URLs it will say "sight can't be reached" 127.0.0.1 refused to connect.

(epydev) jovyan@jupyter-paulob14:~$ jupyter notebook
[I 21:23:28.535 NotebookApp] Writing notebook server cookie secret to /home/jovyan/.local/share/jupyter/runtime/notebook_cookie_secret
[I 21:23:28.801 NotebookApp] The port 8888 is already in use, trying another port.
[I 21:23:28.

[2021-03-14 22:06] JeS24 commented on #582
I see. Try running this code: https://pastebin.com/BKEv262b. Copy it to a .py file, say "SchwarzPrecess.py" and run `python SchwarzPrecess.py` **inside the "epydev" virtual environment** (Activate the environment the same way as before). It contains the code present here: https://docs.einsteinpy.org/en/latest/examples/Visualizing%20Precession%20in%20Schwarzschild%20Spacetime.html

[2021-03-14 22:09] JeS24 commented on #582
Or, just download the attached file and run `python SchwarzPrecess.txt` inside the epydev virtual env. Don't worry about the `.txt` file extension. This file contains the aforementioned Python code. So, it should run. GitHub doesn't allow uploading `.py` files yet.

[SchwarzPrecess.txt](https://github.com/einsteinpy/einsteinpy/files/6137665/SchwarzPrecess.txt)

[2021-03-14 22:22] paulobarrera14 commented on #582
I followed all the steps as before except the last part "Start a Jupyter Notebook server: jupyter notebook (Notebooks will be stored in the present working directory)." since it didn't work last time and then put "SchwarzPrecess.py" in my directory and ran it the way you said and nothing happened. It did this,
(epydev) jovyan@jupyter-paulob14:~$ python SchwarzPrecess.py
(epydev) jovyan@jupyter-pau

[2021-03-14 22:26] JeS24 commented on #582
@paulobarrera14 Did it not produce a plot?

[2021-03-14 22:27] paulobarrera14 commented on #582
I must be doing something wrong,

![image](https://user-images.githubusercontent.com/76925731/111086525-c0105e80-84d9-11eb-951c-7be166b23f2c.png)

[2021-03-14 22:28] JeS24 commented on #582
Anyway, run this. I have commented out the plotting part and am only printing `geod`. You can open this file in any text editor (like Notepad) to check out the code.

[SchwarzPrecess.txt](https://github.com/einsteinpy/einsteinpy/files/6137717/SchwarzPrecess.txt)

[2021-03-14 22:28] JeS24 commented on #582
Wait, are you using Windows Subsystem for Linux?

[2021-03-14 22:33] paulobarrera14 commented on #582
I'm using the terminal inside of JupyterLab. I don't know the specifics, it is my second quarter of programing in python. I dont believe it is a subsystem though because we do python out of the JupyterLab browser.

[2021-03-14 22:36] paulobarrera14 commented on #582
Tried your most recent .txt and got this

![image](https://user-images.githubusercontent.com/76925731/111086719-07e3b580-84db-11eb-8f0d-0574407e349d.png)

[2021-03-14 22:36] JeS24 commented on #582
Are you using a Windows machine or a Linux or macOS? Also, did the new file produce any output?

[2021-03-14 22:37] paulobarrera14 commented on #582
Windows Machine

[2021-03-14 22:37] paulobarrera14 commented on #582
It seems like only the plotting part is what wasn't working since geod is giving outputs

[2021-03-14 22:39] JeS24 commented on #582
Yep, this is expected. So, the code runs fine.

[2021-03-14 22:40] JeS24 commented on #582
You are, in fact, using Windows Subsystem for Linux or WSL in short. It's a unix-like shell environment on Windows. The reason, the plot doesn't show up is because WSL does not support creating graphical interfaces as of now. So, for any kind of graphical output, you will need to use something like Jupyter.

[2021-03-14 22:45] JeS24 commented on #582
Okay, now that we know that EPy-0.4.dev0 works fine in an isolated virtual environment, we can do one of two things:
1. try and fix it on your global or default conda environment, which can get messy or;
2. you can use this virtual environment ("epydev") for EPy related work.

I recommend going with #2. Even with `conda`, you are supposed to create new conda environments for separate stuff anyway.

[2021-03-14 22:48] JeS24 commented on #582
Try this again. Run `jupyter notebook` in the "epydev" env and try to open one of the URLs, it outputs.

[2021-03-14 22:50] JeS24 commented on #582
This is to help you visualize the plots. As I mentioned earlier, WSL cannot produce graphical output.

[2021-03-14 22:51] paulobarrera14 commented on #582
For my final project in my Astro302 class I wanted to use ipywidgets to make the notebooks more interactive. Using the virtual environment will I be able to still do that? I seems like it would need to be a global or default conda environment to be able to do so. If it is messy I could get you in contact with my professor since he's already helped make the notebook and his knowledge of how this wo

[2021-03-14 22:52] paulobarrera14 commented on #582
The URLs still do not work, it gives me the message "This sight can't be reached, 127.0.0.1 refused to connect."

[2021-03-14 22:54] JeS24 commented on #582
Yeah.

Even now, you are using a "virtual environment", which conda chooses to call "base" and makes it default.

[2021-03-14 23:00] JeS24 commented on #582
Copy the entire URL and replace `127.0.0.1` with `localhost`. For example:

`http://127.0.0.1:8889/?token=3f4ad9a0a698279dfded86830ebd278efc22d96403a5a3f3` -> `http://localhost:8889/?token=3f4ad9a0a698279dfded86830ebd278efc22d96403a5a3f3`

See if this works.

[2021-03-14 23:02] paulobarrera14 commented on #582
It gave me this:

This site can’t be reachedlocalhost refused to connect.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_REFUSED

[2021-03-14 23:07] JeS24 commented on #582
What's the output, when you run `jupyter notebook` and what's the URL you are using?

[2021-03-14 23:18] paulobarrera14 commented on #582
(epydev) jovyan@jupyter-paulob14:~$ jupyter notebook
[I 22:51:21.491 NotebookApp] The port 8888 is already in use, trying another port.
[I 22:51:21.491 NotebookApp] The port 8889 is already in use, trying another port.
[I 22:51:21.491 NotebookApp] The port 8890 is already in use, trying another port.
[I 22:51:21.494 NotebookApp] Serving notebooks from local directory: /home/jovyan
[I 22:51:21.494

[2021-03-14 23:18] paulobarrera14 commented on #582
Exactly that

[2021-03-14 23:21] JeS24 commented on #582
What browser are you using?

[2021-03-14 23:22] paulobarrera14 commented on #582
Google chrome

[2021-03-14 23:31] JeS24 commented on #582
Okay, run `jupyter notebook --ip 0.0.0.0 --port 1245` and then try opening the "localhost" URL, it outputs.

[2021-03-14 23:42] paulobarrera14 commented on #582
It is still saying that the sight can't be reached, I tried both outputs then changed, http://127.0.0.1:1245/?token=5175ff4914f4a2f13f1ac24cc5c7b2a33f290ad4896f95e0 to http://localhost:1245/?token=5175ff4914f4a2f13f1ac24cc5c7b2a33f290ad4896f95e0, and it still didn't work

[2021-03-14 23:52] JeS24 commented on #582
I see. Try this as a last resort for now:
1. Run `ip addr` to find out your IP.
2. Use that IP with the `jupyter notebook` command.

See the attached picture for reference (The IP, you need to look for, is highlighted in purple):
![image](https://user-images.githubusercontent.com/31299799/111088635-21721500-854e-11eb-910c-96cdf853dfc5.png)

[2021-03-15 00:00] paulobarrera14 commented on #582
jovyan@jupyter-paulob14:~$ ip addr
bash: ip: command not found

[2021-03-15 00:00] paulobarrera14 commented on #582
is it not working since its not actually downloaded on my computer and I'm just using a browser?

[2021-03-15 00:05] JeS24 commented on #582
Try this: `hostname -I | awk '{print $0}'` instead of `ip addr`.

[2021-03-15 00:06] JeS24 commented on #582
Are you working with a Jupyter Lab instance? I mean, are you doing everything through a browser and nothing locally? Then, yeah, some of these issues, including the "site can't be reached" issue is due to that.

[2021-03-15 00:10] JeS24 commented on #582
If it is a Jupyter Lab-like environment, try asking your professor to make `einsteinpy 0.4.dev0` default on your Jupyter instance for now. Your issue stems from a misconfigured conda environment. "Misconfigured" in the sense, that there seems to be clash between EPy 0.3.1 (the one from PyPi) and EPy 0.4.dev0 (from GitHub).

[2021-03-15 00:28] paulobarrera14 commented on #582
I just messages him on slack, I will let you know what he says

[2021-03-16 21:44] paulobarrera14 commented on #582
This is what he said back: Hi Paulo -- it's probably because we first installed with conda, and then the updated version with pip. I'll try to take care of this tomorrow (Monday), but so that I know when I succeeded, can you point me to a notebook in your JupyterHub space that's showing the error we're trying to fix?

[2021-03-16 21:47] paulobarrera14 commented on #582
I've been waiting for him to contact me back because I really want to finish this since the due date is Friday and it seems that the problem I keep getting is with it saying "__init__() got an unexpected keyword argument 'metric'".

I tried to use NullLike with the new code from dev.04 Visualizing Frame Dragging in Kerr Spacetime and it gives that error. The version I am running is the dev.04

[2021-03-16 21:50] paulobarrera14 commented on #582
Just tried the "Visualizing Event Horizon and Ergosphere (Singularities) of Kerr Metric or Black Hole" and it worked

[2021-03-17 22:33] paulobarrera14 commented on #582
My professor got it up and running. I did have another question with your geodesic command. I'm currently using ipywidgets to make a slider for spin precession on the frame dragging notebook but whenever I put in an a that isn't .99 it gives me a plot that looks like this

![image](https://user-images.githubusercontent.com/76925731/111547308-2d203000-8736-11eb-8af2-0fdd94cc64b0.png)

[2021-03-17 22:35] paulobarrera14 commented on #582
This plot showed up for both a = .5 and a = .95. I was wondering if you had any idea on why this was happening and what I could possibly do to fix it. Thank you!!

[2021-03-22 22:54] JeS24 commented on #582
I'm sorry. I did not receive a single GitHub notif or mail for any of these comments.

[2021-03-22 22:59] JeS24 commented on #582
As for this, your plot looks like an unstable, unbound geodesic for that particular initial condition (in terms of `a`). Try reducing the number of steps along with changing `a`. That should constrain how far away the test particle travels.

Also, it's entirely possible that the geodesic is actually bounded and perhaps even infalling, but as the test particle gets very close to the black hole even

[2021-03-22 23:03] JeS24 commented on #582
I would recommend using the Plotly backend to create interactive plots. To use it, you would import::
[code]
and replace `GeodesicPlotter` with `InteractiveGeodesicPlotter`. Using this, you can move around, pan and zoom in and out of the plot (in short, "interact" with the plot). This can help you check, if the geodesic is an unbound one or if the numerical errors are causing an infalling geodesic

[2021-03-22 23:05] JeS24 commented on #582
@paulobarrera14 I am closing this now, since the original issue has been resolved. You can open another issue for any other problem. This helps us keep track of separate issues.

[2021-03-22 23:05] #582 closed

[2021-04-15 04:15] rajpratyush commented on #363
hi @shreyasbapat is this issue open for work?

[2021-04-15 04:16] rajpratyush commented on #541
is this issue open for work @shreyasbapat @godslayer201

[2021-04-15 05:00] JeS24 commented on #541
@rajpratyush Yeah. You may work on it.

[2021-04-15 06:03] rajpratyush commented on #541
Ok great

[2021-04-17 20:12] shreyasbapat commented on #363
I think this needs the maintainer themselves to work on it!

[2021-04-17 20:13] shreyasbapat commented on #363
You can choose to work on something else :D

[2021-05-05 04:02] WenyinWei commented on #574
Hi, I have met the same issue with python *v3.7.5*, with einsteinpy *v0.3.1* installed today via pip. The `tensor_product` function is still missing indeed (05/05/2021). Shall we *update* the v0.3.1 pip tarball or *upload* a new one with the latest einsteinpy version? Or just *modify* the v0.3.1 doc? The difference between doc and code indeed makes users lost and confused.

einsteinpy's tensor fun

[2021-05-05 04:42] WenyinWei opened #584 "Remove the restriction that metric tensor can only be 'uu' or 'll'"
The `ValueError` restriction that says`Configuration can't have one upper and one lower index in Metric Tensor` in `MetricTensor` is neither physical nor exception-safe. We all know the metric tensors would be identity tensor in 'ul' and 'lu' index, which is physically reasonable. The only benefit is that it preserves all the information because the transformation to identity tensor is avoided. Th

[2021-05-05 11:57] shreyasbapat commented on #574
Will be releasing a new version this week and most likely today itself.
Sorry for the delay. The covid situation here is pretty bad :/

_______________________________________
This email is sent from a smartphone. Please ignore grammatical mistakes
and typographical errors.
_______________________________________

On Wed, 5 May, 2021, 9:33 am Wenyin Wei, ***@***.***> wrote:

[2021-05-05 16:23] WenyinWei commented on #574
Sad news, hoping things get better soon for you.

[2021-05-05 20:53] shreyasbapat commented on #584
Thanks @WenyinWei ! I will look into this tomorrow!

[2021-05-05 20:54] shreyasbapat commented on #580
Have made a release for the project just now. Hope this all will be fixed

[2021-05-05 20:54] #580 closed

[2021-05-05 20:55] shreyasbapat commented on #574
Have made a release just now. Please test it and report any bugs. Would be happy to help :D

[2021-05-05 20:55] #574 closed

[2021-05-08 16:44] tkx68 opened #586 "User guide needs update with respect to four_vector"
The user guide right in the first section mentions and uses `from einsteinpy.coordinates.utils import four_position, stacked_vec` but these seem to no longer exist.

[2021-05-11 03:42] WenyinWei opened #587 "Support Eq, tensor_cross, nabla symbol and component() method"
Let’s support `Eq`, `tensor_cross`, $nabla$ symbol in `Eq` and `component()` method. Furthermore, allow the user to express the equation in _compact_ (tensor symbol) form or _component_ form, _e.g._

Compact form: $\tensor{A} \cdot \tensor{B} = 0$,

Component form: $A^{i}_{j1}B^{j2}_{k} \vec{e}_{i} \vec{e}^{j1} \cdot \vec{e}_{j2} \vec{e}^k = A^{i}_{j}B^{j}_{k} \vec{e}_{i} \vec{e}^k$.

🎯 **Goal**

[2021-05-11 16:39] AfnanAlsaati opened #588 "the terms of the Ricci Tensor are tangled"
Hi everyone, when i print the ricci tensor in pyhton (with sympy and einteinpy) the results are tangled
how can I resolve this ?
I really don't understand how I should read this
If I can have some help please
in this picture, this is for the Ricci scalar
![image](https://user-images.githubusercontent.com/83760863/117853029-3afeb700-b288-11eb-9f52-a0899a095084.png)

[2021-05-14 04:35] WenyinWei commented on #497
The `self.matrix()` suggestion still failed to match Christoffel symbols, how about `self.array()`

[2021-05-14 16:54] shreyasbapat commented on #586
Oh, great catch @tkx68

Will make the changes :D

Thanks

[2021-05-14 16:55] shreyasbapat commented on #587
Hey @WenyinWei , let's discuss more about this.

[2021-05-14 16:56] shreyasbapat commented on #588
Hey @AfnanAlsaati , can you share some code snippet which can help me understand the problem well?

[2021-05-17 02:45] WenyinWei commented on #587
I would collect more info and record it here, about how other symbol engines handle such stuff.

[2021-05-17 22:29] AfnanAlsaati commented on #588
Hi @shreyasbapat,
Yes of course,
![image](https://user-images.githubusercontent.com/83760863/118564146-174bdd00-b770-11eb-815a-12f7234c5935.png)

I finally do my work on Notebook. I dont know why but in Python I can't display well the tensor like I said before

[2021-05-17 22:32] AfnanAlsaati opened #589 "Resolve the Einstein Equations"
Hello!

There is a way to resolve the Einstein equations with EinsteinPy  ?

If we consider that we have a function B(t) in the tensor, and we want to resolve the einstein equations and to determine the function B(t)

[2021-05-17 22:37] AfnanAlsaati commented on #589
I tried to resolve :
So I want  to add up the Einstein tensor with ( the metric tensor * the cosmological constant) to create one tensor, but I have an error :

""unsupported operand type(s) for +: 'EinsteinTensor' and 'MetricTensor'   ""

Can I have some help please ?

[2021-05-18 01:01] WenyinWei commented on #497
The same argument also applies to the Levi-Civita symbol (not yet exist in einsteinpy), which are not tensors indeed but can `tensor_product` and `tensor_cross` with other tensors in the way like a tensor. However, they do not follow the tensor way of config raising or lowering. So whether or not to inherit a new class `SpecialConfigChangeArray` from `BaseRelativityTensor` would need to taken care

[2021-05-19 18:23] shreyasbapat commented on #589
Hi @AfnanAlsaati , can you please post some code snippet that can help recreate the issue?

[2021-05-19 18:24] shreyasbapat commented on #588
Thanks @AfnanAlsaati . I will get back to you in a day or two on this.

[2021-05-19 18:25] shreyasbapat commented on #588
Also, would be great if the code snippet can be placed in a Github Gist or something like that. Because it helps understand the problem better.

[2021-05-19 18:40] AfnanAlsaati commented on #589
Hi @shreyasbapat,
I finally resolve my problem. Here the resolution (according to me).  And I also discover that in EinsteinPy there is an Einstein tensor ! '' EinsteinTensor "

![image](https://user-images.githubusercontent.com/83760863/118866538-63b72a00-b8e2-11eb-8a3c-be367d5746fc.png)

[2021-05-19 18:40] AfnanAlsaati commented on #588
Hi @shreyasbapat , Ok ! Tank you

This is my display of the tensor on Jupyter(notebook)  work well. It is only in python my problem.  I don't know why it don't work. Do you want that a copy and paste my python code ?

[2021-05-19 18:47] AfnanAlsaati opened #590 "The display of the Riemann Tensor"
Hi everyone !

When I display the Riemann tensor I don't understand how EinsteinPy display it. The Riemann Tensor should be symmetric, so why the display shows that it is not ... ?

How should I read it ?

 My Ricci tensor, christoffel, ricci scalar, ... etc  are all good.

[Exam rattrapage RG 2021 ISAE.pdf](https://github.com/einsteinpy/einsteinpy/files/6510976/Exam.rattrapage.RG.2021.ISAE.pdf)

[2021-05-19 18:47] AfnanAlsaati commented on #590
![image](https://user-images.githubusercontent.com/83760863/118867494-70884d80-b8e3-11eb-9db8-e18c15b6f21c.png)

[2021-06-05 01:04] imakn634 opened #591 "0.5 appears in Ricci tensor"
How about this?

[code]

[2021-06-05 08:19] imakn634 commented on #591
Again. 0.5, instead of 1/2, appears in Einstein tensor. 1/2 * R returns 0.5 * R, not R/2, at least in my environment.  My proposal is written in the above.

[2021-06-10 05:46] shreyasbapat commented on #591
Do you want to make a PR?

[2021-06-13 01:21] tomandersen opened #592 "Conda is at 0.3.1 - and I cant use pip"
Einstien py looks great. Using it for a few days now.

🐞 **Problem**
I can't use pip as pip install einsteinpy fails right now on the apple M1 processor. Fails installing llvmlite native arm64

I can install with conda. But it only installs 0.3.1

I think 0.3.1 has a bug where the Ricci tensor is not correct for some metrics (I am trying the Israel coordinates). But I'm not sure on that!

So I wan

[2021-06-13 13:18] tomandersen commented on #592
I am going to close this. I now have einstienpy 0.5 dev installed. My Christoffels are still 'wrong'. Determining what's wrong, likely my math.

[2021-06-13 14:54] shreyasbapat commented on #592
Hey @tomandersen !

Thanks for bringing this to notice. Working on fixing the conda recipe

[2021-06-14 13:00] tomandersen commented on #592
Great!

I was able to use pip install on the latest after the conda install, as conda has a working version of llvmlite for arm64 mac (the new ones).

--Tom

[2021-06-17 20:24] shreyasbapat commented on #592
Cool! Let's make it work

[2021-06-17 20:24] shreyasbapat commented on #592
@theycallmeloki

[2021-07-03 20:36] fabpan opened #593 "ImportError: cannot import name 'Timelike' from 'einsteinpy.geodesic' and ModuleNotFoundError: No module named 'einsteinpy.plotting.geodesic'"
🐞 **Problem**
I installed EinsteinPy in an environment created by Anaconda. Since Anaconda does not show EinsteinPy in the list of the packages not installed, I used the command `conda install -c conda-forge einsteinpy ` to install it. It seems that there is some problem in the installation, as shown belove. They are the first 3 lines of the notebook "Visualizing Precession in Schwarzschild Spacet

[2021-07-03 23:35] fabpan commented on #593
I was able to install EinsteinPy correctly. I had to create a new virtual environment and I had to use `pip install einsteinpy`, which installs version 0.4.0.
I had to open Notebook in the new virtual environment by Anaconda and the ipjnb file must be opened from the notebook (File->Open..) If just double-click on the file, a different virtual environment could be opened.
To check the virtual envi

[2021-07-03 23:35] #593 closed

[2021-08-20 07:59] Supaku9 commented on #541
Hi I would like to work on this

[2021-10-30 09:50] fusion809 opened #595 "Numerical approximation of the metric, when a closed-form solution is not available"
🐞 **What bugs you?**
I stumbled across this package when I was curious as to whether there was a relativistic equivalent to the [REBOUND C/Python package](https://github.com/hannorein/rebound/) for solving N-body problems. Then I learnt that this package can only predict orbits (find geodesics) for selected metrics for which there's a closed form namely Schwarzchild, Kerr and Kerr-Newman, and coul

[2021-12-30 05:10] loganshamberger commented on #525
@JeS24 If this issue is still open, I'd like to contribute to this. Are there metric classes or coordinates that are needed? I was thinking to start with the cosmic string in Schwarzschild as a first issue, but can do others if they are needed.

[2022-01-06 18:11] shreyasbapat commented on #525
Hi @loganshamberger ! You are welcome to contribute whatever you can!

[2022-01-09 16:52] GeoffCope opened #596 "Unable to evaluate Ricci and Einstein Tensor for Colliding Plane Waves Metric"
I am unable to evaluate the Ricci and Einstein tensors for a specific metric.  The same error occurs in the following notebooks:

https://github.com/GeoffCope/General_Relativity_Python/blob/main/EhlersKundtRosenMetric.ipynb

https://github.com/GeoffCope/General_Relativity_Python/blob/main/Distinct_family_of%20colliding_gravitational_waves_in_general_relativity_by_Halilsoy.ipynb

A simpler case of

[2022-05-09 07:40] ghost opened #598 "Installation bug ; four_position not found"
I tried to install Einsteinpy with Anaconda CMD.exe prompt with

"conda install -c conda-forge einsteinpy"

 but it seems that somes ressources are missing. When I tried the basic examples of metric tensor and tried to import on my jupyter notebook
"from einsteinpy.coordinates.utils import four_position, stacked_vec" it said :
*

🐞 **Problem**

🖥 **Please paste the output of following commands**
"

[2022-05-23 20:21] jasonkodish opened #599 "Error with Schwarzchild Metric import"
ImportError                               Traceback (most recent call last)
Input In [1], in <cell line: 3>()
      1 import numpy as np
----> 3 from einsteinpy.coordinates.utils import four_position, stacked_vec
      4 from einsteinpy.geodesic import Geodesic
      5 from einsteinpy.metric import Schwarzschild

ImportError: cannot import name 'four_position' from 'einsteinpy.coordinates.utils' (

[2022-05-23 20:29] jasonkodish opened #600 "TypeError: got an unexpected keyword argument 'a' in bodies module"
🐞 **Problem**

 2 Attractor = Body(name="BH", mass = 1.989e30 * u.kg, a = spin_factor)
      3 BL_obj = BoyerLindquistDifferential(50e5 * u.km, np.pi / 2 * u.rad, np.pi * u.rad, 0 * u.km / u.s, 0 * u.rad / u.s, 0 * u.rad / u.s,spin_factor)
      4 Particle = Body(differential = BL_obj, parent = Attractor)

File ~/gwpy/venv/lib/python3.9/site-packages/astropy/units/decorators.py:231, in QuantityInp

[2022-05-23 20:33] jasonkodish opened #601 "Error in coordinate conversion - TypeError: missing a required argument: 'z'"
Ran this: import numpy as np
from astropy import units as u
from einsteinpy.coordinates import BoyerLindquistDifferential, CartesianDifferential, Cartesian, BoyerLindquist

Then this:
a = 0.5 * u.km

pos_vec = Cartesian(.265003774 * u.km, -153.000000e-03 * u.km,  0 * u.km)

bl_pos = pos_vec.to_bl(a)
print(bl_pos)

cartsn_pos = bl_pos.to_cartesian(a)
print(cartsn_pos)

pos_vel_coord = CartesianDiff

[2022-06-11 19:47] OptXFinite commented on #540
I would also like to work on this. Looks like the toc tree was there but just hidden, so I will submit a PR shortly with the "hide" option removed

[2022-08-12 13:00] lorepieri8 opened #603 "Is the project still maintained?"
Awesome project, do you intend on keeping it updated? Last commit is 1 year old.

[2022-09-01 13:33] shreyasbapat commented on #603
Hi @lorepieri8 , we are having a hard time maintaining it with all the things happening around.

[2022-10-02 14:37] D3FaltXD opened #604 "Clean up the logo for the readme"
🐞 **The rough edges and bad color scheme for dark mode**

🎯 **Fix the logol**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pull request
 * Celebrate your contribu

[2022-10-02 14:56] KaranSinghBisht commented on #604
Hey @D3FaltXD after the fix, should I add the logo png in the src folder?

[2022-10-02 15:40] D3FaltXD commented on #604
yea sure... will make a pull request with the job done

[2022-10-27 17:25] bhavana-263 commented on #541
Is this issue still open for work @shreyasbapat

[2022-10-28 08:48] #586 closed

[2022-10-28 09:00] JeS24 opened #608 "Notebooks previews are broken"
🐞 **Problem**

Jupyter notebook previews for these two notebooks are broken currently.
1. [Animations in EinsteinPy](https://docs.einsteinpy.org/en/latest/examples/Animations%20in%20EinsteinPy.html) - Error shown.
2. [Using Geodesics (Back-ends & Plotting)](https://docs.einsteinpy.org/en/latest/examples/Using%20Geodesics%20%28Back-ends%20%26%20Plotting%29.html) - Incorrect geodesic calculation.

🎯

[2022-10-28 09:02] JeS24 commented on #586
Thanks for opening this issue.

[2022-10-28 09:05] JeS24 commented on #598
Thanks for opening this issue. This is related to outdated documentation at https://docs.einsteinpy.org/en/latest/user_guide.html, which has now been updated. Please upgrade to `einsteinpy>=0.4.0` (`pip install`) and consult the updated documentation.

[2022-10-28 09:05] #598 closed

[2022-10-28 09:05] JeS24 commented on #599
Thanks for opening this issue. This is related to outdated documentation at https://docs.einsteinpy.org/en/latest/user_guide.html, which has now been updated. Please upgrade to `einsteinpy>=0.4.0` (`pip install`) and consult the updated documentation.

[2022-10-28 09:05] #599 closed

[2022-10-28 09:06] JeS24 commented on #600
Thanks for opening the issue. This too is related to outdated documentation, which is now fixed in #607.

[2022-10-28 09:06] #600 closed

[2022-10-28 09:07] JeS24 commented on #601
Another issue caused by outdated docs. It's fixed now. Ensure that you are on `einsteinpy>=0.4.0` and consult the updated docs at https://docs.einsteinpy.org/en/latest/user_guide.html.

[2022-10-28 09:07] #601 closed

[2022-10-28 09:59] #608 closed

[2022-10-28 10:07] JeS24 commented on #604
Ensure that the logo looks good in both light and dark modes.

[2022-10-28 10:10] JeS24 commented on #591
`1/2 * R` does return $0.5R$, instead of $R/2$, but is this resulting in some incorrect computation? Or are you referring to how the output looks? If it's the latter, I think it's fine to leave it as is, because $0.5R$ takes up 1 line while displaying, while $R/2$ takes up 2. In interactive sessions with `init_printing()`, this is not a problem, but on command-line, this *might*, in some cases, le

[2022-10-28 10:10] #591 closed

[2022-10-28 10:19] JeS24 commented on #588
Hey @AfnanAlsaati, thanks for opening this issue. Since the elements in the matrix are quite long, they are getting split into multiple lines. So, the terminal window is unable to fit the whole matrix, leading to symbols being tangled. Another issue is that Sympy usually cannot generate latex output in the terminal, because many terminals do not support the full Unicode character set (UTF-8) out-o

[2022-10-28 10:19] #588 closed

[2022-10-28 11:00] JeS24 commented on #589
Thanks for opening the issue. As you've discovered, you can use [`EinsteinTensor`](https://github.com/einsteinpy/einsteinpy/blob/main/src/einsteinpy/symbolic/einstein.py#L8) to calculate the required terms. You can also use [`sympy.simplify`](https://docs.sympy.org/latest/tutorials/intro-tutorial/simplification.html) to get further simplified expressions (when applicable). There is a short tutoria

[2022-10-28 11:00] #589 closed

[2022-10-28 11:27] JeS24 commented on #590
Thanks for opening the issue. This was a bug in `einsteinpy 0.3.1` which was fixed in `einsteinpy 0.4.0` (#577). Please upgrade to version 0.4.0 via `pip install --upgrade einsteinpy` and re-run the code. It should produce the correct output.

Also, to answer this question:

I have written a guide to tensor-indexing in EinsteinPy, that is available [here](https://github.com/einsteinpy/einsteinpy/w

[2022-10-28 11:27] #590 closed

[2022-10-28 12:14] JeS24 commented on #596
Thanks for opening the issue. Since this seems to be a problem in Sympy's implementation of `collect`, we'll have to wait for fixes from Sympy's end. I am closing this issue for now.

For future ref: https://github.com/sympy/sympy/issues/22912.

[2022-10-28 12:14] #596 closed

[2022-10-28 12:46] JeS24 commented on #541
@bhavana-263 It is. You may work on it.

[2022-10-28 13:28] JeS24 opened #610 "[FR] Improvements to plotting geodesics"
🐞 **What bugs you?**

This is a list of general improvements that can be made to the `einsteinpy.plotting.geodesic.*` module:
- [x] Currently, one cannot pass a plot-title to the plot methods in `einsteinpy.plotting.geodesic.*`. This behaviour should be changed. A workaround for now is to directly access the figure or axes object in the `*GeodesicPlotter` instance and set titles that way, like wha

[2022-10-28 14:13] JeS24 commented on #497
@WenyinWei Right. `array()` is an obvious choice here. Also, this is how the current `tensor()` attribute is defined:
[code]
We are already returning "array" to the user, when `tensor()` is invoked. It would not take much work to edit this method to return `array()` instead. We can even make this a `@property`. We'd need a `DeprecationWarning` here though. Labeling this as a `good first issue`.

A

[2022-10-28 14:15] JeS24 commented on #374
I think, it is better to have mathematical operations as mixins that suitable objects can then derive from. Perhaps one can look into this.

Also ref: https://github.com/einsteinpy/einsteinpy/issues/497#issuecomment-1295053256.

[2022-10-28 15:19] GeoffCope commented on #596
Hi,

I’ve been wanting to use EinateinPy more in my work, and was wondering if you’ll be incorporating covariant derivatives at some point?

Best,
Geoff Cope

Sent from my iPhone

[2022-10-28 20:09] mshumayl commented on #610
Hi, just letting you know I've started working on the plot title and aspect ratio API improvement. Will send in a PR for review soon. Thanks!

[2022-10-29 08:00] JeS24 commented on #596
Support for more tensor operations in the symbolic module is certainly on the roadmap. I have worked a bit on this on my end. Currently EinsteinPy does not support arbitrary coordinates charts or basis-change, which is making it difficult to directly include these new operations without breaking the API. A new approach that I am trying involves breaking down the operations like taking derivatives

[2022-10-29 09:07] JeS24 opened #613 "README & Dev docs need updates"
🐞 **Problem**
- [x] Update the logo so that it works with both dark and light themes. See #604 and the related PRs.
- [x] Fix broken links and update outdated links in README.
- [x] Edit developer documentation at these places with general improvements and while keeping #543 in mind:
    - [x] [Developer Guide](https://docs.einsteinpy.org/en/latest/dev_guide.html)
    - [x] [CONTRIBUTING.rst](http

[2022-10-29 09:32] JeS24 opened #614 "Documentation at docs.einsteinpy.org needs updates"
### 🐞**Problem**

The docs are partially outdated. This issue is intended to track all the problems and fix them successively.
- [ ] See #540.
- [ ] ⭐ The changes to the user_guide / Introduction in the [`latest` / `0.5.0dev`](https://docs.einsteinpy.org/en/latest/user_guide.html) version needs to be backported to [`stable` / `0.4.0`](https://docs.einsteinpy.org/en/stable/user_guide.html), since t

[2022-10-29 11:27] JeS24 commented on #604
We need to update this image file for the changes to work everywhere (including the logo in the README) - https://github.com/einsteinpy/blog.einsteinpy.org/blob/master/img/logo.png.

[2022-10-29 17:00] #543 closed

[2022-10-31 13:59] JeS24 opened #616 "Drop Python 3.7 support"
🐞 **Problem**
Several core dependencies, like `numpy` and `matplotlib` have dropped support for Python 3.7. We should too. I am creating this issue as a form of documentation, especially because Google Colab is still on 3.7.

Also see: https://numpy.org/neps/nep-0029-deprecation_policy.html#support-table

💡 **Possible solutions**
List of files to edit:
- [x] [setup.cfg](https://github.com/einstein

[2022-11-01 21:33] #616 closed

[2022-11-01 22:01] JeS24 opened #618 "CI for macOS on M1/M2"
### 🐞 **Problem**
Currently, we cannot test against M1/M2 macs because GitHub Actions does not support those platforms. [It should change soon](https://github.com/github/roadmap/issues/528). Once they add support, we should also update our macOS runner.

### 📋  **Steps to solve the problem**

Wait, till M* support gets added. Then, update the corresponding runner.

[2022-11-03 16:18] #540 closed

[2022-11-03 16:18] #541 closed

[2022-11-03 16:56] JeS24 opened #621 "ReadTheDocs builds are failing"
### 🐞 **Problem**
ReadTheDocs builds have been failing since PR #617 was merged. A look at the logs reveal the `pip` is unable to resolve dependencies in time, causing the build to time-out.

### 💡 **Possible solutions**
Using more verbose YAML settings might help.

[2022-11-03 17:31] #621 closed

[2022-11-03 18:19] JeS24 commented on #621
Updating the settings in `.readthedocs.yml` helped.

[2022-11-04 13:14] JeS24 commented on #610
#612 addresses this almost entirely. **Moving the last one to a separate issue and closing this**.

[2022-11-04 13:14] #610 closed

[2022-11-04 21:31] JeS24 opened #624 "Geodesic Plotting improvements"
### 🐞 **What bugs you?**
(Continued from #610)

#612 added an `aspect` ratio option to `*GeodesicPlotter`s that helps avoid skewed plots. However, at the moment, we are using `plotly`'s nomenclature for aspect modes for the `InteractiveGeodesicPlotter` and `matplotlib`'s nomenclature for the `StaticGeodesicPlotter`. This is mainly because `matplotlib` is yet to finalize the API for the aspect opti

[2022-11-06 16:52] #604 closed

[2022-11-08 12:45] mshumayl commented on #624
Hi @JeS24, I'd like to work on this once matplotlib v3.7 gets released.

[2022-11-08 16:20] JeS24 commented on #624
@mshumayl Sure.

[2022-11-08 16:25] JeS24 commented on #613
Completed via #620, #623 & [705b35](https://github.com/einsteinpy/einsteinpy/commit/705b351dd80e4f1e81a4a66f0957178695e55c6b).

[2022-11-08 16:25] #613 closed

[2022-11-09 22:52] GeoffCope commented on #596
I neglected to mention that I'm part of a research group hoping to incorporate sympy (and hopefully EinsteinPy) into our framework.  The idea is to first generate the equationsof motion symbolically, and then import that into our numerical framework - hopefully using all open source code.  For simple enough vacuum metrics, I've been able to do this - they're available here:
https://github.com/Geof

[2022-11-15 07:17] JeS24 opened #626 "Add new example Jupyter notebooks / edit old ones"
### 🐞 **Problem**
We need new [example notebooks](https://github.com/einsteinpy/einsteinpy/tree/main/docs/source/examples) or edits to older notebooks to highlight the feature additions and API changes that EinsteinPy has seen over the years. Recently, two PRs added features that could use a notebook demonstrating them. This issue will track multiple features of EinsteinPy that should be properly